@media only screen and (max-width: 635px) {

	.content-area {
    align-items: center;
    justify-content: center;
    height: calc(85vh - 2px);
    display: flex;
    }

    .sub-topic {
    padding: 15px 4px;
    }

	.heading-class h1{
	font-size: 18px;
    line-height: 32px;
	}

	.sub-topic h6{
		font-size: 15px;
	}

	.content-four .sub-topic h6 span{
		font-size: 24px;
	}

	.navbar {
    padding: 15px 0px;
    }

    .navbar-brand{
    	margin-left: 1rem;
    }

	.sub-logo{
		display: block;
	}

    .sub-logo div {
    	margin-bottom: 10px;
    }
	.form input{
		min-width: 200px;
	}

	.sub-ride{
		padding: 0px;
	}

	.your-class-two .slick-next{
		right: 0px;
	}

	.your-class-two	.slick-prev{
		left: 0px;
	}

	.content-eight .city-col {
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 20px;
    }

    .left-col img{
    	width: 100%;
    }

    .content-three .left-col{
    	text-align: center;
    }

    .content-three .left-col img{
    	width:210px;
    }

    .right-col .sub-topic{
    	margin-top: 40px;
    }

    .three-row {
    margin: 0px;
    padding: 0px 0px;
     }


    .content-four .three-row {
    padding: 0px 0px;
    align-items: center;
    justify-content: center;
    }


    .col-space {
    display: inline-flex;
    justify-content: center;
    max-width: 100%;
    }

    .content-three {
    padding: 0px 0px 0px;
    }

    .content-four{
      padding: 0px 0px;
    }

    .content-five {  
       padding: 0px 0px;  
    }

    .sect-area h2{
    	font-size: 16px;
    }

    .content-six{
    	padding: 100px 0px;
    }

    .content-six .three-row {
    margin: 0px;
    padding: 75px 0px 0px;
    }

    .content-six .rider {
    padding: 15px 0px;
    }

    .content-seven {
      padding: 0px 0px;
    }

    .footer {
    padding-top: 50.485vw;
    background-position: initial !important;
    }

    .navbar-toggler .fa{
    	color: #fff;
    }

    .navbar-toggler{
    	padding: 0px 20px;	
        line-height: 35px;
    }

    .navbar-collapse{
    	background-color: #ffb506;
    	padding: 30px 0px;
    }
    .small .navbar {
    padding: 0px 0px;
    }

    .data p{
    	width: 100% !important;
    }

}


@media only screen and (max-width: 800px){

	.heading-class h1 {
    font-size: 36px;
    line-height: 45px;
    }
	.content-six{
		padding-top: 50px;
	}

	.content-eight .city-col{
		padding: 0px;
	}

	.data p {
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    width: 50%;
    margin-bottom: 35px;
    }

     .left-col img{
    	width: 100%;
    }

    .navbar-expand-md .navbar-nav .nav-link{
    	margin:0px 10px;
    }

    .nav-link{
    	font-size: 14px;
    }

    .bg-home {
    background-position: -28.26vw bottom !important;
}
}

@media only screen and (max-width: 1200px){
	.bg-home {
    background-position: -50.26vw bottom !important ;
     }
}

@media (max-width:1440px){
.bg-home {
    background-position: -24.26vw bottom;
}
}