body{
	font-family: 'Hind', sans-serif;
	font-weight: 400;
	font-size: 13px;
}

button{
	background: transparent;
	border:transparent;
	padding: 0px;
}

button:focus{
	box-shadow: none;
	outline: none;
}


#header-scroll {
    position:fixed;
    z-index: 9998;
    width:100%;
    -ms-transition:     all 0.3s ease-out;
    -moz-transition:    all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition:      all 0.3s ease-out;
    transition:         all 0.3s ease-out;
}

#header-scroll.small {
    background-color: #00386b !important;
    top:0px;
}

.small .navbar{
	padding: 6px 30px;
}

.navbar{
	padding: 15px 30px;
}


.navbar-nav{
	align-items: center;	
}

.dropdown-toggle::after{
	content: none;
}

.wrapper-page{
    overflow: hidden;
}

.dropdown-style{
	top: 130%;
    border-radius: 18px;
    border: none;
    box-shadow: 0 3px 30px 0 #eaeaed;
    padding: 10px 0px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-style .dropdown-item, .dropdown-style .dropdown-item{
	color: #00264c;	
     padding: 10px 20px;
}

.dropdown-style .dropdown-item:focus,.dropdown-style .dropdown-item:hover{
	color: #ffb506;
	background:transparent;
}

.content-area .sub-topic h6{
	color: #fff;
}

.content-area .sub-topic{
	display: block !important;
}

.wrapper-page{
    background-repeat: no-repeat;
    background: url("../img/back.jpg");
    background-size: cover;
    background-position: center center;
}

.nav-link{
	color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.nav-link::after{
	content: '';
	background: #ffb506;
	display: inline-block;
	width: 	0px;
	height: 2px;
	transition: width .3s;
	position: absolute;
    bottom: 0;
    left: 0;
}

.li-class.active .nav-link{
	 color: #ffb506;
}

.li-class.active .nav-link::after{
	  width: 100%;
    transition: width .3s;
}

.li-class:hover .nav-link{
	 color: #ffb506;
	 transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}


.li-class:hover .nav-link::after{
	   width: 100%;
    transition: width .3s;
}

.li-class:last-child .nav-link::after{
	content: none;
}

.li-class:last-child:hover .nav-link{
	    background-color: #ffb506;
	    color: #fff;
}

.navbar-expand-md .navbar-nav .nav-link{
    padding-left: 0px;
    padding-right: 0px;
    padding: 4px 0px;
    margin: 0px 20px;
}

.contact-btn{
	background-color: #00264c;
	border-radius: 30px;
    padding: 10px 20px !important;
    display: inline-block;
    vertical-align: middle;
}


.heading-class h1{
	/*white-space: nowrap;*/
    font-size: 75px;
    line-height: 82px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}

.heading-class h1:before{
	content: '';
    position: absolute;
    background: #ffb506;
    width: 70px;
    height: 4px;
    display: inline-block;
    bottom: -7px;
    left: 4px;
}

.content-area{
	 align-items: center;
    justify-content: center;
    height: calc(100vh - 2px);
    display: flex;
}


.sub-topic{
	padding: 25px 4px;
	display: inline-flex;
}

.sub-topic h6{
	z-index: 8;
    white-space: nowrap;
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    color: #002140;
    letter-spacing: 0px;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
}

.sub-logo{
	display: inline-flex;
}

.sub-logo .fa{
    color: #fff;
    font-size: 18px;
    vertical-align: middle;
    margin-right: 5px;
}

.apple-btn:hover .fa{
	color: #ffb506;
}

.sub-logo div{
	margin-right: 10px;
}

.google-btn{
  color: #FFF;
  background-color: #ffb506;
  border:1px solid #ffb506;
  padding: 12px 35px !important;
  display: inline-block;
  font-weight: 500;
  font-size:14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #00264c;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  border-radius: 30px;
}

.google-btn:hover{
	   box-shadow: inset 0 0 0 50px #00264c;
	    border:1px solid #00264c;
}


.apple-btn{
    background-color:#00386b;
	border-radius: 30px;
    padding: 10px 35px !important;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-weight: 500;
    font-size:14px;
    text-transform: uppercase;
    white-space: nowrap;
    transition: all 0.3s ease !important;
    border:2px solid #ffffff;
}

.apple-btn:focus{
    border:2px solid #ffb506;
	color: #ffb506;
}

.apple-btn:hover{
	color: #ffb506;
	border:2px solid #ffb506;
	transition: all 0.3s ease !important;
}

.heading-col{
	z-index: 999;
    padding-left: 50px;
}

.content-area-two{
	position: relative;
}

.content-area-two:before{
	content: '';
    position: absolute;
    bottom: -2px;
    z-index: 9;
    left: 0;
    right: 0;
    width: 100%;
    height: 15.7vw;
    background-image: url(../img/x3.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*.sub-logo img{
	display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.apple-btn img{
	margin-top: -3px;
}

.sub-logo .apple-btn{
	min-width: 200px;
	padding: 12px 35px !important;
}*/

/*.overall{
	padding: 45px;
}*/

.image-col{
    padding-right: 0px;
    animation: mymove 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes mymove {
  from {margin-top: 520px}
  to {margin-top: 0px}
}

.back-img{
	right: -125px;
	position: absolute;

}

.image-2{
    position: absolute;
    right: 0;
    top: -100px;
	z-index: 1;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: inherit;
    line-height: 0px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 18px;
    white-space: nowrap;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}

.image-2 img{
	right: 0;
    position: absolute;
    width: 1020px;
    height: 1250px;
    transition: none 0s ease 0s;
    text-align: inherit;
    line-height: 0px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 12px;
}

.image-3{
	position: absolute;
    right: 0;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: inherit;
    line-height: 0px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 13px;
    white-space: nowrap;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}

.image-3 img{
	width: 1593.77px;
    height: 818.465px;
    transition: none 0s ease 0s;
    text-align: inherit;
    line-height: 0px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 12px;
}

.content-three{
	padding: 30px 0px 0px;
}

.three-row{
	margin: 0px;
	padding: 50px 0px;
}

.right-col .heading-class h1{
	color: #4a4a4a;
	font-weight: 600;
	font-size: 32px;
}

.right-col .heading-class h1:before{
	content: none;
}
.sub-topic{
	position: relative;
}

.right-col h6{
    position: relative;
    padding-left: 72px;
}

.right-col .sub-topic {
    padding: 0px 4px;
}

.right-col .heading-class h1{
	line-height: 40px;
}

.yellow-bd{
	display: flex;
    position: absolute;
    background: #ffb506;
    width: 60px;
    height: 4px;
    align-items: center;
    vertical-align: middle;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
}

.data p{
	color: #7a7a7a;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    width: 80%;
    margin-bottom: 35px;
}

.bg-home {
    background-image: url(../img/bg-home-1.png);
    background-position: -8.26vw bottom;
    background-repeat: no-repeat !important;
    padding-bottom: 13.89vw !important;
    background-size: 85%;
}

.content-six .left-col img{
        width:100%;
}

.content-four{
	padding: 100px 0px;
}

.content-four .sub-topic h6{
   position: relative;
    padding-left: 72px;
}

.col-space{
	display: inline-flex;
	max-width: 20%;
    justify-content: center;
}

.content-four .three-row{
	padding: 10px 0px;
}

.content-four .sub-topic h6 span {
    color: #4a4a4a;
    font-weight: 600;
    font-size: 32px;
}

.ride-data{
	display: inline-block;
    vertical-align: top;
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 30px;
}

.sub-ride{
	position: relative;
    padding: 40px 20px;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: center;
    border-radius: 10px;
    min-width: 180px;
    min-height: 250px;
}

.sub-ride .fa{
	   color: #ffb506;
}

.sub-ride:hover{
   background-color: #ffffff;
   box-shadow: 0 24px 51px 0 #eaeaed;
   cursor: pointer;
   transition: all 0.3s ease;
}


.icon-ride{
    padding: 15px 0px;
}

.text-ride{
	padding: 5px 0px;
}

.text-ride h6{
	color: #757575;
    font-size: 14px;
}

.count-ride h5{
	color: #002140 !important;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 0;
}

.content-four .heading-class{
	padding-bottom: 10px;
}

.content-line{
	padding: 10px 0px;
}


.content-line h1{
    color: #002140;
    font-size: 2.667em;
    font-weight: 500;
}

.content-five {
	padding: 100px 0px;
}

.content-five .sub-topic {
    padding: 5px 4px;
}

.content-five h6 {
    position: relative;
    padding-left: 72px;
    font-size: 22px;
}

.overall-progress{
	overflow: hidden;
    padding: 30px 0px;
}

.progress-contain{
	width: 100%;
	padding: 20px 0px 25px;
}

.organ-name{
	/*padding: 7px 0px;*/
	font-size: 12px;
	font-weight: 600;
	color: #4a4a4a;
	min-height: 55px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.organ-count{
	font-size: 12px;
	font-weight: 600;
	color: #4a4a4a;
	min-height: 55px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.progressbar{
	margin:0px;
}
.progressbar li{
	list-style-type: none;
	float: left;
	width: 25%;
	position: relative;
	text-align: center;
}


.progressbar .img-icon::before{
    content:'';
	width: 15px;
	height: 15px;
	line-height: 28px;
	border: 3px solid #ffb506;
	display: block;
	text-align: center;
	margin:0px auto 0px auto;
	border-radius: 	50%;
	background-color: #000;
}

.progressbar .img-icon::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 4px;
	background-color: #b4b4b4;
	top: 5px;
	left: -50%;
	z-index: -1;
	transition: all .7s ease-out;
}

.li-class.inprogress .organ-name ,.li-class.inprogress .organ-count{
	color: #0083BF;
}

.li-class.inprogress .img-icon::before{
	 background-color: #fff;
    border: 3px solid #ffb506;
    transition: all .7s ease-out;
}


.li-class.inprogress .img-icon::after{
	background-color:#ffb506;
    transition: all .7s ease-out;
}

.li-class.active .organ-name ,.li-class.active .organ-count{
	color: #87CCA1;
}

.li-class.active .img-icon::before{
    content:'';
    background-color: #fff;
    border: 3px solid #ffb506;
    transition: all .7s ease-out;
}

.li-class.active .img-icon::after{
	background-color:#ffb506;
    transition: all .7s ease-out;
}


.progressbar .li-class:first-child .img-icon::after{
	content: none;
}

.inprogress .animate-one   {
-webkit-animation: pulse 1s infinite;
animation: pulse 1s infinite;
width: 15px;
height: 15px;
border-radius: 50%;
margin: 0 auto;
transition: color .15s ease-in-out;
}

@-webkit-keyframes pulse {
0% {
  box-shadow: 0 0 0 0 #ffb506; }
100% {
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2); } }
@keyframes pulse {
0% {
  box-shadow: 0 0 0 0 #ffb506; }
100% {
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2); } }


.sect-area{
    display: inline-block;
    width: 30%;
    padding: 10px 10px;
    border-radius: 7px;
    cursor: pointer;
}

.sect-area:hover{
 box-shadow: 0 3px 30px 0 #eaeaed;
 cursor: pointer;
}

.sect-area h2{
 font-size: 22px;
 color:#138637;
 font-weight: 500;
}

.sect-area p{
    color: #4a4a4a;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0px;
}

.sect-area-one{
    margin-left: 20%;
}

.sect-area-two{
	margin-left: 25% !important;
	margin-right: 0px !important;
	padding: 15px 10px;
}

.sect-area-three{
   margin-left: 14% !important;
	margin-right: 0px !important;
	padding: 15px 10px;
}

.sect-count{
 font-size: 22px;
 color:#138637;
 font-weight: 500;
 padding-right: 4px;
}

.wrapper-one{
	padding: 30px 0px;
}
.your-class {
	cursor: grab;
}
.your-class div{
	padding: 0px 30px;
}

.your-class img {
    max-width: 180px;
    margin: 0 auto;
    height: 130px;
}

.your-class img:focus{
	outline: none;
	box-shadow: none;
}

.slick-initialized .slick-slide:focus{
	outline: none;
}


.content-six{
	background-image: url(../img/bg-15.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.content-six .sub-topic h6{
	color: #fff;
}

.content-six .right-col .heading-class h1{
	color: #fff;
}

.content-six .data p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    width: 80%;
}

.content-six .rider{
   padding:45px 0px;
}

.content-six .left-col{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
}

.ride-icon {
	padding-bottom: 15px;
}

.ride-icon .fa{
	color: #fff;
	font-size: 4em;
}

.content-seven {
	padding: 40px 0px;
}

.content-seven .sub-topic {
    padding: 5px 4px;
}

.content-seven h6 {
    position: relative;
    padding-left: 72px;
    font-size: 22px;
}


.team-head{
	padding: 10px 0px;
}

.team-head h1{
	  color: #002140;
	  font-size: 2.667em;
	  font-weight: 500;
}

.head-one{
	text-align: center;
}

.img-head{
	position: relative;
	display: inline-flex;
}

.img-head img{
	border-radius: 50%;
}

.img-head:hover img{
	opacity: 0.2;
	cursor: grab;
}

.img-head:hover .centered{
    display: block;
}

.img-head .centered{
	display: none;
}

.centered ul{
	padding: 0px;
	margin:0px;
}

.centered ul li{
	display: inline-block;
	padding-right: 10px;
	cursor: pointer;
}

.centered ul li:last-child{
	padding-right: 0px;
}

.centered ul li .fa{
	color: #002140;
	font-size: 16px;
}

.centered ul li .fa:hover{
    color:  #ffb506;
	font-size: 16px;
}

.img-head .centered {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.img-title h4{
	color: #002140;
	font-size: 16px;
	margin-top: 15px;
	cursor: pointer;
	transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.img-title h4:hover{
	color:  #ffb506;
}

.head-one .img-role h6{
	color: #9b9b9b;
	font-size: 16px;
	padding-left: 0px;
}

.content-eight{
   padding: 30px 0px 50px;
}

.content-eight .sub-topic {
    padding: 5px 4px;
    display: inline-flex;
}

.content-eight h6 {
    position: relative;
    padding-left: 72px;
    font-size: 22px;
}

.content-eight .city-col{
	max-width: 20%;
    flex: 0 0 20%;
}

.city-det{
	text-align: center;
}

.content-eight .city-col h6{
	padding-left: 0px;
    padding-top: 20px;
    margin-bottom: 0px;
    cursor: pointer;
}

.content-eight .city-col h6:hover{
  color: #ffb506;
}

.city-det img{
	border-radius: 50%;
}


.box{
    position: relative;
    overflow: hidden;
}

.box:before,
.box:after,
.box-content:before,
.box-content:after{
    content: '';
    background-color: rgba(255,255,255,0.75);
    height: 25%;
    width: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.box:after{
    top: 25%;
    transition-delay:0.1s;
}
.box-content:before{
    top: 50%;
    transition-delay:0.2s;
}
.box-content:after{
    top: 75%;
    transition-delay:0.3s;
}
.box:hover:before,
.box:hover:after,
.box:hover .box-content:before,
.box:hover .box-content:after{
    opacity: 1;
}

.box .box-content{
    width: 100%;
    height: 100%;
    transform: translateX(-50%) translateY(-50%) scale(1);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
}

.box .icon{
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    transition: all 0.5s ease 0.3s;
}

.box:hover .icon
{ 
	opacity: 1; 
}

.box .icon li{
    margin: 0 4px;
    display: inline-block;
}
.box .icon li a{
    color: #fff;
    background-color: #0050a3;
    font-size: 18px;
    line-height: 35px;
    height: 35px;
    width: 35px;
    border-radius: 0 0 50%;
    display: block;
    transition: all 0.3s;
    cursor: pointer;
}

.footer{
	background-repeat: no-repeat;
    background: url("../img/footer.png");
     padding-top: 10.485vw;
    background-position: center top !important;
    background-size: cover !important;
}

.foot-head{
	padding: 0px 0px 30px;
}
.foot-head h1{
    color: #ffffff;
    font-weight: 500;
    position: relative;
}

.foot-head h1::after{
	content: '';
	background-color: #ffb506;
	position: absolute;
	display: inline-block;
	height: 3px;
	width: 50px;
	bottom: -12px;
    left: 47%;
    right: 50%;
}
.form{
	padding:10px 0px 20px;
}
.form input{
	border-radius: 30px;
	padding: 12px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border: 1px solid transparent;
    min-width: 360px;
    margin-right: -25px;
}

.form input:focus{
	outline: none;
	box-shadow: none;
}

.policy-mail{
	padding: 10px 0px;
}

.policy-mail h6{
	color: #fff;
	font-size: 16px;
}

.social-icon {
	padding: 20px 0px 40px;	
}

.social-icon ul{
	margin:0px;
	padding: 0px;
}

.social-icon ul li{
	display: inline-block;
    margin-right: 20px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #00264c;
    padding: 13px;
    cursor: pointer;
    transition: transform 1s, background 0.4s;
}

.social-icon ul li:hover{
	background-color: #ffb506;
    transform: translateY(-10px)rotateZ(360deg);
}

.social-icon ul li .fa{
	color: #fff;
}
.social-icon ul li:last-child{
	margin-right: 0px;
}

.copyright{
	padding: 20px 0px;
	background-color: #00264c;
}
.copyright p{
	color: #fff;
	margin-bottom: 0px;
}



.footer-detail{
	padding: 60px 0px;
    background-repeat: no-repeat;
    background: url("../img/footer-bg.png");
    background-position: bottom;
}

.footer-title{
	display: inline-block;
	vertical-align: middle;
}

.text-head{
	    display: inline-block;
    font-size: 22px;
    color: #4a4a4a;
    vertical-align: middle;
    position: relative;
    padding: 5px 0px;
}

.text-head:before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 35px;
    height: 2px;
    background-color: #ff9c00;
}

.footer-content p{
	font-size: 14px;
	color: #4a4a4a;
}

.footer-content{
	padding: 10px 0px;
	width: 100%;
}

.footer-content .list{
	margin: 0px;
	padding: 0px;
	width: 48.5%;
	display: inline-block;
}

.footer-content .list li{
	padding: 0px 0px 10px;
	list-style-type: none;
	color: #4a4a4a;
	font-size: 14px;
	cursor: pointer;
}

.footer-content .list li:hover{
	color: #ffb506;
}

.list-one .post-a{
	margin-bottom: 10px;
}

.list-one .post-b{
	color: #8b8686;
	font-size: 12px;
	margin-top: 5px;
}

.back-to-top span{
    background:#ffb506;
    padding: 15px 20px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    transition: ease-out 0.4s;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 99;
}

.back-to-top .fa{
	color: #fff;
	font-size: 22px;
}

.back-to-top span:hover{
    background: #00264c;
    transition: ease-out 0.4s;
}

