
.login-container{
  padding: 0px;
}

.login{
  width: 100%;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}


.life-text-two{
  color: #000;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0px;
  display: inline-block;
  vertical-align: middle;
  padding: 0px 15px;
  border-radius: 0px !important;
}

.life-text-two.border-left{
  border-left: 1px solid #4a4a4a;
}

.life-text-two.active, .nav-pills .show>.life-text-two {
    color: #ff3535 !important;
    background-color: transparent !important;
}

.life-text-two:hover{
    color: #ff3535 !important;
}

.mlia-logo{
  display: block;
  margin-bottom: 10px;
}

.logo-class {
  text-align: center;
 margin-bottom: 25px;
}

.logo-class img{
    width: 75px;
}

.life-text{
  font-size: 35px;
  color: #fff;
  font-weight: 700;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 60px;
  margin-bottom: 0px;
  padding-left: 85px;
}

.login-text{
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.login-text h4{
  font-size: 22px;
  color: #00A8E7;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.login-text img{
  display: none;
}

.log-text{
  color: #9b9b9b;
  font-size: 13px;
  font-weight: 500;
}

.forget-button{
      float: right;
      display: inline-block;
    background: transparent;
    border: transparent;
    color: #4a4a4a;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    line-height:40px;
}

.forget-button:hover{
  color: #ff3535;
}

label{
  display: flex;
  width: 100%;
  font-size: 16px;
  color: #4a4a4a;
  font-weight: 500;
}

.form_content{
  width: 50%;
  border:1px solid #ebebeb;
  padding: 50px;
}

.form-control:focus{
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.form-control{
  border: none;
  border-bottom: 1px solid #4a4a4a;
  transition: width 0.8s ease, border-color 0.8s ease;
}

.form-control:focus,.form-control:hover{
 border-bottom: 1px solid #ff3535 ;
 transition: width 0.8s ease, border-color 0.8s ease;
}

.key_icon {
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 9;
}

.login-class{
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    position: relative;
    background: #ff3535;
    color: #fff;
    font-size: 14px;
    padding: 6px 30px;
    font-weight: 500;
    transition-property: color;
    transition-duration: 0.3s;
}


.login-class:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


.login-class:hover:before, .login-class:focus:before, .login-class:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.log-nav{
  justify-content: center;
  margin-bottom: 50px;
}

.tab-content>.active {
    display: flex;
}



.login-col{
    /*display: inline-flex;*/
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px;
    padding-bottom: 100px;
}

.login-btn{
      margin-top: 25px;
}

.input-group input{
  padding: 0px;
  font-size: 13px;
  background: #fff !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


/*contact us*/

.contact-det{
  padding-bottom: 100px;
}

.contact-sec{
    padding-bottom: 100px;  
}

.enq-form{
  box-shadow: 0 25px 45px rgba(1, 2, 2, 0.12);
  padding: 30px;
}

.enq-form .input-fill textarea{
   min-height: 140px;
}

.get-touch{
  padding: 20px 50px;
} 

.get-touch h1{
  font-size: 40px;
  color: #000;
  margin-bottom: 20px;
}

.get-touch h4{
  font-size: 20px;
  color: #000;
}

.get-touch p{
  font-size: 14px;
  color: #000;
}

.contact-map{
  width: 100%;
  display: inline-block;
}

.gmap_canvas iframe{
  width: 100%;
}

.footer-contact li span{
  font-size: 14px;
    color: #4a4a4a;
}

.footer-contact li {
    position: relative;
    padding: 20px 0 20px 55px;
    font-size: 14px;
    border-bottom: 1px dashed #eee;
    cursor: pointer;
}



.footer-contact li:before {
    content: " ";
    position: absolute;
    top: 30px;
    left: 0px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #ff3535;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    border-radius: 30px;
    transition: all 0.2s ease;
}

.footer-contact li:hover:before{
  background-color: #000;
}

.footer-contact .address:before {
    content: "\f3c5";
}

.footer-contact .phone:before {
   content: "\f095";
}

.footer-contact .mobile:before {
    content: "\f3cd";
}

.footer-contact .email:before {
    content: "\f0e0";
}


/*about us page*/

.about-cont{
  padding-bottom: 100px;
}

.about-image{
 position: relative;
}

.about-logo {
    margin: 0;
    position: absolute;
    right:-50px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.about-logo h3 {
    background-color: #ff3535;
    border-radius: 100%;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    position: relative;
    right: 0;
    text-align: center;
    text-transform: capitalize;
    display: inline-block;
    width: 185px;
    height: 185px;
    line-height: 185px;
}

.about-logo h3::before {
    border: 1px solid #fff;
    border-radius: 100%;
    content: "";
    height: 152px;
    left: 17px;
    line-height: 144px;
    position: absolute;
    top: 17px;
    width: 152px;
}

.about-content{
  padding:20px 60px;
}

.about-content h2{
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 20px;
    text-transform: uppercase;
}

.about-content h6{
    font-size: 20px;
    margin: 0 0 20px;
    text-transform: uppercase;
}

.about-content p{
  font-size: 14px;
  line-height: 20px;
  color: #000;
  margin-bottom: 35px;
}



.slider-about{
  background-image: url('../img/bg-1.jpg');
  background-size: cover;
  margin-bottom: 100px;
  padding: 40px;
}

.det-class .pad-bot{
   padding-bottom: 30px;
}

.det-class .cont-class img ,.det-class .cont-name img{
  display: inline-block;
}

.det-class p{
  font-size: 14px;
  color: #000;
  margin-bottom: 0px;
}

.det-class h5{
  font-size: 16px;
  color: #000;
  margin-bottom: 0px;
}

.key-leads{
  padding-bottom: 100px;
}

.team-head{
  padding: 10px 0px;
}

.team-head h1{
    color: #002140;
    font-size: 2.667em;
    font-weight: 500;
}

.head-one{
  text-align: center;
}

.img-head{
  position: relative;
  display: inline-flex;
}

.img-head img{
  border-radius: 50%;
}

.img-head:hover img{
  opacity: 0.2;
  cursor: grab;
}

.img-head:hover .centered{
    display: block;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.img-head .centered{
  display: none;
}

.centered ul{
  padding: 0px;
  margin:0px;
}

.centered ul li{
  display: inline-block;
  padding-right: 0px;
  cursor: pointer;
}

.centered ul li:last-child{
  padding-right: 0px;
}

.centered ul li .fa{
  color: #000;
  font-size: 18px;
}

.centered ul li .fa:hover{
  color: #ff3535;
}

.img-head .centered {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.img-title h4{
  color: #002140;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.img-title h4:hover{
  color:  #ff3535;
}

.head-one .img-role h6{
  color: #9b9b9b;
  font-size: 16px;
  padding-left: 0px;
}



/*account page*/

.account-det{
  padding-bottom: 100px;
}

.account-det .nav{
  display: inline;
}

.account-det a:hover {
    color: #fff;
    text-decoration: none;
}

.account-det .nav-pills .nav-link{
  border-radius:0px;
  color: #4a4a4a;
}

.account-det .nav-pills .nav-item{
  border:1px solid #ebebeb;
  border-bottom: 0px;
}

.account-det .nav-pills .nav-item:last-child{
  border-bottom:1px solid #ebebeb;
}


.account-det .nav-pills .nav-link:hover{
    transition: all 0.3s ease;
    color: #fff;
    background-color: #ff3535;
}

.account-det .nav-pills .nav-link.active, .account-det .nav-pills .show>.nav-link{
  color: #fff;
  background-color: #ff3535;
}

.account-det .tab-content{
  border:1px solid #ebebeb;
}

.account-det .tab-content .container{
  padding: 20px;
}

.account-det .tab-content>.active{
  display: block;
}

.account-det .tab-content .container h3{
  font-size: 22px;
  display: block;
  color: #000;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ebebeb;
}

.account-det .tab-content .container h4{
  font-size: 14px;
  color: #000;
}

.account-det .tab-content .container h4 span{
  color: #ff3535;
  padding-left: 5px;
}

.account-det .tab-content .container p{
  font-size: 14px;
  color: #000;
  margin-bottom: 0px;
}

.account-det .tab-content .table{
  margin-bottom: 0px;
  margin-top: 20px;
}

.account-det .tab-content .table thead tr th{
  padding: 10px 10px;
  text-align: center;
  width: 20%;
}

.account-det .tab-content .table tbody tr td{
  padding: 10px 10px;
  text-align: center;
  width: 20%;
}

.account-det .tab-content h6{
  padding: 15px 0px;
  border-top: 2px solid #ff3535;
  margin-bottom: 0px;
  margin-top: 20px;
}

.account-det .tab-content .addres p{
  font-size:14px;
  color: #4a4a4a;
  font-weight: 500;
  margin-bottom: 20px;
}

.account-det .tab-content .addres h4{
  font-size: 13px;
  color: #4a4a4a;
  margin-bottom: 0px;
}

.account-det .tab-content .addres .mob{
  padding-top: 20px;
  color: #4a4a4a;
  font-size: 13px;
}

.account-det .tab-content .addres button:hover{
  color: #ff3535;
}

.social-icon.contact-icon ul li .fab {
    color: #fff;
    font-size: 15px;
}

button.plus-btn {
    float: right;
    background: #ff3535;
    width: 24px;
    height: 24px;
    border-radius: 30px;
    margin-top: 0px;
    transition: all .3s ease 0s;
}

.plus-btn:hover {
  background: #000;
}

.plus-btn .fa{
  color: #fff;
}