@media only screen and (max-width: 768px) {

  .mobile-nav{
    flex-direction: column !important;
    transform: rotateX(90deg);
    transition: all 0.5s ease 0s;
    margin-top: 75px;
    width: 100%;
  }

  .home-content {
    padding: 0px 0px;
  }

  .mob-pad-one{
    padding-top: 50px !important;
  }

  .navbar .collapse.show .mobile-nav{
    transform: rotateX(0deg);
  }

  .slick-prev {
    left: 0px !important;
  }

  .slick-next {
    right: 0px !important;
   }

   .account-li .sub-menu{
    left: -100px !important;
   }

  .navbar-brand{
    position: absolute;
    top: 0px;
  }

  .overal-img{
  	margin-top: 45px;
  }

  .bag-image h2 {
    bottom: 80px;
   }

   .feature-area{
   	margin-bottom: 30px;
   }

   .offer-cont {
    width: 65%;
    text-align: center;
    padding: 10px;
   }

   .popu-slide  .slick-prev {
    left: -15px;
    border-radius: 50%;
    border: 2px solid #9b9b9b;
    padding: 10px;
    transition: color 0.3s ease;
    }

    .popu-slide .slick-next {
    right: -15px;
    border-radius: 50%;
    border: 2px solid #9b9b9b;
    padding: 10px;
    transition: color 0.3s ease;
    }

  .navbar-expand-md .navbar-toggler{
    position: absolute;
    top: 23px;
    right: 0px;
  }
}


@media only screen and (max-width: 1024px) {
.sub-col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 170px 0px 0px;
}
.banner-img-one img{
  height:614px;
}

.banner-img-two img{
  height:254px;
}
}


  @media only screen and (max-width: 625px){
    .product-des p{
      max-width: 100%;
      width: 100%;
    }


    .cart-list ul li button {
      padding: 4px 6px;
    }

     .cart-list ul li {
      margin-right: 5px;
     }

    .offer-cont{
      width: 100%;
      text-align: left;
      padding:30px 0px;
    }

    .offer-cont h1 {
      font-size: 14px;
      }

      .offer-cont h6{
        font-size: 16px;
      }

      .offer-cont h4{
        font-size: 24px;
      }

      .offer-cont a{
        font-size: 12px;
      }

      .product-class{
        padding-bottom: 50px;
      }

      .view-more-btn {
       padding-top: 10px;
      }

      .home-content h1 {
      font-size: 30px;
      color: #4a4a4a;
     }

  }


   @media only screen and (max-width: 800px){

    .table thead{
      display: none;
    }

    .account-det .tab-content .container {
      padding: 20px 0px;
     }

     .contact-sec {
    padding-bottom: 0px;
    }


     .showing {
     color: #4a4a4a;
     font-size: 12px;
    }

    .account-det .tab-content .table tbody tr td{
      width: 100%;
      text-align: left;
      padding: 10px 20px;
    }

    .account-det .tab-content .table tbody tr td:last-child{
      border-bottom: 1px solid #000;
    }

    .account-det .tab-content{
      border: none;
    }
    .li-class:hover .submenu, .li-class:hover .submenutwo{
    overflow: auto;
    max-height: 200px;
    }

    .news-section {
    margin-bottom: 30px;
    }

    .get-touch {
     padding: 50px 10px;
    }

    .about-content {
     padding: 30px 10px;
     }

     .account-det .tab-content{
      margin-top: 25px;
     }

    .submenutwo .sub-li {
    display: inline-block;
    width: 100%;
    padding-right: 25px;
    }

    .submenu, .submenutwo {
    width: 198px !important;
    }

    .submenu, .submenutwo {
    position: absolute;
    width: 100%;
    left: -102px;
     }

    .navbar-expand-md .navbar-toggler{
      display: block;
    }

    .navbar-toggler-icon {
     margin-top: -12px;
    display: inline-block;
    width: 1.5em;
    height: auto;
    vertical-align: -webkit-baseline-middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    cursor: pointer;
    }

    .navbar-toggler-icon .fa{
      font-size: 16px;
    }

    .sub-nav{
	   position: absolute;
     top: 27px;
     right: 45px;
	   width: 100%;
    }

    .small .navbar {
    padding: 0px 0px;
    }

	  .sub-col {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 100px 0px 0px 0px;
    }


    .popu-slide  .slick-prev {
    left: 25px;
    border-radius: 50%;
    border: 2px solid #9b9b9b;
    padding: 10px;
    transition: color 0.3s ease;
    }

    .popu-slide .slick-next {
    right: 25px;
    border-radius: 50%;
    border: 2px solid #9b9b9b;
    padding: 10px;
    transition: color 0.3s ease;
    }

    .big-b .bag-img h2 {
     width:30px;
    }
    .features-class {
    padding: 0px 50px 50px 50px;
    }
    .footer {
       padding: 20px 15px 20px 15px;
    }
    .copyright p {
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
    }

    .feature-area ul{
      justify-content: center;
    }

    .login-row .form_content {
       width: 100%;
       padding: 20px;
    }
    .news-tab {
     margin-bottom: 30px;
    }
    .news-tab .nav-link{
    margin: 5px;
    font-size: 10px;
    }

    .tab-content>.active {
    display: block;
    padding: 0px;
    }

    #field1{
     margin-bottom: 20px;
    }
    .footer-content .list{
    	width: 48%;
    	margin-bottom: 20px;
    }

    .cart-detail.cart-show {
    right: -100px;
    visibility: visible;
    opacity: 1;
    }

    .cart-detail {
    top: 53px;
    }

    .navbar {
    padding: 0px 0px;
    }

    .navbar-nav {
    align-items: self-end;
    background: #fff;
     }

    .slider-class .slick-slide img {
      display: block;
      width: 100%;
    }

    /*product page*/
    .exzoom .exzoom_nav{
      margin-top: 50px !important;
      left: 30px !important;
    }

    .product-item {
      padding-bottom: 30px;
    }

    .prod-spec h1 {
      padding-top: 20px;
     }

     .product-sub ul li:last-child{
      margin-left:0px;
      margin-top: 10px;
     }

     .product-sub .pad-sub {
      margin-top: -25px;
     }

     .product-sub2 li{
      padding-left: 15px;
     }

     .menu-wise .card-img-top {
       width: 100%;
     }

     .product-name span{
      margin-bottom: 0px;
     }
     .mapouter {
      width: 100% !important;
     }

     .gmap_canvas {
       width: 100% !important;
     }

     .about-image img{
      width: 100%;
     }

     .about-logo{
      right: -10px;
     }

     .card-sec {
      margin-bottom:20px;
      }

      .cart-ship {
       padding-bottom: 30px;
       display: inline-block;
       text-align: center;
      }

      .cart-ship a{
        margin-bottom: 10px;
      }

      .content-area-con thead th{
        display: none;
      }

      .mob-label{
        display: block;
        color: #ff3535;
        font-size: 14px;
        margin-bottom: 10px;
      }

      .table tbody tr td {
      vertical-align: middle;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      color: #4a4a4a;
      border-bottom:0px;
      border-top:0px;
      padding: 10px 15px;
      display: block;
      }

      .table tbody tr td:last-child{
        border-bottom: 1px solid #ebebeb;
        padding: 20px 15px;
      }

      .table{
        border-top:1px solid #ebebeb;
      }

      .bag-img h3{
        bottom: 25px;
      }

}