.sub-menu-det{
	padding-top: 100px;
  margin-bottom: 50px;
}

.breadcrumb{
	background-color: #f6f6f6;
	text-align: center;
	padding: 25px 0px;
	justify-content: center;
	margin-bottom: 0px;
}

.breadcrumb-item{
	font-size: 14px;
}

.breadcrumb-item a{
	color: #4a4a4a;
}

.breadcrumb-item a:hover{
    color: #ff3535;
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #6c757d;
    font-weight: 600;
}

/*.product-det{
	padding-top: 50px;
}
*/

form.example input[type=text] {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  float: left;
  width: 85%;
  background: #fff;
}

input:focus{
	outline: none;
}

form.example button {
  float: left;
  width: 15%;
  padding: 10px;
  background: #fff;
  color: white;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  border-left: none;
  cursor: pointer;
}

.example .fa{
	color: #4a4a4a;
}

form.example button:hover {
  background: #fff;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.head-one{
	font-size: 15px;
    font-weight: 500;
    margin-bottom:20px;
    color: #1d1d1d;
}

.pb-40{
	padding-bottom: 40px;
}

.refine-cont ul{
	display:flex;
}

.refine-cont ul li{
	display:inline-flex;
	width: 50%;
	font-size: 14px;
	align-items: center;
}

.refine-cont ul li:last-child{
	justify-content: flex-end;
}

.refine-cont ul:hover label{
	color: #ff3535;
}

.refine-cont ul:hover .badge-info {
	background-color: #ff3535;
	color: #fff;
}

input[type=checkbox] + label {
  display: block;
  cursor: pointer;
  margin-bottom: 0px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    border: 1px solid #4a4a4a;
    border-radius: 0.2em;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: 4px;
    margin-right: 13px;
    vertical-align: top;
    color: transparent;
    transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: #ff3535;
  border: 1px solid #ff3535;
  color: #fff;
}

.round-count{
	width: 24px;
	height: 24px;
	background:#f2f2f2;
	border-radius: 30px;
	font-size: 14px;
	color: #4a4a4a;
}

.badge {
    display: inline-block;
    padding: 2px;
    width: 24px;
    height: 24px;
    font-weight: 500;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    border-radius: 50%;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.badge-info {
    color: #9b9b9b;
    background-color: #eeeeee;
}

.refine-cont{
	margin-bottom: 15px;
}

.refine-cont:last-child{
	margin-bottom: 0px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #fff !important;
    border: medium none !important;
    border-radius: 50%;
    height: 15px !important; 
    margin-left: 0;
    width: 15px !important;
    border: 4px solid #ff3535 !important;
}

.ui-widget-header {
    border: 1px solid #ff3535 !important;
    background: #ff3535 !important;
    color: #e1e463;
    font-weight: bold;
}

.ui-widget-content {
    border: 1px solid #eeeeee !important;
    color: #2c4359;
    background: #eeeeee !important;
}

.ui-slider-horizontal {
    height: 7px !important;
}

.ui-state-default, .ui-widget-content .ui-state-default:focus, .ui-widget-header .ui-state-default:focus{
	outline: none;
}

.tags-cont ul {
    width: 100%;
}

.tags-cont ul li {
    display: inline-block;
    margin-bottom: 15px;
}

.tags-cont ul li:hover small{
	background-color:#ff3535; 
	color:#fff;
	cursor: pointer;
}

.tags-cont small{
	background: #eeeeee;
    display: inline-block;
    padding: 5px 15px;
    font-size: 14px;
    color: #000;
    transition: ease-out 0.4s;
}

.prod-head{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product-sub{
	display: inline-flex;
	width: 50%;
}

.product-sub ul li{
	display: inline-block;
}

.product-sub ul li:last-child{
	margin-left: 20px;
}

.product-sub2{
	justify-content: flex-end;
}

.btn.focus, .btn:focus{
	box-shadow: none;
}

.new-btn{
	color: #4a4a4a;
	font-size: 15px;
	padding: 0px;
	margin: 0px;
}

.showing{
	color: #4a4a4a;
	font-size: 15px;
}

.mini-icon .fa{
  color: #4a4a4a;
  font-size: 16px;
}

.grid-color .fa{
	color: #ff3535;
}

.pagination-class{
	padding: 15px 0px 50px;
	display: flex;
	align-items:center;
	justify-content: center;
}

.pagination-class .page-link{
	color: #4a4a4a;
	font-size: 12px;
}

.page-link:hover{
   color: #fff;
   background-color: #ff3535;
}

.page-link:focus{
	box-shadow: none;
}

.sub-header{
    background-color: #000;
    padding: 30px 0px;
}

.foot-he{
	display: flex;
	align-items: center;
	justify-content: center;
}

.foot-he ul{
	display: flex;
	width: 100%;
}

.foot-he ul li{
	display: inline-flex;
	justify-content: center;
	width: 17.77%;
}

.sub-a{
	color: #fff;
	font-size: 15px;
}

.sub-a:hover{
	color: #ff3535;
	text-decoration: none;
}

.bg-colour{
	background-color: #effafa;
}

.bg-colour p{
   color: #ababab !important;
}

.social-site{
	margin-top: 14px;
}

.social-site ul{
   display: flex;
   width: 100%;
}

.social-site ul li{
   display: flex;
   width: 25%;
   color: #ababab;
   font-size: 14px;
   justify-content: center;
   cursor: pointer;
}

.social-site ul li:hover{
   color: #ff3535;
}


.menu-wise .card{
	flex-direction: row;
}

.menu-wise .card-image{
	overflow: visible;
}

.menu-wise .card-img-top{
   width: 252px;
}

.menu-wise .product-name p{
	font-size: 13px;
	color: #000;
	margin-top: 16px;
}

.menu-wise .prod-clo{
	margin-bottom: 16px;
}

.menu-wise .product-price{
	display: flex;
	align-items: center;
	width: 100%;
}

.menu-wise .product-price .prod-men{
	width: 50%
}

.cart-list ul{
	width: 100%;
}

.cart-list ul li{
	display: inline-block;
	text-align: center;
    margin-right: 10px;
}

.cart-list ul li button{
	background: #fff;
    border: 1px solid #4a4a4a;
    padding: 10px 15px;
}

.cart-list ul li button span{
	color: #000;
	font-size: 13px;
	font-weight: 400;
}

.cart-list ul li button:hover{
	background: #ff3535;
    border: 1px solid #ff3535;
    transition: ease-out 0.4s;
}

.cart-list ul li button:hover .fa{
	color: #fff;
}

.cart-list ul li button:hover span{
	color: #fff;
}


.cart-list ul li button .fa{
	    font-size: 14px;
	    color: #000;
}

.menu-view{
	display: none;
}

.prod-men.menu2{
  padding-top: 20px;
}