.news-section{
	margin-bottom: 100px;
}

.news-tab{
	min-height: 350px;
    border: 1px solid #eee;
    padding: 25px;
}

.news-tab .nav-pills .nav-link.active,.news-tab .nav-pills .show>.nav-link{
	background:transparent;
	color: #000;
}

.news-tab .nav-link:focus, .news-tab .nav-link:hover{
	outline: none;
}

.news-tab .nav-pills .nav-link:hover{
	color: #4a4a4a;
}

.news-tab .nav-link{
	padding: 0px 0px 5px;
	margin: 0px 1rem;
	position: relative;
}

.news-tab .nav-link:before{
	content: '';
	width: 0%;
	background-color: #ff3355;
	height: 2px;
	position: absolute;
	display: inline-block;
	bottom: 0px;
	transition: width 0.5s;
}

.news-tab .nav-item:hover .nav-link:before{
	width: 100%;
	transition: width 0.5s ease;
}

.news-tab .nav-item .nav-link.active:before{
	width: 100%;
}

.desp-p{
	padding: 20px 0px;
}

.desp-ul{
	padding-bottom: 20px;
}

.desp-ul .fa{
	margin-right: 20px;
}

.desp-p p{
	font-size: 13px;
	color: #000;
	line-height: 22px;
}

.additional ul{
	width: 100%;
}

.additional ul li{
	font-size: 14px;
	color: #4a4a4a;
	margin: 0px 0px 10px;
	line-height: 22px;
}

.additional ul li span{
	color: #000;
    display: inline-block;
    font-weight: 500;
    margin: 0 15px 0 0;
    min-width: 80px;
}

.review-sec .single-one:first-child{
	padding-top: 0px;
}

.single-one{
    padding-bottom: 10px;
    padding-top: 25px;
    border-bottom: 1px solid #eee;
}

.single-one ul{
	width: 100%;
    display: inline-flex;
}

.single-one ul li{
    display:block;
    align-items: center;
}

.image-pro {
	margin-right: 20px;
}

.image-pro img{
    max-width: 80px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
}

.review-det p{
    display: inline-block;
    font-size: 13px;
    font-style: italic;
    position: relative;
    margin: 0px;
    padding-bottom: 15px;
    color: #4a4a4a;
}

.review-det p::before{
  position: absolute;
  content: '';
  bottom: 0px;
  background-color: #000;
  width: 80px;
  display: inline-block;
  height: 1px;
}

.review-name{
	padding: 15px 0px;
}

.review-name .li-one{
	font-size: 14px;
	color: #000;
	width: 50%
}

.review-name .li-two{
	 display: flex;
    justify-content: flex-end;
    width: 50%;
}

.review-form{
	padding: 20px 0px;
}

.review-form span{
	color: #ff3535;
}

.fill-sec h4 {
    font-size: 13px;
    color: #4a4a4a;
}

.fill-sec p {
    font-size: 15px;
    color: #4a4a4a;
}

.input-fill{
	margin-bottom: 25px;
}

.input-fill label {
    display: block;
    font-size: 14px;
    color: #000;
}

.input-fill textarea{
	width: 100%;
    min-height: 175px;
    border: 1px solid #ececec;
    padding: 10px;
    resize: none;
}

.input-fill input{
	width: 100%;
    padding: 10px;
    border: 1px solid #ececec;
}

.input-fill input:focus, .input-fill textarea:focus {
    outline:1px solid #000;
}

.sub-btn-one{
	display: inline-block;
    background: #ff3535;
    padding: 6px 30px;
    font-size: 14px;
    border-radius: 30px;
    color: #fff;
    transition: all .3s ease 0s;
}

.sub-btn-one:hover{
	background-color: #000;
}



.product-item{
	padding-bottom: 100px;
}

.prod-spec{
	padding-left: 30px;
}

.pb-15{
	padding-bottom: 20px;
}
.prod-spec h1{
	font-size: 22px;
	color: #4a4a4a;
	margin:0px;
}

.review-class ul{
	width: 100%;
}

.review-class ul li{
	display: inline-block;
}


.review-class .review-one{
	margin-left: 20px;
	border-left:1px solid #9b9b9b;
}

.review-class .review-one span{
	color: #4a4a4a;
	font-size: 14px;
	padding: 0px 20px;
}

.review-class .review-one span:hover{
	color: #ff3535;
}

.prod-spec .review-des p{
	font-size: 14px;
	color: #4a4a4a;
	margin-bottom: 0px;
}

.prod-spec .prod-feature  ul{
	width: 100%;
}

.prod-spec .prod-feature ul li{
	font-size: 14px;
}

.prod-spec .prod-feature ul li:before{
	content: "-";
	color: #4a4a4a;
	margin-right: 5px;
	display: inline-block;
}

.prod-spec .prod-feature{
	border-bottom: 1px solid #ececec;
	padding-bottom: 20px;
}

.prod-spec .prod-color {
	padding-top: 20px;
	padding-bottom: 35px;
}

.prod-spec .prod-color label{
	color: #000;
	font-size: 14px;
}

.prod-spec .prod-color ul {
	width: 100%;
}

.prod-spec .prod-color ul li{
	display: inline-block;
	margin-right: 20px;
}

.prod-spec .prod-color .color-class ul {
	width: 100%;
}

.prod-spec .prod-color .color-class ul li{
	display: inline-block;
	margin-right: 10px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	cursor: pointer;
}

.prod-spec .prod-color .color-class ul li.blue{
	background-color: #4798f3;
}

.prod-spec .prod-color .color-class ul li.red{
	background-color: #ff3355;
}

.prod-spec .prod-color .color-class ul li.black{
	background-color: #000000;
}

.prod-spec .prod-color .color-class ul li.purple{
	background-color: #9c27b0;
}

.prod-spec .prod-color .color-class ul li.green{
	background-color: #4caf50;
}


.prod-spec .prod-color .size-class ul {
	width: 100%;
}

.prod-spec .prod-color .size-class ul li{
	display: inline-block;
	margin-right: 10px;
	background-color: #f2f2f2;
	color: #000;
	padding: 5px 10px;
	cursor: pointer;
}

.prod-spec .prod-color .size-class ul li:hover{
	background-color: #ff3535;
	color: #fff;
}

#field1{ 
    display: inline-block;
    border: 1px solid #ebebeb;
}

#field1 .sub ,#field1 .add{
	padding: 7px 10px;
    font-size: 14px;
    color: #4a4a4a;
}

#field1 input{
	border: none;
    font-size: 14px;
    text-align: center;
}
	
.quantity:hover .quantity::-webkit-inner-spin-button, 
.quantity:hover .quantity::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.cart-value{
	width: 100%;
	padding-bottom: 40px;
}

.cart-value .display-inline{
	display: inline-block;
	margin-right: 20px;
}


.video-btn{
    color: #ffffff;
    border: 1px solid #ff3535;
    background-color: #ff3535;
    transition: all .3s ease 0s;
    border-radius: 0px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    line-height: 1;
    padding:10px 30px;
 }

 .video-btn:hover{
 	border: 1px solid #000000;
    color: #fff;
    background-color: #000;
 }

 .cart-value .shop-now:hover{
 	    border: 2px solid #000000;
 	    color: #fff;
 	    background-color: #000;
 }

.cart-value button{
	vertical-align: middle;
}
 .cart-value .fa{
 	font-size: 22px;
 }

 
 .prod-details .cat-prod{
 	display: flex;
 	margin-bottom: 10px;
 }

 .head-cat{
 	font-size: 14px;
 	color: #000;
 	font-weight: 500;
 }

 .cat-prod ul{
 	padding-left: 20px;
 }

 .cat-prod ul li{
 	display: inline-block;
 	font-size: 14px;
 }

.slider-nav{
	margin-top: 30px;
}

.slider-nav img{
	padding: 0px 10px;
}


/*.slider-nav .slick-next:hover, .slider-nav .slick-prev:hover{
	background-color: transparent;
	border-color:transparent;
}
*/
.slider-nav .slick-next, .slider-nav .slick-prev{
	background-color: transparent;
	border-color:transparent;
}

.slider-nav .slick-next{
	right: -20px;
}

.slider-nav .slick-list{
	margin:0px 30px;
	cursor: pointer;
}

.full-view{
	position: relative;
}

.video-class{
	position: absolute;
	bottom: 15px;
	left: 15px;
	z-index: 9;
}

.cart-items{
	padding: 30px 0px;
}


.table-responsive {
  display: table;
  width: 100%;
  min-height: 0%;
  overflow: auto;
}

.full-con{
  margin: 0 !important;
  width: 100% !important;
}

.table {
    width: 100%;
    border-spacing: 0 0px;
    border-collapse: separate;
    border: 1px solid #ebebeb;
    border-top:0px;
}

.table thead tr{
    background-color: #f9f9f9;
    border: 1px solid #ebebeb;
}
.table thead tr th {
      vertical-align: middle;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      color: #000;
      border-bottom: 1px solid #ebebeb;
      border-top: 1px solid #ebebeb;
      padding: 20px 15px;
}

.table tbody tr td {
      vertical-align: middle;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      color: #4a4a4a;
      border-bottom: 1px solid #ebebeb;
      border-top: 1px solid #ebebeb;
      padding: 30px 15px;
}

.table tbody tr:hover {
    background: rgba(0,145,208,0.01);
    transition: .3s;
}

.cart-items h1{
	font-size: 18px;
	color: #000;
	margin-bottom: 20px;
}

.content-area-con button .fa{
	color: #4a4a4a;
	font-size: 20px;
}

.content-area-con button .fa:hover{
	color: #ff3535;
}

.cart-ship{
	padding-bottom: 30px;
	display: flex;
    justify-content: space-between;
}

.cart-ship a{
	background-color: #f2f2f2;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    padding: 18px 40px 17px;
    text-transform: uppercase;
    transition: all .3s ease 0s;
    color: #4a4a4a;
}

.cart-ship a:hover{
	background-color: #ff3535;
	color: #fff;
	text-decoration: none;
}

.estimate{
	padding-bottom: 60px;
	padding-top: 20px;
}

.card-sec{
    background-color: #f9f9f9;
    border: 1px solid #ebebeb;
	min-height: 290px;
	border-radius: 4px;
	padding:30px 20px;
}

.card-sec .header-cl {
	margin-bottom: 20px;
}

.card-sec .header-cl h4{
  color: #000;
  margin-bottom: 0px;
  position: relative;
  font-size: 18px;
  background: #f9f9f9;
  z-index: 999;
}

.card-sec .header-cl h4 span{
  background: #f9f9f9;
  padding-right: 10px;
}

.card-sec .header-cl h4:before{
  position: absolute;
  display: inline-block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #e3e1e1;
  left: 0px;
  z-index: -1;
  top: 11px;
}

.sub-header-cl{
	margin-bottom: 10px;
}

.sub-header-cl p{
	margin-bottom: 0px;
	color: #4a4a4a;
	font-size: 14px;
}

.drop-list label{
	color: #000;
	font-size: 14px;
}

.drop-list select{
	display: block;
    margin-bottom: 25px;
    width: 100%;
    padding: 6px;
    background: #fff;
    border: 1px solid #ebebeb;
}

.drop-list input{
	width: 100%;
	color: #000;
	padding: 6px;
	border: 1px solid #ebebeb;
}

.cart-cl{
	display: flex;
	justify-content: space-between;
}

.cart-cl div{
	font-size: 14px;
	color: #4a4a4a;
}

.font-weight{
	font-weight: 600;
}

.total-ship{
	padding: 20px 0px;
	border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}

.total-ship h3{
		font-size: 14px;
	color: #4a4a4a;
}

.total-cost{
	padding: 20px 0px;
}

.total-cost .cart-cl div{
	font-size: 16px;
	color: #ff3535;
	font-weight: 500;
}

.mob-label{
	display: none;
}
