body{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 13px;
    cursor: default;
}

button{
	background: transparent;
	border:transparent;
	padding: 0px;
}

button:focus{
	box-shadow: none;
	outline: none;
}

ul{
    padding: 0px;
    margin: 0px;
}

ul li{
    list-style-type: none;
}


.back-to-top span{
    background:#ff3535;
    padding: 15px 20px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    transition: ease-out 0.4s;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 99;
}

.back-to-top .fa{
    color: #fff;
    font-size: 22px;
}

.back-to-top span:hover{
    background: #000;
    transition: ease-out 0.4s;
}

#header-scroll {
    position:fixed;
    z-index: 9998;
    width:100%;
    height: 80px;
    -ms-transition:     all 0.3s ease-out;
    -moz-transition:    all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition:      all 0.3s ease-out;
    transition:         all 0.3s ease-out;
}

#header-scroll.small {
    background-color: #fff !important;
    border-bottom: 0 solid #4a90e2;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.09);
}

.small .navbar{
	padding: 0px 0px;
}

.navbar{
	padding: 15px 0px;
}

.navbar-brand img{
    width: 120px !important;
}

.navbar-nav{
	align-items: center;	
}

.content-area .sub-topic h6{
	color: #fff;
}

.content-area .sub-topic{
	display: block !important;
}


.li-class.active .nav-link{
     color: #ffb506;
}

.li-class.active .nav-link::after{
    width: 100%;
    transition: width .3s;
}

.li-class:hover .nav-link{
     color: #ff3535;
     transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}


.navbar-expand-md .navbar-nav .nav-link{
    padding-left: 0px;
    padding-right: 0px;
    padding: 25px 0px 20px;
    margin: 0px 20px;
}

.nav-link{
	color: #4a4a4a;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.li-class::before{
    border-bottom: 16px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: "";
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0px;
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
    z-index: 9999;
    box-shadow: 0px 0px 0px 0 rgba(196, 196, 196, 1);
}

.no-border::before{
    content: none !important;
}

.li-class:hover.li-class::before {
    opacity: 1;
    visibility: visible;
}


.li-class{
    position: relative;
}

.submenu,.submenutwo{
    position: absolute;
    width: 100%;
    left: -72px;
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 20px 0.4px rgba(0, 0, 0, 0.1);
    display: block;
    padding: 20px 30px;
    top: 100%;
    transform: rotateX(90deg);
    transform-origin: center top 0;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    width: 190px;
    z-index: 999;
}

.submenutwo{
    width: 690px !important;
}

.account-li .submenu{
    width: 172px !important;
}


.li-class:hover .submenu, 
.li-class:hover .submenutwo{
    transform: rotateX(0deg);
    visibility: visible;
}

.sub-cat{
    padding-top: 20px;
}


.submenu li,.sub-cat li{
    padding-bottom: 10px;
}

.submenu li:hover a,.sub-cat li:hover a{
    color:  #ff3535;
}

.submenu li a,.sub-cat li a{
    text-decoration: none;
    color: #4a4a4a;
    font-size: 14px;
}

.submenutwo .sub-li{
    display: inline-block;
    width: 24.6%;
    padding-right: 25px;
}

.submenu li .sub-cat{
    width: 155px;
}

.title{
    color: #000;
    padding: 10px 0px;
    font-size: 16px;
    width: 100%;
    border-bottom: 1px solid #9b9b9b;
    display: inline-block;
}

.title:hover{
    color: #000;
    text-decoration: none;
}


.sub-nav {
    display: inline-flex;
    justify-content: flex-end;
    width: 20%;
}

.sub-nav ul li{
    display: inline-block;
}

.sub-nav .nav-link{
    padding:0px 12px;
    cursor: pointer;
}

.sub-nav .li-class::before{
    content: none;
}

.badge-secondary {
    color: #fff;
    background-color: #ff3535;
}

.cart-badge {
    display: inline-block;
    padding: 4px;
    margin-left: -5px;
    font-size: 69%;
    font-weight: 700;
    border-radius: 30px;
    line-height: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: super;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.wrapper-one{
  background-color: #e7eaf0;
}

.sub-col{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 100px 0px 0px;
    /*height: 100vh;*/
}

.home-content h1{
    font-size: 54px;
    color: #4a4a4a;
}

.wrapper-one .row{
    margin: 0px;
}


.home-content{
    padding: 0px 50px;
}




.home-content p{
    font-size: 16px;
    color: #4a4a4a;
}

.shop-now{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    line-height: 1;
    border: 2px solid #000000;
    padding: 10px 30px;
    border-radius: 30px;
}

.shop-now:hover{
    color: #ffffff;
    border: 2px solid #ff3535;
    background-color: #ff3535;
    transition: all .3s ease 0s;
}

.banner-class{
    padding: 100px 0px;
}

.pad-left{
    padding-left: 100px;
}

.big-b .bag-img h2 {
    position: absolute;
    color: #fff;
    font-size: 26px;
    left: 20px;
    top: 20px;
}


.big-c .bag-img h2 {
    position: absolute;
    color: #fff;
    font-size: 26px;
    left: 30%;
    bottom: 20px;
}

.bag-image h2
{
    position: absolute;
    color: #fff;
    font-size: 26px;
    width: 200px;
    left: 20px;
    bottom: 140px;
}

.banner-img-one img{
  height:725px;
}

.banner-img-two img{
  height:304px;
}


.bag-img{
    position: relative;
    overflow: hidden;
}

.bag-img h3{
    position: absolute;
    color: #fff;
    font-size: 26px;
    width: 50px;
    left: 20px;
    bottom: 110px;
}

.bag-img img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.bag-img:hover img {
  -webkit-transform: scale(1.22);
  transform: scale(1.22);
}

.bag-image{
    margin-bottom: 50px;
}

.product-class{
    padding-bottom: 100px;
}

.product-des{
    text-align: center;
}

.product-des h3{
    color: #000;
    font-size: 26px;
    margin-bottom: 25px;
    padding-bottom: 12px;
    width: 100%;
    position: relative;
}

.product-des h3::before {
    content: '';
    background: #ff3535;
    width: 75px;
    position: absolute;
    height: 2px;
    display: inline-block;
    bottom: 0px;
    left: 50%;
    margin-left:-50px;
    text-align: center;
}

.product-des p{
    color: #4a4a4a;
    font-size: 14px;
    margin-bottom: 45px;
    display: inline-block;
    width: 400px;
}

.card-class{
     transition: all 0.5s ease;
     border:1px solid #f2f2f2;
     margin-bottom: 35px;
}
.card-class:hover{
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.card-image{
    position: relative;
    overflow:hidden;
}

.card-image:focus{
    outline:none;
}

.pop{
    position: absolute;
    padding: 0px 5px;
    background-image: linear-gradient(#ff3535,#f53d3d);
}

.pop-green{
    background-image: linear-gradient(#388e3c,#07a90f) !important;
}

.pop-orange{
    background-image: linear-gradient(#fb641b,#ff7735) !important;
}

.pop-yellow{
    background-image: linear-gradient(#ff9f00,#fdb640) !important;
}

.pop .new {
    font-size: 12px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
}

.product-share{
    position: absolute;
    display: flex;
    justify-content: center;
    left: 25px;
    right: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}

.product-share ul li:first-child{
    padding: 15px 0px;
    transform: translateX(-30px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0.2s;
}

.card-class:hover .product-share ul li:first-child{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    transition-timing-function: 2s;
}

.product-share ul li:nth-child(2){
    padding: 15px 0px;
    transform: translateX(-30px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0.4s;
}

.card-class:hover .product-share ul li:nth-child(2){
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    transition-timing-function: 2s;
}

.product-share ul li:nth-child(3){
    padding: 15px 0px;
    transform: translateX(-30px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0.6s;
}

.card-class:hover .product-share ul li:nth-child(3){
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    transition-timing-function: 2s;
}

.product-share ul li:last-child{
    padding: 15px 0px;
    transform: translateX(-30px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0.8s;
}

.card-class:hover .product-share ul li:last-child{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    transition-timing-function: 2s;
}


.product-share .fa{
    font-size: 18px;
}

.product-name span{
  color:#4a4a4a;
  font-size: 18px;
  margin-bottom: 10px; 
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-name span:hover{
 color: #ff3535;
}

.product-price span{
  color: #ff3535;
  font-size: 24px;
  margin-bottom: 10px; 
  font-weight: bold;
}

.product-price strike{
    vertical-align: middle;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
}

.star-style .fa{
   color: #e7a415;
   font-size: 16px;
}

.clock-style{
    position: relative;
    font-size: 14px;
    color: #9b9b9b;
    display: inline-block;
    white-space: nowrap; 
    width: 80px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.clock-style:hover{
    color: #ff3535;
    cursor: pointer;
}

.clock-style::before{
    display: inline-block;
    content: '';
    background:#9b9b9b;
    width: 30px;
    height: 2px;
    margin: 3px;
}

.view-more-btn{
    padding-top: 50px;
}

.display-one{
    display: none;
}

.more-product{
    display: none;
    padding: 50px 0px;
    transition: all 0.5s ease 0s;
}

.view-product{
    display: inline-flex !important;
}

.features-class{
    padding-bottom: 100px;
}

.feature-area ul{
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.feature-area ul li{
    display: inline-flex;
    align-items: center;
}

.feature-area ul .li-one{
    margin-top: -100px;
    margin-right: 30px;
}

.feature-area ul .li-two h2{
    font-size: 22px;
    color: #000;
    position: relative;
    margin-bottom: 20px;
}

.feature-area ul .li-two h2::before{
    position: absolute;
    display: inline-block;
    content: '';
    background-color: #4d5e7c;
    width: 45px;
    height: 3px;
    left: 0px;
    bottom: -10px;
}

.feature-area ul .li-two p{
    font-size: 14px;
    color: #4a4a4a;
    width: 200px;
}

.feature-area:hover img{
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.insta-class{
    padding-bottom: 100px;
}

.slide img{
     width: 100%
    margin-right: 20px;
}
.slide{
    padding: 20px;
}

.copyright{
  border-top:1px solid #cccccc;
  background:#1c1c1c;
}

.copyright p{
    color: #fff;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 14px;
}

.copy-write{
  padding:20px 0px;
}

.footer{
    padding:50px 0px;
    background: #000;
}

.inputs{
    position: relative;
}

.form{
    padding:10px 0px;
}
.form input{
    border-radius: 30px;
    padding: 12px 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 80%;
    border: 1px solid #4a4a4a;
    border-right: 0;
}

.form input:focus{
    outline: none;
    box-shadow: none;
}


.google-btn{
    background: #000;
    display: inline-block;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

.google-btn .fa{
    color: #fff;
    font-size: 20px;
    transform: rotate(15deg);
}

.google-btn:hover{
   background-color: #ff3535;
}

.footer-title{
    display: inline-block;
    vertical-align: middle;
}

.text-head{
    display: inline-block;
    font-size: 26px;
    color: #fff;
    vertical-align: middle;
    position: relative;
    padding-bottom:5px;
}

.text-head:before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 35px;
    height: 2px;
    background-color: #ff3535;
}

.footer-content p{
    font-size: 14px;
    color: #fff;
}

.footer-content{
    padding: 10px 0px;
    width: 100%;
}

.footer-content .list{
    margin: 0px;
    padding: 0px;
    width: 30%;
    display: inline-block;
}

.footer-content .list li{
    padding: 0px 0px 10px;
    list-style-type: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.footer-content .list li a{
     padding: 0px 0px 10px;
    list-style-type: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.footer-content .list li a:hover{
    color:  #ff3535;
    text-decoration: none;
}

.footer-content .list li:first-child {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    padding-bottom: 25px;
}

.footer-content .list li:hover{
    color:  #ff3535;
}

.footer .logo{
    margin-bottom: 30px;
}

.email-desc p{
    font-size: 14px;
    color: #fff;
    margin-bottom: 20px;
    width: 250px;
}



.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  transform: translate(0px, 0px) scale(1, 1);
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 40%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 0px;
    left: 0px;
    text-align: center;
    font-size: 42px;
    cursor: pointer;
    color: #fff;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
    padding: 10px 0px 5px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ffff;
    float: left;
    width: 95%;
    background: transparent;
    color: #fff;
}

.overlay input[type=text]:focus{
    outline: none;
}


.overlay button {
    float: left;
    width: 5%;
     padding: 10px 0px 5px;
    background: transparent;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #fff;
}

.overlay-content .fa{
    color: #fff;
    font-size: 16px;
}

.cart-rel{
    position: relative;
}


.cart-detail{
    background: #fff;
    padding: 20px 30px 20px;
    position: absolute;
    right: -800px;
    top: 45px;
    width: 340px;
    z-index: 9999;
    box-shadow: 0 0 20px 0.4px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 80px);
    transition: all 0.4s ease 0s;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
}

.cart-detail.cart-show{
    right: 0px;
    visibility: visible;
    opacity: 1;
}

.cart-detail .cart-one{
    display:flex;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
    width: 100%;
}

.cart-detail .cart-one span{
    display: flex;
    width: 62%;
    justify-content: flex-end;
}

.cart-detail .cart-one .fa{
 font-size: 22px;
 color: #4a4a4a;
 cursor: pointer;
}

.cart-detail .cart-one .fa:hover{
 color: #ff3535;
}

.cart-detail .cart-one h6{
    font-size: 14px;
    color: #000;
}

.cart-two ul{
    max-height: 300px;
    overflow:auto;
    margin-top: 30px;
}


.cart-two ul li{
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: 20px 0px;
}

.cart-det{
    margin-left: 30px;
}

.cart-two .cart-det h2{
    font-size: 16px;
    color: #000;
}

.cart-two .cart-det p{
    font-size: 14px;
    color: #4a4a4a;
}

.cart-three ul{
   width: 100%;
}


.cart-three{
    padding: 20px 0px;
    border-top:1px solid #ebebeb;
    border-bottom:1px solid #ebebeb;
}


.cart-three ul li{
   display: inline-block;
   font-size: 14px;
}

.view-div{
    margin-top: 10px;
}

.cart-btn{
    background-color: transparent;
    border:1px solid #000;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-align: center;
    width: 100%;
    transition: all 0.3s ease;
    padding: 10px;
}

.cart-btn:hover{
    border:1px solid #ff3535;
    background-color: #ff3535;
    color: #fff;
}



/*style hover*/

.box{
    overflow: hidden;
    position: relative;
}
.box:before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: skew(45deg) scaleX(0);
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
 
}
.box:hover:before{ 
    transform: skew(0) scaleX(1);
}

.box img{
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: all 0.5s ease 0s;
}

.box:hover img{ 
    transform: scale(1.2);
}

.box .box-content{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 0;
    opacity: 0;
    z-index: 2;
    transform: translateY(-50%) scale(0.8);
    transition: all 0.2s ease 0s;
}
.box:hover .box-content{
    opacity: 1;
    transform: translateY(-50%) scale(1);
}

.box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
}
.box .icon li{
    display: inline-block;
    margin-left: 5px;
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.3s ease 0.1s;
}
.box:hover .icon li{
    opacity: 1;
    transform: translateY(0);
}
.box:hover .icon li:nth-child(2){ transition-delay: 0.2s; }
.box .icon li a{
    display: block;
    width: 35px;
    height: 35px;
    line-height: 33px;
    border-radius:50% 0 50% 50%;
    background: #e2211a;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.box .icon li a:hover{
    background: #fff;
    color: #e2211a;
    box-shadow: 0 0 0 3px #e2211a inset;
    outline: none;
}

.product-area{
    padding-bottom:150px;
}

.card-image a:focus{
    outline: none;
} 

.ad-image{
    position: relative;
    padding: 0 10px;
    overflow: hidden;
}
.ad-image::before,
.ad-image::after{
    bottom: 10px;
    content: "";
    left: 20px;
    opacity: 0;
    position: absolute;
    right: 20px;
    top: 10px;
    transition: opacity .35s,transform .35s,-webkit-transform .35s;
    z-index: 1;
}

.ad-image::after {
    border-left: 2px solid #ff3535;
    border-right: 2px solid #ff3535;
    transform: scale(1,0);
    -webkit-transform: scale(1,0);
}

.ad-image::before {
    border-bottom: 2px solid #ff3535;
    border-top: 2px solid #ff3535;
    transform: scale(0,1);
}

.ad-image:hover::after, .ad-image:hover::before {
    opacity: .7;
    transform: scale(1);
}

.ad-image:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: .7s ease-in;
}

/*.ad-image:hover .banner-content{
    transform: translateY(0px);
    visibility: visible;
}*/

.banner-content{
    position: absolute;
    right: 100px;
    bottom: 65px;
/*    transform: translateY(180px);
    transition: all 0.5s ease 0s;
    visibility: hidden;*/
    z-index: 99;
}

.banner-2{
    right: 0px !important;
    left: 100px !important;
}

.banner-content h3{
   font-size: 18px;
   color: #4a4a4a;
   margin-bottom: 20px;
   font-weight: 500;
}

.banner-content h2{
   font-size: 22px;
   color: #4a4a4a;
   margin-bottom: 20px;
   font-weight: 500;
}

.banner-content a{
   font-size: 12px;
   color: #4a4a4a;
   text-transform: uppercase;
   cursor: pointer;
   font-weight: 600;
}

.banner-content a:hover{
   color: #ff3535;
   text-decoration: none;
}

.label-wishlist {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    top: 10px;
    right: 10px;
    width: 29px;
    height: 29px;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: opacity 0.4s ease 0.1s;
}

.label-wishlist:after {
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.label-wishlist .fa{
    color: #000;
    z-index: 1;
}

.label-wishlist .fa-heart{
    display: none;
}

.label-wishlist:hover .fa-heart,.label-wishlist.active .fa-heart{
    display: block;
    color: #ff3535;
}

.label-wishlist:hover .fa-heart-o,.label-wishlist.active .fa-heart-o{
    display: none;
    color: #ff3535;
}

.label-wishlist:hover{
    text-decoration: none;
}


.offer-section{
   background: url(../img/banner.jpg);
   background-repeat:no-repeat; 
   background-position: center;   
   background-size: cover;
   height: 500px;
   margin-bottom: 100px;
   height: 100%;
}

.offer-cont{
    width: 50%;
    text-align: center;
    padding: 80px;
}

.offer-cont h1{
    font-size: 60px;
    color: #0e2f40;
    font-weight: 500;
    text-transform: uppercase;
}

.offer-cont h6{
    font-size: 30px;
    color: #0e2f40;
    font-weight: 500;
    text-transform: uppercase;
}

.offer-cont h4{
    font-size: 50px;
    color: #0e2f40;
    font-weight: 500;
    text-transform: uppercase;
}

.offer-cont a{
    color: #0e2f40;
    font-size: 16px;
    text-transform: uppercase;
}

.offer-cont a:hover{
    text-decoration: none;
    color: #fff;
}

.social-icon {
    padding: 20px 0px 40px; 
}

.social-icon ul{
    margin:0px;
    padding: 0px;
}

.social-icon ul li{
    display: inline-block;
    margin-right: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #ff3535;
    padding: 12px;
    cursor: pointer;
    transition: transform 1s, background 0.4s;
}

.social-icon ul li:hover{
    background-color: #000;
    transform: translateY(-10px)rotateZ(360deg);
}

.social-icon ul li .fa{
    color: #fff;
    font-size: 15px;
}
.social-icon ul li:last-child{
    margin-right: 0px;
}


