
$gray: #7d93b2;
$logo-color: #234c87;
$h-color: #4c6280;
$hr-color:#e5f0ff;
$btn-danger:#ff5c72;



// button css //

.btn{
	border-radius: 8px;
    font-size: 16px;
    line-height: 16px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;  
    transition: all .3s;
    height: auto;
    cursor: pointer;
    margin-right: 30px;
}



.btn-danger{
	background: $btn-danger;
    color: #fff;
    box-shadow: 0 20px 30px rgba(125,147,178,.1);
    border: none;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    box-shadow: none;
}

.btn-trans{
		background-color: transparent;
    	border: 1px solid #ceddf2;
    	color: #7d93b2;
    }

.btn-trans:hover{
	background-color: #e5f0ff;
	border-color: #e5f0ff;
}


.nav-ctrl{
	position: absolute;    			
   	font-size: 90px;
}

.menu-logo-title{
	margin-bottom: 0px;
	font-weight: 800;
	color: $logo-color;
	font-size: 24px;
	padding-left: 15px;
	margin: 0;	    			    		
	    }

	    .link-gray{
	    	color:#7d93b2;
	    }

	    .link-gray:hover{
	    	color:#ff5c72;
	    }


//


// svg colors 

	.svg-bg {
	    fill: #fafcff;
	    opacity: 0;
	}

	.svg-light-gray {
	    fill: #e5f0ff;
	}
	.svg-dark-gray {
	    fill: #7d93b2;
	}
	.svg-white {
	    fill: #fff;
	}

	.svg-element {
	    fill: #ff5c72;
	    fill-rule: evenodd;
	}
	.svg-gray {
	    fill: #bed0e9;
	}
	.svg-light {
	    fill: #ceddf2;
	}

	.svg-text {
	    font-size: 16px;
	    text-anchor: middle;
	    font-family: Nunito,sans-serif;
	    font-weight: 800;
	}



	// reset css

	.list-style{
		list-style: none;	
		display: inline-block;	
	}

	.pad-mag{
		padding: 0px;
		margin: 0px;
	}

	h2{
		font-size: 48px;
	    line-height: 72px;
	}

	h3 {
		font-size: 36px;
		line-height: 54px;
	}

	h4{
		font-size: 24px;
	}

	h2,h3{
		font-weight: 200;
	    color: $h-color;
	    margin: 0;
	}

	h4,h5{	
	    line-height: 36px;
	    font-weight: 400;
	    color: #4c6280;
	    margin: 0;
	}


	a{
		text-decoration: none;
	    transition: all .3s;
	}

	a:hover{
		text-decoration: none;
	}

	ul{
		margin: 0px;
		padding: 0px;
	}

	p{
		margin: 0px;
		padding: 0px;
	}
	hr{	
		margin: 0;
		background-color: $hr-color;
		color:$hr-color;
		border: none;
		height: 2px;
	}

	button:focus{
		outline: none;
		}

	.mb-8{
		margin-bottom:80px;
	}




	//


	.container{
		max-width: 1560px;
	    margin-right: auto;
	    margin-left: auto;
	    transition: padding .3s;
		}

	.section{
		padding-bottom: 120px;
		transition: all .3s;
		}


	*{
		box-sizing: border-box;
		margin: 0;
		padding:0;
	}

	body{	
		background: #fafcff;
		font-family: 'Nunito Sans', sans-serif;
		height: 100%;
	    padding: 0px;
	    margin: 0px; 
	    color: $gray; 
	    font-size: 16px;
	    line-height: 32px;
	    font-weight: 200;
	}
	header.menu{
		display: flex;
		height: 95px;
	    align-items: center;
	    justify-content: space-between;
	    padding: 30px 0px;	
	    z-index: 999;
	    width: 100vw;
	    // transition: height .5s,padding-top .5s;
	    top: 0;
	    -webkit-transition: all 0.5s ease;
		-moz-transition: position 10s;
		-ms-transition: position 10s;
		-o-transition: position 10s;
		transition: all 0.5s ease;

    &.active{    	
    		padding: 30px 0px;
    		background-color: #fff;
    		position: fixed;
    		animation: smoothScroll 1s forwards;
    	}

    	@keyframes smoothScroll {
			0% {
				transform: translateY(-40px);
			}
			100% {
				transform: translateY(0px);
			}
		}
		
		.top-nav{
			@extend .container;
			display: flex;
	    	justify-content: space-between;
	    	align-items: center;    	
		}
		

	    .left-item{
	     	a{
	     		display: flex;
	    		align-items: center;

	    		svg{
	    			fill: #ff5c72;
	    			fill-rule: evenodd;
	    		}
	     	}	     	
     	}


		.menu-dropdown{
			position: relative;
		}
		.menu-dropdown-btn{
			position: relative;
	    	display: inline-block;
		}

		.link-gray{
			color: $gray;
		}

		.left-item{
			a{
				text-decoration: none;
			}
		}

	nav.menu-nav{

		ul.menu-nav-link{
			@extend .pad-mag;
		}

		li{
			@extend .list-style ;
    		padding-right: 25px;
		}
		a{
			text-decoration:none;
			color: $gray;

			&.btn-danger{
				color: #fff;
				margin-right: 0px;
			}
		}

	}


	.right-right{

		nav.mani-right-nav{
			ul{
				@extend .pad-mag;

					li {
						@extend .list-style ;					

					    &:first-child{
					 	  padding-right: 25px;					 	  
					  }
					}

				   a{
					 text-decoration:none;

					&:first-child{
						margin-right: 0px;
					}

				   }
				}

			}
		}
	}


	.main-content{
		margin-top: 100px;
	    overflow: hidden;

	    .owl-carousel{

	    	.owl-nav{
	    		position: absolute;
			    bottom: 15px;
			    left: 50%;   			
	    	}

	    	.owl-prev{
	    		width: 25px;
    			margin-right: 50px;

    			&:hover{
    				background: transparent;
    			}
	    	}
	    	.owl-next{
	    		width: 25px;

	    		&:hover{
    				background: transparent;
    			}
	    	}
	    }
	

		h2.app-title{
			width: 100%;
    		margin-top: 90px;
    		margin-bottom: 35px;
    		transition: all .3s;
    		word-break: break-word;
    		color: $h-color;
    		font-weight: 200;
		}

		p{
			width: 100%;
		    line-height: 35px;
		    color:$gray;
		    margin-bottom: 60px;
		    word-break: break-word;
		    transition: all .3s;
		    font-size: 18px;
		}		

		.bg-image{

			img{				
			    background-repeat: no-repeat;
		    	background-position: 125%;
		    	background-size: contain;
		    	width: 100%;
			}
				    	
		}
		
	}

	.content-sec{

		.container{



		h3.content-title{
			margin-bottom: 50px;
    		text-align: center;
		}

		p.description{
			text-align: center;
    		max-width: 750px;
    		margin: 0 auto;    		
		}

		.features{

			&.integrate-card {				
			
			    .features-card{
			    	width: 500px;
			    	margin: 0 auto;
			    	padding: 60px;

			    		.int-logo{
							display: flex;
							align-items: center;
							justify-content: center;
								svg{
									margin-bottom: 0px;
									}	
			    				}
			    		.int-desc{
			    			margin:20px 0px;

			    		}
			    	}
			    	.app-store{
			    		display: flex;
					    justify-content: center;
					    align-items: center;
					    padding-top: 35px;

					    .btn{

					    	&.btn-trans{

					    		&:hover{
						    		background:#76889a;
						    		border: 1px solid #76889a;
						    		color: #fff;

							    .last-child{
							    	margin-right: 0px;
								}
					    	}
					    }
					    &:last-child{
					    	margin-right: 0px;
					    }

					   i{
					    	padding-right: 10px;
					    }
					}
			    }
			}

			.features-card{
				padding: 40px 10px 42px;
    			cursor: pointer;
    			height: 100%;
    			border-radius: 8px;
    			box-shadow: 0 8px 15px rgba(125,147,178,.25);
    			transition: all .3s;
    			padding: 20px;
    			margin-top: 32px;
    			align-items:center;
    			border: transparent;
    		    justify-content: center;
			    align-items: center;
			    display: flex;

    			&:hover{
    				box-shadow: 0 20px 30px rgba(125,147,178,.15);

    				p.features-title{
    					color:$btn-danger;
    				}
    			}

    			svg{
    				margin-bottom: 30px;
    				
			}

				p.features-title{
					font-size: 18px;
	    			line-height: 28px;
	    			margin: 0;
	    			color: $gray;
	    			text-align: center;
				}
	    			}
	    	&.questions{

	    		margin-bottom: 60px;

				.features-card{
					justify-content: left;
					align-items: end;
					padding: 38px 32px 46px;

						.que-imag{					
						  width: 100%;
						  margin-bottom:30px;

						  img{
						  	display: inline-block;
						  	width: 10%;
						  }
						  h4{
						  	display: inline-block;
						  }
						}

					}
				}
						
			}	

			

			hr{
				margin-top: 150px;		
			}
			.read-sec{
					display: flex;
					justify-content:center;
					margin-top: 20px;
				}	

		}
		
	}


	.video{

		padding: 70px 0px 0px;

		.col-offset-1{
			margin-left: 8.3333%;
		}

		.video-bg{

		    background-image: url("../../images/img_video.png");
		    background-position: 50%;
    		background-size: cover;
    		position: relative;
    		box-shadow: 0 50px 60px rgba(125,147,178,.15);
    		border-radius: 8px;
    		cursor: pointer;

    		&.video-loaded {

    			.embed-responsive{

    				.embed-responsive-item{
    					z-index: 2;
    					opacity: 1;
    				}
    			}
    			
    		}

    		&:before{
    			display: block;
    			content: "";
    			width: 100%;
    			padding-top: 56.25%;
    			border-radius: 8px;
    		}

    		&:after{
    			content: "";
			    position: absolute;
			    left: 0;
			    top: 0;
			    width: 100%;
			    height: 100%;
			    background-color: rgba(125,147,178,.7);
			    opacity: 1;
			    transition: opacity .3s,left 0s .3s;
			    box-shadow: 0 20px 30px rgba(125,147,178,.3);
			    border-radius: 8px;
    			}	

    			.video-play{
    				position: absolute;
    				cursor: pointer;
    				z-index: 2;
    				top: 50%;
    				left: 50%;
    				transform: translate(-50%,-50%);
    				width: 120px;
    				height: 120px;
    				border-radius: 3px;
    				transition: all .3s;

    				img{
    					box-shadow: 0 20px 30px rgba(0,0,0,.15);
    					border-radius: 50%;
    					transition: all .3s;
    					max-width: 100%;
    				}
    			}	

    			.embed-responsive{
    				position: absolute;
			    	top: 0;
			    	left: 0;
			    	right: 0;
			    	bottom: 0;

			    	.embed-responsive-item{
			    		position: absolute;
    					opacity: 0;
    					z-index: -1;
    					transition: opacity .3s;
    					width: 100%;
    					height: 100%;
			    	}
    			}    	
    		}

		}

		.about-app {
			padding-top:120px;

			&.app-reverse{
				flex-direction: row-reverse;
			}

			.app-content{
				max-width: 550px;
    			width: 100%;
    			transition: all .3s;
    			margin: auto 0;

    			&.content-left{
    				margin-left: auto;
    			}
    			h4{
    				margin: 35px 0px;
    			}
			}
		}

		.app-img{
			text-align: center;
    		transition: all .3s;
    		display: -ms-flexbox;
    		display: flex;

    		.about-img{
    			margin: 0px auto;

    			img{
    				max-width: 83.3333%;
    				width: 100%;
    				box-shadow: 0 20px 30px rgba(125,147,178,0.1);
    				transition: all .3s;
    				margin: 0 auto;
    				vertical-align: middle;
    				border-radius: 8px;
    			}
    		}
		}

   	


	.test-sec{
		background: #e5f0ff;

			.owl-carousel {

				&#testimonial-slider{
					display: flex;
				    align-items: center;
				    justify-content: center;
				    vertical-align: middle;
				    padding: 70px 0px;		
				}

				.owl-item {

					.cus-img{
						display: grid;
					    justify-content: center;
					    align-items: center;
					    text-align: center;
					    width: 50%;
					    margin: 0px auto;

							img{
								width: 120px;
							    height: 120px;
							    margin: 0px auto;
							    -o-object-fit: cover;
							    object-fit: cover;
							    border-radius: 50%;
							    border: 8px solid #fff;							
					    	}

			    	.client-name{
					    color:$h-color;
					    font-size: 18px;
					    line-height: 16px;
					    margin-top: 15px;
					    font-weight: 800;
					 }
					 p{
					 	margin: 0px;
					 }
					 .review{
					 	font-size: 22px;
	    				margin-top: 20px;
					 }
				}
			}
			
			.owl-nav{



				button.owl-prev{
					@extend .nav-ctrl;
					left: 15%;		
	    

				}

				button.owl-next{
					@extend .nav-ctrl;
					right: 15%;
				}
			}		
		}
	}

	.inter-sec{
		position: relative;

		&:after{
			content: "";
    		height: 50%;
    		position: absolute;
    		bottom: 0;
    		background-color: #e5f0ff;
    		z-index: -1;
    		width: 100%;
		}

	}

	.sec-light{
		background-color: #e5f0ff;
    	padding-top: 128px;

    	&.bg-image{
    		background-repeat-y: no-repeat;
    		background-position-y: bottom;
    		background-repeat: repeat-x;
    		height: 282px;
    		background-image: url("../../images/img_bg_clouds.png");
    	}
	}

	.footer-menu{

		margin: 60px 0px;

		.footer-list{
			display: flex;
	    	justify-content: start;
	    	align-items: center;

	    	.footer-nav{

	    		ul {

	    			padding-left:50px;

	    			li{
	    				list-style:none;
	    				display: inline-block;
	    				padding-right: 20px;

	    			}
	    		}
	    	}
		}
		.footer-social{
			margin-left: auto;

			a{
			 padding-right: 20px;
			 font-size: 20px;
			}
		}
	}
	




@media screen and (max-width: 1580px){
  	.container {
    	padding: 0 64px;
	}
}
