.btn {
  border-radius: 8px;
  font-size: 16px;
  line-height: 16px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  transition: all .3s;
  height: auto;
  cursor: pointer;
  margin-right: 30px; }

.btn-danger {
  background: #ff5c72;
  color: #fff;
  box-shadow: 0 20px 30px rgba(125, 147, 178, 0.1);
  border: none; }

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
  box-shadow: none; }

.btn-trans {
  background-color: transparent;
  border: 1px solid #ceddf2;
  color: #7d93b2; }

.btn-trans:hover {
  background-color: #e5f0ff;
  border-color: #e5f0ff; }

.nav-ctrl, .test-sec .owl-carousel .owl-nav button.owl-prev, .test-sec .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  font-size: 90px; }

.menu-logo-title {
  margin-bottom: 0px;
  font-weight: 800;
  color: #234c87;
  font-size: 24px;
  padding-left: 15px;
  margin: 0; }

.link-gray {
  color: #7d93b2; }

.link-gray:hover {
  color: #ff5c72; }

.svg-bg {
  fill: #fafcff;
  opacity: 0; }

.svg-light-gray {
  fill: #e5f0ff; }

.svg-dark-gray {
  fill: #7d93b2; }

.svg-white {
  fill: #fff; }

.svg-element {
  fill: #ff5c72;
  fill-rule: evenodd; }

.svg-gray {
  fill: #bed0e9; }

.svg-light {
  fill: #ceddf2; }

.svg-text {
  font-size: 16px;
  text-anchor: middle;
  font-family: Nunito,sans-serif;
  font-weight: 800; }

.list-style, header.menu nav.menu-nav li, header.menu .right-right nav.mani-right-nav ul li {
  list-style: none;
  display: inline-block; }

.pad-mag, header.menu nav.menu-nav ul.menu-nav-link, header.menu .right-right nav.mani-right-nav ul {
  padding: 0px;
  margin: 0px; }

h2 {
  font-size: 48px;
  line-height: 72px; }

h3 {
  font-size: 36px;
  line-height: 54px; }

h4 {
  font-size: 24px; }

h2, h3 {
  font-weight: 200;
  color: #4c6280;
  margin: 0; }

h4, h5 {
  line-height: 36px;
  font-weight: 400;
  color: #4c6280;
  margin: 0; }

a {
  text-decoration: none;
  transition: all .3s; }

a:hover {
  text-decoration: none; }

ul {
  margin: 0px;
  padding: 0px; }

p {
  margin: 0px;
  padding: 0px; }

hr {
  margin: 0;
  background-color: #e5f0ff;
  color: #e5f0ff;
  border: none;
  height: 2px; }

button:focus {
  outline: none; }

.mb-8 {
  margin-bottom: 80px; }

.container, header.menu .top-nav {
  max-width: 1560px;
  margin-right: auto;
  margin-left: auto;
  transition: padding .3s; }

.section {
  padding-bottom: 120px;
  transition: all .3s; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #fafcff;
  font-family: 'Nunito Sans', sans-serif;
  height: 100%;
  padding: 0px;
  margin: 0px;
  color: #7d93b2;
  font-size: 16px;
  line-height: 32px;
  font-weight: 200; }

header.menu {
  display: flex;
  height: 95px;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px;
  z-index: 999;
  width: 100vw;
  top: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease; }
  header.menu.active {
    padding: 30px 0px;
    background-color: #fff;
    position: fixed;
    animation: smoothScroll 1s forwards; }
@keyframes smoothScroll {
  0% {
    transform: translateY(-40px); }
  100% {
    transform: translateY(0px); } }
  header.menu .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header.menu .left-item a {
    display: flex;
    align-items: center; }
    header.menu .left-item a svg {
      fill: #ff5c72;
      fill-rule: evenodd; }
  header.menu .menu-dropdown {
    position: relative; }
  header.menu .menu-dropdown-btn {
    position: relative;
    display: inline-block; }
  header.menu .link-gray {
    color: #7d93b2; }
  header.menu .left-item a {
    text-decoration: none; }
  header.menu nav.menu-nav li {
    padding-right: 25px; }
  header.menu nav.menu-nav a {
    text-decoration: none;
    color: #7d93b2; }
    header.menu nav.menu-nav a.btn-danger {
      color: #fff;
      margin-right: 0px; }
  header.menu .right-right nav.mani-right-nav ul li:first-child {
    padding-right: 25px; }
  header.menu .right-right nav.mani-right-nav ul a {
    text-decoration: none; }
    header.menu .right-right nav.mani-right-nav ul a:first-child {
      margin-right: 0px; }

.main-content {
  margin-top: 100px;
  overflow: hidden; }
  .main-content .owl-carousel .owl-nav {
    position: absolute;
    bottom: 15px;
    left: 50%; }
  .main-content .owl-carousel .owl-prev {
    width: 25px;
    margin-right: 50px; }
    .main-content .owl-carousel .owl-prev:hover {
      background: transparent; }
  .main-content .owl-carousel .owl-next {
    width: 25px; }
    .main-content .owl-carousel .owl-next:hover {
      background: transparent; }
  .main-content h2.app-title {
    width: 100%;
    margin-top: 90px;
    margin-bottom: 35px;
    transition: all .3s;
    word-break: break-word;
    color: #4c6280;
    font-weight: 200; }
  .main-content p {
    width: 100%;
    line-height: 35px;
    color: #7d93b2;
    margin-bottom: 60px;
    word-break: break-word;
    transition: all .3s;
    font-size: 18px; }
  .main-content .bg-image img {
    background-repeat: no-repeat;
    background-position: 125%;
    background-size: contain;
    width: 100%; }

.content-sec .container h3.content-title, .content-sec header.menu .top-nav h3.content-title, header.menu .content-sec .top-nav h3.content-title {
  margin-bottom: 50px;
  text-align: center; }
.content-sec .container p.description, .content-sec header.menu .top-nav p.description, header.menu .content-sec .top-nav p.description {
  text-align: center;
  max-width: 750px;
  margin: 0 auto; }
.content-sec .container .features.integrate-card .features-card, .content-sec header.menu .top-nav .features.integrate-card .features-card, header.menu .content-sec .top-nav .features.integrate-card .features-card {
  width: 500px;
  margin: 0 auto;
  padding: 60px; }
  .content-sec .container .features.integrate-card .features-card .int-logo, .content-sec header.menu .top-nav .features.integrate-card .features-card .int-logo, header.menu .content-sec .top-nav .features.integrate-card .features-card .int-logo {
    display: flex;
    align-items: center;
    justify-content: center; }
    .content-sec .container .features.integrate-card .features-card .int-logo svg, .content-sec header.menu .top-nav .features.integrate-card .features-card .int-logo svg, header.menu .content-sec .top-nav .features.integrate-card .features-card .int-logo svg {
      margin-bottom: 0px; }
  .content-sec .container .features.integrate-card .features-card .int-desc, .content-sec header.menu .top-nav .features.integrate-card .features-card .int-desc, header.menu .content-sec .top-nav .features.integrate-card .features-card .int-desc {
    margin: 20px 0px; }
.content-sec .container .features.integrate-card .app-store, .content-sec header.menu .top-nav .features.integrate-card .app-store, header.menu .content-sec .top-nav .features.integrate-card .app-store {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px; }
  .content-sec .container .features.integrate-card .app-store .btn.btn-trans:hover, .content-sec header.menu .top-nav .features.integrate-card .app-store .btn.btn-trans:hover, header.menu .content-sec .top-nav .features.integrate-card .app-store .btn.btn-trans:hover {
    background: #76889a;
    border: 1px solid #76889a;
    color: #fff; }
    .content-sec .container .features.integrate-card .app-store .btn.btn-trans:hover .last-child, .content-sec header.menu .top-nav .features.integrate-card .app-store .btn.btn-trans:hover .last-child, header.menu .content-sec .top-nav .features.integrate-card .app-store .btn.btn-trans:hover .last-child {
      margin-right: 0px; }
  .content-sec .container .features.integrate-card .app-store .btn:last-child, .content-sec header.menu .top-nav .features.integrate-card .app-store .btn:last-child, header.menu .content-sec .top-nav .features.integrate-card .app-store .btn:last-child {
    margin-right: 0px; }
  .content-sec .container .features.integrate-card .app-store .btn i, .content-sec header.menu .top-nav .features.integrate-card .app-store .btn i, header.menu .content-sec .top-nav .features.integrate-card .app-store .btn i {
    padding-right: 10px; }
.content-sec .container .features .features-card, .content-sec header.menu .top-nav .features .features-card, header.menu .content-sec .top-nav .features .features-card {
  padding: 40px 10px 42px;
  cursor: pointer;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 8px 15px rgba(125, 147, 178, 0.25);
  transition: all .3s;
  padding: 20px;
  margin-top: 32px;
  align-items: center;
  border: transparent;
  justify-content: center;
  align-items: center;
  display: flex; }
  .content-sec .container .features .features-card:hover, .content-sec header.menu .top-nav .features .features-card:hover, header.menu .content-sec .top-nav .features .features-card:hover {
    box-shadow: 0 20px 30px rgba(125, 147, 178, 0.15); }
    .content-sec .container .features .features-card:hover p.features-title, .content-sec header.menu .top-nav .features .features-card:hover p.features-title, header.menu .content-sec .top-nav .features .features-card:hover p.features-title {
      color: #ff5c72; }
  .content-sec .container .features .features-card svg, .content-sec header.menu .top-nav .features .features-card svg, header.menu .content-sec .top-nav .features .features-card svg {
    margin-bottom: 30px; }
  .content-sec .container .features .features-card p.features-title, .content-sec header.menu .top-nav .features .features-card p.features-title, header.menu .content-sec .top-nav .features .features-card p.features-title {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    color: #7d93b2;
    text-align: center; }
.content-sec .container .features.questions, .content-sec header.menu .top-nav .features.questions, header.menu .content-sec .top-nav .features.questions {
  margin-bottom: 60px; }
  .content-sec .container .features.questions .features-card, .content-sec header.menu .top-nav .features.questions .features-card, header.menu .content-sec .top-nav .features.questions .features-card {
    justify-content: left;
    align-items: end;
    padding: 38px 32px 46px; }
    .content-sec .container .features.questions .features-card .que-imag, .content-sec header.menu .top-nav .features.questions .features-card .que-imag, header.menu .content-sec .top-nav .features.questions .features-card .que-imag {
      width: 100%;
      margin-bottom: 30px; }
      .content-sec .container .features.questions .features-card .que-imag img, .content-sec header.menu .top-nav .features.questions .features-card .que-imag img, header.menu .content-sec .top-nav .features.questions .features-card .que-imag img {
        display: inline-block;
        width: 10%; }
      .content-sec .container .features.questions .features-card .que-imag h4, .content-sec header.menu .top-nav .features.questions .features-card .que-imag h4, header.menu .content-sec .top-nav .features.questions .features-card .que-imag h4 {
        display: inline-block; }
.content-sec .container hr, .content-sec header.menu .top-nav hr, header.menu .content-sec .top-nav hr {
  margin-top: 150px; }
.content-sec .container .read-sec, .content-sec header.menu .top-nav .read-sec, header.menu .content-sec .top-nav .read-sec {
  display: flex;
  justify-content: center;
  margin-top: 20px; }

.video {
  padding: 70px 0px 0px; }
  .video .col-offset-1 {
    margin-left: 8.3333%; }
  .video .video-bg {
    background-image: url("../../images/img_video.png");
    background-position: 50%;
    background-size: cover;
    position: relative;
    box-shadow: 0 50px 60px rgba(125, 147, 178, 0.15);
    border-radius: 8px;
    cursor: pointer; }
    .video .video-bg.video-loaded .embed-responsive .embed-responsive-item {
      z-index: 2;
      opacity: 1; }
    .video .video-bg:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 56.25%;
      border-radius: 8px; }
    .video .video-bg:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(125, 147, 178, 0.7);
      opacity: 1;
      transition: opacity .3s,left 0s .3s;
      box-shadow: 0 20px 30px rgba(125, 147, 178, 0.3);
      border-radius: 8px; }
    .video .video-bg .video-play {
      position: absolute;
      cursor: pointer;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 120px;
      height: 120px;
      border-radius: 3px;
      transition: all .3s; }
      .video .video-bg .video-play img {
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
        border-radius: 50%;
        transition: all .3s;
        max-width: 100%; }
    .video .video-bg .embed-responsive {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
      .video .video-bg .embed-responsive .embed-responsive-item {
        position: absolute;
        opacity: 0;
        z-index: -1;
        transition: opacity .3s;
        width: 100%;
        height: 100%; }

.about-app {
  padding-top: 120px; }
  .about-app.app-reverse {
    flex-direction: row-reverse; }
  .about-app .app-content {
    max-width: 550px;
    width: 100%;
    transition: all .3s;
    margin: auto 0; }
    .about-app .app-content.content-left {
      margin-left: auto; }
    .about-app .app-content h4 {
      margin: 35px 0px; }

.app-img {
  text-align: center;
  transition: all .3s;
  display: -ms-flexbox;
  display: flex; }
  .app-img .about-img {
    margin: 0px auto; }
    .app-img .about-img img {
      max-width: 83.3333%;
      width: 100%;
      box-shadow: 0 20px 30px rgba(125, 147, 178, 0.1);
      transition: all .3s;
      margin: 0 auto;
      vertical-align: middle;
      border-radius: 8px; }

.test-sec {
  background: #e5f0ff; }
  .test-sec .owl-carousel#testimonial-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding: 70px 0px; }
  .test-sec .owl-carousel .owl-item .cus-img {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: 0px auto; }
    .test-sec .owl-carousel .owl-item .cus-img img {
      width: 120px;
      height: 120px;
      margin: 0px auto;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 50%;
      border: 8px solid #fff; }
    .test-sec .owl-carousel .owl-item .cus-img .client-name {
      color: #4c6280;
      font-size: 18px;
      line-height: 16px;
      margin-top: 15px;
      font-weight: 800; }
    .test-sec .owl-carousel .owl-item .cus-img p {
      margin: 0px; }
    .test-sec .owl-carousel .owl-item .cus-img .review {
      font-size: 22px;
      margin-top: 20px; }
  .test-sec .owl-carousel .owl-nav button.owl-prev {
    left: 15%; }
  .test-sec .owl-carousel .owl-nav button.owl-next {
    right: 15%; }

.inter-sec {
  position: relative; }
  .inter-sec:after {
    content: "";
    height: 50%;
    position: absolute;
    bottom: 0;
    background-color: #e5f0ff;
    z-index: -1;
    width: 100%; }

.sec-light {
  background-color: #e5f0ff;
  padding-top: 128px; }
  .sec-light.bg-image {
    background-repeat-y: no-repeat;
    background-position-y: bottom;
    background-repeat: repeat-x;
    height: 282px;
    background-image: url("../../images/img_bg_clouds.png"); }

.footer-menu {
  margin: 60px 0px; }
  .footer-menu .footer-list {
    display: flex;
    justify-content: start;
    align-items: center; }
    .footer-menu .footer-list .footer-nav ul {
      padding-left: 50px; }
      .footer-menu .footer-list .footer-nav ul li {
        list-style: none;
        display: inline-block;
        padding-right: 20px; }
  .footer-menu .footer-social {
    margin-left: auto; }
    .footer-menu .footer-social a {
      padding-right: 20px;
      font-size: 20px; }

@media screen and (max-width: 1580px) {
  .container, header.menu .top-nav {
    padding: 0 64px; } }

/*# sourceMappingURL=style.css.map */
