
// Image background css

@import 'variables';

  .home-bg.default{
    clear: both;
    background-color: #f8f9fa;
    background-image:none;

    .home-section {
      .head-one {       
         h1{
            color: rgba(0, 0, 0, 0.64);
         }
      }
    }      
  }



  .home-bg.img-bg{
    background-image:url('../img/laptop.webp'); 


    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(5, 4, 4, 0.28);
    
  }

  .header-class{
    .navbar {

    .navbar-brand{
      color: $primary-color;
    }

    .navbar-nav{
       .nav-item{

        .nav-link
        {
          color: $primary-color; 
        }
      }
    }
   
    }
  }

   

  .navbar-nav .btn-search .fa {
    color: $primary-color;
  }



    .two-coloum-nav   {
      display: none;
    }
    
    .home-section {
        display:block;
        z-index: 1;
        text-align: center;
        left: inherit;
      .head-one {       
         h1{
            color: #fff;          
         }
      }
    .head-two{
      p{
         margin: 0 auto;
      }
     
    }

    }  

    &::after {
      width: 100%;
      height:80vh;
      content: '';
      background-color: rgba(0, 0, 0, 0.48);
      position: absolute;
      top:0px;
    }
  }

  .home-bg.pattern-bg{
     background-image:url('../img/pattern.png');
     background-repeat:repeat;  
     background-size: auto;

    .two-coloum-nav   {
      display: none;
    }

      .home-section {
         display:block;
              z-index: 1;
        .head-one {       
           h1{
              color:rgba(0, 0, 0, 0.64);        
           }          
        }

         .head-two{
              p{
                color:rgba(0, 0, 0, 0.64);
            }
           }
      }  
    }


   .home-bg.color-sec{
      clear: both;
      background: -webkit-linear-gradient(to right, #1CB5E0, #000046); 
      background: linear-gradient(to right, #1CB5E0, #000046);    

    .two-coloum-nav   {
      display: none;
    }

      .home-section {
         display:block;
          z-index: 1;

        .head-one {       
          h1{
            color:#fff;          
        }
      }
   }
     .header-class{
      .navbar {

      .navbar-brand{
        color: $primary-color;
      }

      .navbar-nav{
         .nav-item{

          .nav-link
          {
            color: $primary-color; 
          }
        }
      }
    }
  }

 }



   .home-bg.paralx{
      background-image:url('../img/office.png');
      background-attachment: fixed;

    .two-coloum-nav   {
      display: none;
    }

        .home-section {
           display:block;
          z-index: 1;
            .head-one {       
               h1{
                  color: #fff;          
               }
            }
          }  

       &::after {
          width: 100%;
          height:80vh;
          content: '';
          background-color: rgba(0, 0, 0, 0.63);
          position: absolute;
          top:0px;
      }

   }






  .home-bg.right-align{

    background-image:url('../img/office1.jpg');    


    .two-coloum-nav   {
      display: none;
    }
    
    .home-section {
        display:block;
        z-index: 1;
        text-align: right;
        float: right;          
        left: inherit;
      .head-one {       
         h1{
            color: #fff;          
         }
         
      }

      .head-two {
        p{
          margin-left: auto;
          margin-right: 0;
         }
      }
    }  

    &::after {
      width: 100%;
      height:80vh;
      content: '';
      background-color: rgba(0, 0, 0, 0.48);
      position: absolute;
      top:0px;
    }
         .header-class{
      .navbar {

      .navbar-brand{
        color: $primary-color;
      }

      .navbar-nav{
         .nav-item{

          .nav-link
          {
            color: $primary-color; 
          }
        }
      }
    }
  }
  }


    .home-bg.left-align{

       background-image:url('../img/Web-design-development.jpg');    

    .two-coloum-nav   {
      display: none;
    }
    
    .home-section {
        display:block;
        z-index: 1;
        text-align: left;
        float: right;        
        right:inherit;
      .head-one {       
         h1{
            color: #fff;          
         }         
      }
      .head-two{
        p{
          margin-right: auto;
          margin-left: 0;
        }       
      }
    }  

    &::after {
      width: 100%;
      height:80vh;
      content: '';
      background-color: rgba(0, 0, 0, 0.48);
      position: absolute;
      top:0px;
    }

    .header-class{
      .navbar {

      .navbar-brand{
        color: $primary-color;
      }

      .navbar-nav{
         .nav-item{

          .nav-link
          {
            color: $primary-color; 
          }
        }
      }
    }
  }
  }

  .video-sec{
    display: none;
  }

  .home-bg.bg-video 
      {

      .two-coloum-nav   {
        display: none;
      }

      .home-section {
        display:block;
      }

    .video-sec{
      display: block;
      position: absolute;             
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      overflow: hidden;
      background-size: cover;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 0% 50%;
      background-image: none;
    }

    .header-class{
      .navbar {

      .navbar-brand{
        color: $primary-color;
      }

      .navbar-nav{
         .nav-item{

          .nav-link
          {
            color: $primary-color; 
          }
        }
      }
    }
  }

      .bg-video{
          display:block;
       }
      &:after {
      width: 100%;
      height:80vh;
      content: '';
      background-color: rgba(0, 0, 0, 0.64);
      position: absolute;
      top:0px;
      z-index: -1;
}
}

.subscribe {
  display: flex;
  align-items: center;

  .newsletter{
    height: 40px;
    padding: 10px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #fff;
    width: 240px;

    &:focus{
      outline:transparent;
    }
  }
  .newsletter-btn{
    background: #52bad5;
    height: 40px;
    border: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    color: #fff;
    border: none;
    font-size: 15px;
    border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;

    border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    vertical-align: middle;
    padding: 0 10px;
    -webkit-font-smoothing: antialiased;
    margin-left: -15px;
    font-weight: 600;

    &:hover{
      background: #52bad5;
    }
  }
}

 .footer-main.foot-dark{

    .footer-detail{      
      background-color:#000;
      color: #d3c9c9;

      .text-head{
        color: #d3c9c9;
      }

      .footer-title .navbar-brand{
          color: #fff;
        }
      .footer-content .text-sub{      
          color: #d3c9c9;          
      }

      .list li{
        &:hover{
          color:$hover-color;
        }
      }
    }
  }

      .foot-copy{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

        .social-icons{
          li{
            display: inline-block;

            a{
              float: left;
              height: 35px;
              width: 35px;
              line-height: 32px;
              font-size: 16px;
              text-align: center;
              margin: 0 4px 4px 0;
              border-radius: 20px;
              border: 0;
              background: 0 0;
              color: #fff;
              overflow: hidden;
              -webkit-transition: all .3s ease;
              -o-transition: all .3s ease;
              transition: all .3s ease;          
              
            }           
          }
        }
      
        .footer-widget{
            .social-icons a{
             background: #878383;         
        }
      }

        .map-footer{

          .footer-detail{           
            padding-top:80px;

          .foot-copy{
            justify-content:center;
          }
        }

        .news-content{

          display:flex;
          padding-bottom: 15px;
          .new-pic{
            img{
              width: 70px;
            }
          }
          .new-content{
            padding-left: 10px;
            color: #fff;

            h5{
              font-size: 16px;
              font-weight: 600;               
              line-height: 20px;
              padding-bottom: 15px;
            a{
                color: #fff;
              } 
            }   
            p{
              font-size: 12px;
            }      
          }
        }
      }
        

          .footer-sec{
            position: relative;
          }


       
          .contact-sec{
              background: #1a1b1c;
              position: absolute;
              top: -40px;
              width: 1140px;
              border-radius: 3px; 
              left:12%;       
            .contact{
              width: 100%;
              padding:20px;
              li{
                display: inline-block;
                width: 33%;

                .make-call{
                  display: flex;
                  align-items: center;
                  justify-content:center;
                  .cont-img{
                        background: #2e2e2e;
                        border-radius: 30px;
                        padding: 10px;
                  }
                  .cont-detail{
                      color: #fff;
                      padding-left: 10px;
                      font-size: 14px;
                      font-weight: 700;
                      a{
                        color: #fff;
                      }
                  }
                }

              }
            }
          }

      .footer-main{

        .map-footer{
          display: none;
        }
        .form-footer{
          display: none;
        }
      }
      
      .footer-main.footer1{

          .default-footer{
            display: block;
          }
          .map-footer{
            display: none;
          }

          .form-footer{
            display: none;
          }

      }

      .footer-main.footer2{

          .map-footer{
            display: block;
          }

          .default-footer{
            display: none;
          }         

          .form-footer{
            display: none;
          }


         
        .footer-detail{      
          background-color:#000;
          color: #d3c9c9;

          .text-head{
            color: #d3c9c9;
          }

          .footer-title .navbar-brand{
              color: #fff;
            }
          .footer-content .text-sub{      
              color: #d3c9c9;          
          }

          .list li{
            &:hover{
              color:$hover-color;
            }
          }
        }

      }


      .footer-main.footer3{

          .form-footer{
            display: block;
          }

          .map-footer{
            display: none;
          }

          .default-footer{
            display: none;
          }        


        .footer-detail{      
          background-color:#000;
          color: #d3c9c9;

          .text-head{
            color: #d3c9c9;
          }

          .footer-title .navbar-brand{
              color: #fff;
            }
          .footer-content .text-sub{      
              color: #d3c9c9;          
          }

          .list li{
            &:hover{
              color: $hover-color;
            }
          }
        } 

      

      }



    
 
      .form-footer{
        background: #110f09;

        .form-detail{
            padding:60px 0px;

        .address{
       
          .form-contact{
            padding-bottom:30px;

              li {
                  padding-bottom: 8px;              

              a{
                color: #cbc4c4;

                span{
                  padding-right: 5px;

                }
              }
            }
          }
        }
      }
    }

      .contact-form{
        color: #cbc4c4;
        font-size: 13px;


        h6{
          color: #fff;
          font-size: 16px;
          font-weight: 500;
        }

        hr{
          border-top: 1px solid #cbc4c4;
        }


        li {
            padding-bottom: 15px;
          }

        .name-mail{
          display: flex;

          .name
          {
            width: 50%;
            margin-right: 20px;
            

            p{
              padding-bottom: 5px;
            }
          }
          .mail{
            width: 50%;
              
            p{
              padding-bottom: 5px;
            }
          }            
        }

        .subject{
          p{
            padding-bottom: 5px;
          }
        }

        .message-box{
           p{
            padding-bottom: 5px;
          }
           .f-icon{
            align-items: start;
            padding: 15px 0px;

           }
        }

          .f-icon{
            display: flex;
            align-items: center;
            background: #736e6e;
            border-radius: 3px;

            i{
              font-size: 14px;
              padding-left: 8px;
            }
          }
          input,textarea{
          width: 100%;                
          background: #736e6e;
          border: 1px solid #736e6e;
          border-radius: 3px;
          padding: 6px;
          color: #fff;
          &:focus{
            outline: none;
          }  
        }

        .message-btn{
          width: 100%;
          background-color: #52bad5;
          border-color: #52bad5;
          color: #fff;
          margin-top: 30px;

          &:focus,&:hover,&:active{
            background: #52bad5;
            border-color:#52bad5;
            outline: none;
            color: #fff;
            box-shadow:none;
        }
      }

      }



      .img-right {
        img{
          width: 100%;
          margin: 0px auto;
          display: block;
        }
      }


      .two-coloum-nav{  
                    
          position: relative;
          height: 80vh;

        .navpage-head{
          color: #343745;;
          padding-top: 80px;


            p.small-text{
              padding: 3px;
              font-size: 16px;
              font-weight: 700;
              }

          h1{
            font-size: 46px;
            font-weight: 600;
          }

          p{
            font-size: 16px;
            padding: 20px 0px;
            line-height: 25px;
          }         
          
        }
      }

       .btn-sec{

          padding:20px 0px;

          .btn{
            padding: 10px 30px;
            background: #fff;
            margin-right: 20px;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 15px;
            padding: 10px 15px;
            text-align: center;          
            border-radius: 5px;
            text-decoration: none;

            &:focus{
              outline: none;
              box-shadow: none;
            }
          }
          .btn-outline-primary{
           
            border: 1px solid #52bad5;
            color:#52bad5;

            &:hover,&:active{
              background:#52bad5;
              color: #fff;
            }
          }

          .btn-primary{
              background: #52bad5;
              border: 1px solid #52bad5;
            }

          .btn-outline-danger{

            &:hover{
              background: #dc3545;
              color: #fff;
            }

          }
        }



 // card

.about-us{
  padding: 60px 0px;
  background: #fafafa;

  background-image: url(../../assets/img/circulos-copy-2.png), url(../../assets/img/circulos-copy-3.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: auto 300px, auto 313px;
  background-position-y: 8%, 100%;
  background-position-x: 6%, 95%;

  header{
    text-align: center;
    h2{
      margin-bottom: 60px;
      color: #289ff9 !important;
      font-size: 30px;
    }

  }
}


.services-sec{
  width: 100%;


  .services{
    position: relative;
    text-align: center;
    margin-bottom: 60px;
    width: 50%;
    display: inline-block;
    padding-right: 10px;



      .services-inner{
          position: relative;
          padding: 3.5rem;
          -webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,0.08);
          box-shadow: 0 1rem 2rem rgba(0,0,0,0.08);
          border-radius: .5rem;
          background-color: #fff;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: .2s;
          transition-duration: .2s;
          -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
          -webkit-transition-delay: 0;
          transition-delay: 0;
        
        .services-icon{
          display: inline-block;
          margin-bottom: 1rem;

          img{
            max-width: 100%;
            height: auto;
            user-drag: none;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
          }
        }

        .service-content
          {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-text-size-adjust: 100%;
            border: 0;
            font-family: inherit;
            font-size: 100%;
            margin: 0;
            padding: 0;
            vertical-align: baseline;
            width: auto;
            line-height: 25px;
            color: #636375;
            text-align: center;
            font-size: 15px;
            max-height: 130px;
            text-overflow: ellipsis;
            overflow: hidden;            
            word-wrap: break-word;
            .services-title{
                font-size: 22.4px;
                margin-bottom:25px;
            }
          }
        }
      }    
  }

  .slick-dots li button::before {
    color: #707972!important;
    font-size:46px!important;
}
  .slick-dots li.slick-active button:before{
    opacity: 1!important;
    color: #6a6d6b!important;
  }

  .slick-dots li{
    width: 35px!important;
    height: 35px!important;
  }

  .slick-dots{
    bottom:0px!important;
  }

  .slick-slide:focus{
    outline: none!important;
  }


   .bor-top{
      border-top: 1px solid #979797;
      width: 10%;
      margin-top: 2%;
      margin-bottom: 2%;

    }

  .why-ours{
    position:relative;
    background:#fff url(../../assets/img/background-waves.svg) no-repeat;
    padding:60px 0px;


    .background{
      position: absolute;
      margin-top:-50px;
      img{
        width: 92%;
      }
    }

    h2{
      color:#289ff9 !important;
      font-size: 30px;
    }

 

    .col-off{
          margin-left: 33.33333333%;
    }

    .block-why-us{
      display: flex;

      .img-mark{
        padding: 0px;
        padding-top: 10px;
      }
      .why-content{
        padding: 0px;
        margin-left: -15px;

        h4{
          font-size:26px;
        }
        .p-why-us{
          line-height: 25px;
          margin: 20px 0px;
          font-size: 15px;
        }
      }
    }

  }

  .featured-sec{
    padding: 60px 0px;
    background: #fff;


    header{
      h2{
        text-align: center;
        margin-bottom:40px; 
        color:#289ff9 !important;
      }
    }
    .image-one{
      width: 400px;
      margin-left: auto;
      height: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: -20px 20px 30px rgba(6, 31, 60, 0.09);
      margin-right: 30px;
    
      img{
        width: 100%;
        border-radius: 6px;
      }
    }

    .f-content{
      h4{
        font-size: 24px;   
        color: #454f5b;
        letter-spacing: normal;
        font-weight: bold;
        text-align: left;
        line-height: 40px;
        margin-top:0px;
        width: 400px;
      }
    }


  }


  .let-talk{
    padding: 60px 0px;
    h2{           
      color: #289ff9 !important;
      font-size: 30px;
    }

    p{
    color: #454f5b;
    font-size: 15px;    
    font-weight: 100;
    line-height: 28px;
    }
  }

  .form_contact{
    input[type="text"],textarea[type="text"],input[type="email"]{
      background: #fff;
      width: 100%;
      margin-top: 2%;
      padding: 12px 15px;
      border-radius: 6px;
      border: 1px solid #dddddd;
      color: #454f5b !important;
      font-size: 14px;
      outline: none;
    }
    .email-text{

      display: flex;

      input:first-child{

        margin-right: 15px;
      }
    } 
    // .label-field:before{
    //   content: "";
    //   color: #289ff9;
    //   background-color: #fff;
    //   border: 1px solid #e1e1e1;
    //   border-radius: 6px;
    //   display: inline-block;
    //   height: 20px;
    //   width: 20px;
    //   text-align: center;
    //   vertical-align: middle;
    //   margin-right: 5px;
    //   margin-top: -1px;
    //   font-family: "font awesome 5 free";
    //   font-weight: 700;
    //   content: "\f00c";
    //   color: #289ff9;
    // }

    .btn-sec{
      float: right;
      button{
        margin-right: 0px;
      }
    }
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #454f5b !important;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #454f5b !important;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
      color: #454f5b !important;
    }

  .contact-block-inside{

    background: url(../../assets/img/pattern-light.jpg) repeat center center;
    background-size: cover;
    text-align: center;
    padding: 130px 0;
    clear: both;

    .contact-block-subtitle{
        font-size: 16px;
        padding-top: 20px;
        line-height: 25px;
    }

  }

  .contact-block-text h2{
    font-size: 30px;
  }

  .proposal{
     background-color: #e6e8e9;
    text-align: center;

    .proposal-talk{
      padding: 33px 0 60px;
      border-top: 4px solid #289ff9;
    }

    .project-discuss{
      width: 100%;
      p{
        color: #7b7d83;    
        padding: 5px 0;
        font-size: 30px;
        text-align: center;
        margin-bottom: 33px;
      }

      .contact-pro{
       padding: 28px 30px;
        border-top: 1px solid #c6c9cb;
        width: 92%;
        text-align: center;
        margin: 0 auto;      
        font-size: 26px;
        ul{
          display: flex;
          justify-content: center;
          color: #484b54;
          font-size: 22px;

          li{
            padding:0px 20px;

            a{
              color: #484b54;
              font-size: 20px;
            }
          }
        }
      }

      .btn-sec{
        margin: 45px auto 20px;
        width: 100%;
        float: left;
        text-align: center;
        padding: 0px;       
      }
      
    }
   
  }


  .social-sec{
    background: url(../../assets/img/location-bg.gif) left top;
    padding: 60px 0 40px;
    color: #797f84;
    line-height: 23px;

    .social-fb{
      a{
        width: 57px;
        height: 57px;
        float: left;
        zoom: 1; 
      }
    }
 
  }
  
  .ftr-servlst {
    li{

      &:hover{
        color:$hover-color;
      }
    }
  }
    
.check-box{
  align-items: center;
  display: flex;
  span{
    padding-left: 10px;
  }
}


              

  //checkbox CSS


 
        .option-name
        {
          font-size: 13px;
        }


        .check-container
        {
           
        display: block;
        position: relative;
        padding-left: 20px;    
        cursor: pointer;
        font-size: 18px;
        user-select: none;
        }
        .check-container input
        {
            position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
        .ix-checkmark
        {
            position: absolute;
          top: 6px;
          left: 0;
          height: 20px;
          width: 20px;
          background-color:#b7bdc1;
        }

        .check-container input:checked ~ .ix-checkmark
         {
          background-color: #2196F3;
        }

        .ix-checkmark:after 
        {
          content: "";
          position: absolute;
          display: none;
        }

        .check-container input:checked ~ .ix-checkmark:after
         {
          display: block;
        }

        .pad-check{
          padding: 20px;
        }


        .check-container .ix-checkmark:after 
        {
        left: 7px;
            top: 4px;
            width: 6px;
            height: 11px;
          border: solid white;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }


@media (min-width: 1440px){
  .container {
       max-width: 1320px; 
  }
} 
