// @import 'reset';
// @import 'variables';

//  .page-menu.home-bg{ 	
//  		height: 70vh;
//  		background: $page-bg;
//  		.home-section{
//  			h1{
//  				color: $dropdown-bg-color;
//  				span{
//  					display: none;
//  				}	
//  			}
//  				.head-one{
//  					span{
//  						display: none;
//  					}
//  					& .default{ 
//  						span.default{ display: inline-flex;}
//  					}
//  					& .rounded{ 
//  						span.rounded{ display: inline-flex;}
//  					}
//  					& .outline{ 
//  						span.outline{ display: inline-flex;}
//  					}
//  					& .lines{ 
//  						span.lines{ display: inline-flex;}
//  					}
//  					& .light{ 
//  						span.light{ display: inline-flex;}
//  					}
//  					& .solid{ 
//  						span.solid{ display: inline-flex;}
//  					}
//  					& .dark{ 
//  						span.dark{ display: inline-flex;}
//  					}
//  					& .creative{ 
//  						span.creative{ display: inline-flex;}
//  					}

 				
//  			}
//  			.head-two{
//  				a{
//  					color: $menu-color;
// 				    font-size: 11px;
// 				    position: relative;
// 				    opacity: .8;
// 				    width: 80px;
// 				    display: inline-block;
// 				    text-align: center;
// 				    cursor: pointer;
//  					span{
//  						display: none;
//  					}
//  					&.default{ 
//  						span.default{ display: inline-flex;}
//  					}
//  					&.rounded{ 
//  						span.rounded{ display: inline-flex;}
//  					}
//  					&.outline{ 
//  						span.outline{ display: inline-flex;}
//  					}
//  					&.lines{ 
//  						span.lines{ display: inline-flex;}
//  					}
//  					&.solid{ 
//  						span.solid{ display: inline-flex;}
//  					}
//  					&.light{ 
//  						span.light{ display: inline-flex;}
//  					}
//  					&.dark{ 
//  						span.dark{ display: inline-flex;}
//  					}
//  					&.creative{ 
//  						span.creative{ display: inline-flex;}
//  					}
//  					&:after{
// 					     content: '';
// 					    background-image: url('../img/down-arrow.svg');
// 					    position: absolute;
// 					    right: -26px;
// 					    background-position: 39% 18%;
// 					    background-size: 13%;
// 					    background-repeat: no-repeat;
// 					    top: 0;
// 					    z-index: 99;
// 					    width: 70%;
// 					    transform: rotate(-90deg);
// 					    height: 50%;
//  					}
//  					&:last-child:after{
//  						display: none;
//  					}
//  					&:hover{
//  						color: $menu-active;
//  					}
//  				}
//  			}

//  		  }
 	
//  		}
//  		.menu-types{
//  			&.dark{
//  				background-color: #000;
//  				ul{
//  				li{
//  					a{
//  						color: $primary-color;
//  						&:hover{
//  							    border-radius: 35px;
//     							background: #8a8a8a6e;
//     							color: $primary-color;
//  						}
//  					}
//  					&.pointer{
//  						a{
//  							    border-radius: 35px;
//     							background: #8a8a8a6e;
//     						}
//  						}
//  					// &.pointer{
//  					// 	a{
//  					// 	border-radius: 35px;
//     		// 			background: #8a8a8a6e;	
//     		// 			color: $primary-color;
//  					// 	}
//  					// }
//  					ul.menu-last li a{
//  						color: $menu-color;
//  					}
//  					svg path{
//  						fill: #fff!important;
//  					}
//  				}

//  			}
//  		}
//  	}
//  		.menu-types{
//  			border-top: 1px solid #ddd;
//     		border-bottom: 1px solid #ddd;
//  			ul{
//  				display: flex;
// 			    align-items: center;
// 			    justify-content: space-evenly;

// 			    li{
// 			    	a{
// 			    		color: $menu-color;
// 			    		padding: 10px 30px;
// 					    font-size: 13px;
// 					    display: block;
// 					    font-weight: 600;
// 					    cursor: pointer;
// 					    margin: 10px 0;
// 					    border: 2px solid transparent;
// 			    	}
// 			    	ul.menu-last{
// 			    	  display: block;
//     				  padding: 15px 17px;
//     				  display: none;
//     				  transition: 0.3s;
//     				  .bar{
// 					    	display: none;
// 					    }
//     				  li a{
//     				    padding: 0 0 5px 0;
// 					    margin: 0;
// 					    font-weight: 300;
// 					    &:hover{
// 					    	background-color: transparent;
// 					    	color: $menu-active!important;
// 					    }

//     				  }
// 			    	}
// 			    	&:hover{
// 			    		ul.menu-last{
// 			    			display: block;
// 			    		}
// 			    	}
// 			    	&.dropdown{
// 			    		a{
// 			    		 svg{
// 			    		 	width: 10px;
// 			    		 	height: 10px;
// 			    		 	path{
// 			    		 		fill: $menu-color;
// 			    		 	}
// 			    		 }
// 			    		}
// 			    	}
// 			    }

//  			}
//  			&.rounded, &.solid {
// 			     li{
// 			    	&:hover a{
// 			    		background: #2250fc;  	
//    							border-radius: 35px;
// 			    			color: $primary-color!important;
// 			    	}
// 			    	&.pointer{
// 			    		a{
// 			    			background: #2250fc;  	
//    							border-radius: 35px;
// 			    			color: $primary-color;
// 			    		}
// 			    	}
// 			    		& .dropdown{
// 			    		a{
// 			    		 svg{
// 			    		 	path{
// 			    		 		fill: $primary-color;
// 			    		 	}
// 			    		 }
// 			    		}
// 			    	}
// 			    }
// 			}
// 			    &.rounded{
// 			    & .dropdown{
// 			    		a{
// 			    		 svg{
// 			    		 	path{
// 			    		 		fill: $primary-color;
// 			    		 	}
// 			    		 }
// 			    		}
// 			    	}
// 			    }
// 			       &.outline li{
// 			    	a:hover{
// 			    			background: $primary-color;  	
//    							border-radius: 35px;
// 			    			color: $menu-active!important;
// 			    			border: 2px solid $menu-active;
// 			    	}
// 			    	&.pointer{
// 			    		a{
// 			    			background: $primary-color;  	
//    							border-radius: 35px;
// 			    			color: $menu-active!important;
// 			    			border: 2px solid $menu-active;
// 			    		}
// 			    	}
// 			    }
// 			     &.light li{
// 			    	a:hover{
// 			    			background: transparent;  	
//    							border-radius: 35px;
// 			    			color: $menu-color!important;
// 			    			border: 2px solid $menu-border;
// 			    	}
// 			    	&.pointer{
// 			    		a{
// 			    			background: transparent;  	
//    							border-radius: 35px;
// 			    			color: $menu-color!important;
// 			    			border: 2px solid $menu-border;
// 			    		}
// 			    	}
// 			    }

// 			    &.solid li{
// 			    	a:hover{
//    							border-radius: 5px;
			    			
// 			    	}
// 			    	&.pointer{
// 			    		a{
			    				
//    							border-radius: 5px;
			    			
// 			    		}
// 			    	}
// 			    }

// 			     &.creative li{
// 			     	position: relative;

// 			    	a{
// 			    		&:hover{
// 			    			&:after{
//    								background: $dropdown-bg-color;
//     							bottom: 10px;
//    							}
// 			    		}
// 			    	&:after{
// 			    	    content: '';
// 					    width: 100%;
// 					    height: 2px;
// 					    background: transparent;
// 					    position: absolute;
// 					    left: 0;
// 					    bottom: 0px;
// 					    transition: 0.3s;	
// 			    	}
// 			    }&.pointer{
// 			    	a:after{
// 			    		background: $dropdown-bg-color;
//     					bottom: 10px;
// 			    	}
// 			    }

// 			    }
// 			    &.lines{
// 			    	li .bar{
// 					    position: relative;
// 					    display: block;
// 					    width: 90px;
// 					    margin: 0 auto;
// 			    		&:after,&:before{
// 			    			content: '';height: 1px;width: 0;bottom: -1px;position: absolute;background: #5264AE;transition: 0.2s ease all;-moz-transition: 0.2s ease all;-webkit-transition: 0.2s ease all;
// 			    		}
// 			    		&:before{
// 			    			left: 50%;
// 			    		}
// 			    		&:after{
// 			    			right: 50%;
// 			    		}
// 			    	}
// 			    	li:hover,li.pointer{
// 			    		a{color: $menu-active;}
// 			    		span.bar:after ,span.bar:before{
// 						    width: 50%;
// 						}
// 			    	}
// 			    }
//  		}


//  		ul.lines li span.bar:after,ul.lines li span.bar:before {content: '';height: 1px;width: 0;bottom: -1px;position: absolute;background: #5264AE;transition: 0.2s ease all;-moz-transition: 0.2s ease all;-webkit-transition: 0.2s ease all;}

// .bar:before {
//     left: 50%;
// }

// .bar:after {
//     right: 50%;
// }

// ul.lines li span.bar {
//     position: relative;
//     display: block;
//     width: 90px;
//     margin: 0 auto;
// }

// ul.lines li:hover 

// ul.lines li:hover span.bar:before {
//     width: 50%;
// }

