@import 'variables';

body{
	font-family: $font-stack;
	font-weight: 400;
	font-size: 14px;
  margin: 0px;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}

button:focus{
	box-shadow: none;
	outline: none;
}

button{
	background: transparent;
	border:transparent;
	padding: 0px;
}

ul{
    padding:0px;
    margin: 0px;
}

ul li{
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 30px; 
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 30px; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 30px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 30px; 
}

.form-control:focus{
  box-shadow: none;
  outline: none;
  border-color: none;
}