@media only screen and (max-width: 768px){

.home-bg .home-section .head-one h1 ,.home-bg .two-coloum-nav .head-one h1{
	font-size: 28px;
	width: 75%;
}

.two-coloum-nav .navpage-head p{
	font-size: 14px;
}

.img-right {
	display: none;
}

.about-us header h2,.why-ours h2,
  .let-talk h2,.contact-block-text h2,.proposal .project-discuss p{
	font-size: 26px;
}
.why-ours .block-why-us .why-content h4{
	font-size:20px;
}

.proposal .project-discuss .contact-pro ul li a{
	font-size: 14px;
}

.why-ours .block-why-us .why-content .p-why-us,.services-sec .services .services-inner .service-content,
.contact-block-inside .contact-block-subtitle,.let-talk p
{
	font-size: 13px;
}

.why-ours .block-why-us .why-content{
	margin-left: 20px;
}

.home-bg .header-class .navbar .navbar-brand{
	color: #000!important;
}	

/*.home-bg .header-class{
	background: #ffd44c;
}*/

.home-bg .header-class.small{
  background: #fff;	
}

.navbar-collapse{
    margin-top: 16px;
    background: #222;
    margin-left: -15px;
    margin-right: -15px;
}
.second-sec .bg-body-zero{
	border-top-left-radius: 0px; 
}
.second-sec .bg-body-two{
	border-top-right-radius: 0px;
}

.third-sec{
	padding: 20px 0px 40px;
}

.third-sec .third-body ul li h4{
	font-size: 32px;
	margin-top: 25px;
}

.third-sec .third-body ul li h5{
	font-size: 14px;
}

.third-sec .image-sec .image-one img {
    margin-top: 80px;
    margin-left: 10px;
    width: 85%;
}

.footer-detail{
    text-align: center;
    padding: 40px 0px 0px;
}
.footer-widget{
	margin-bottom: 30px;
}
.footer-detail .list li:before{
	content: none;
}
.slick-prev {
    left: 50% !important;
}
.slick-next{
right: 50%!important;
}

.footer-content .ftr-servlst li{
	 display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe{
	justify-content: center;
}

}

