
@import 'reset';
@import 'variables';
@import 'img-bg';


 .pointer{
    pointer-events: none;
  }

body{
    color: #636375;
    background: #f5f7fa!important;
    overflow-x: hidden;
    overflow-y: auto;
}


h1,h2,h3,h4,h5{
  font-family: "acumin-pro",sans-serif;
  color: #343745;
  font-weight: 800;
  clear: both;
  padding: .5rem 0 0 0;
  line-height: 1.2;
}


.home-bg{
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top;
   position: relative;
   height: 80vh;
  z-index: 1;
  position: relative;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;

  .header-class{
    height:auto;
    background:transparent;
    z-index: 9;
    // padding: 10px 0px;
    transition: all .4s ease-in-out;
 
      .navbar{
        // padding: 15px 0px;

        .navbar-brand{
          color: $dark-color;
          font-weight: $font-bold;
          font-size: 26px;
        }

        .navbar-nav{
           align-items: center;
           margin-top: 10px;
          
          .nav-item{
            position: relative;
            cursor: pointer;
            padding-left:15px;

            .nav-link{
            color: $dark-color; 
            text-transform: uppercase; 
            font-weight: 600;
            position: relative;
            padding: 0px;
            margin-left:20px;
            overflow: hidden;
            padding-bottom: 10px;

            &::before{
                content: "";
                position: absolute;
                left: 0px;
                bottom: 1px;
                width: 6px;
                height: 6px;
                background-color: #53bad5;
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
                border-radius: 6px;
                display: none;
            }

            &::after{
                  content: "";
                  position: absolute;
                  left: 11px;
                  bottom:2px;
                  width: 0;
                  height: 2px;
                  background-color: #53bad5;
                  -moz-transition-property: all;
                  -o-transition-property: all;
                  -webkit-transition-property: all;
                  transition-property: all;
                  -moz-transition-duration: 0.3s;
                  -o-transition-duration: 0.3s;
                  -webkit-transition-duration: 0.3s;
                  transition-duration: 0.3s;
                  opacity: 0;
                  border:0px;
              }
            }

            &:hover .nav-link::before , &.active .nav-link::before{
                  display: block;
            }

            &:hover .nav-link::after , &.active .nav-link::after {
                  width: 100%;
                  right: 0;
                  opacity: 1;
            }

            &:hover .nav-link , &.active .nav-link{
                color: $hover-color;
            }

            &.show .nav-link{
                color: $hover-color;
            }

            &.show .nav-link::before{
              display: block;
            }

            &.show .nav-link::after {
                  width: 100%;
                  right: 0;
                  opacity: 1;
            }

            &:hover .sub-menu{
              display: block;
            }

          }

          .btn-search{
            padding-left: 20px;
            padding-bottom: 12px;
            .fa{
              color:$dark-color;
            }
          }

          .dropdown-menu{
            font-size: 12px;
            min-width: 190px;
            margin-top: 21px;
            background-color: $dropdown-bg-color;
            padding: 0px;
            border-radius: 0px;
            .dropdown-item{
              padding: 10px 15px;
              color: $dropdown-text-color;
              font-size: 12px;
              font-weight: 600;
              background: transparent;
              border-bottom: 1px solid #313131;
              position: relative;
              cursor: pointer;
              &:hover{
                color: $hover-color;
              }
            }
          }
        }


        .form-inline{
             position: absolute;
              right: 0px;
              top: 90px;
              display: none;

          .form-control{
              border-radius: 30px;
              color: #222;
              border: transparent;
              box-shadow: 1px 1px 8px 1px #9c9c9c57;
              padding: 15px;
              font-size: 13px;
              font-weight: 500;
            }
          }
        }
      }


 .header-class.small{    
    position: fixed;
    width: 100%;
    font-size: 100%;  
    background:#232323;
    box-shadow: 1px 1px 1px 1px #b7b7b952;
  
  .navbar {

    .navbar-brand{
      color: $primary-color;
    }

    .nav-item{

      .nav-link
      {
        color: $primary-color; 
      }
    }
  }

  .navbar-nav .btn-search .fa {
    color: $primary-color;
  }


    .down-arrow-item::after{
      border-color:$primary-color;
    }
    .down-arrow-item.active::after {
       border-color: $hover-color;
    }
}






  .home-section{
    width: 100%;
    position: absolute;
    top: 30%;
    justify-content: center;
    margin: auto;
    text-align: center;
    display: none;


    .head-one{
      margin-bottom: 10px;

      h1{
        color:$primary-color; 
        font-weight: 500;
        font-size: 44px;
        width: 50%;
        letter-spacing: 2px;
        display: inline-block;
        font-family: "acumin-pro",sans-serif;
      }
    }

    .head-two{
      margin-bottom: 10px;
      p{
        color:$primary-color;
        font-size: 16px;
        padding:15px 0px;
        width: 600px;
        margin: 0 auto;
      }
    }

    .order-btn{
      margin:20px 0px;

      button{
        padding: 12px 35px;
        line-height: 16px;
        border-radius: 30px;
        background-color: #03A9F4;
        display: inline-block;
        color: $primary-color;
        font-weight: $font-bold;
        transition: all 0.3s ease;
        overflow: hidden;
        position: relative;
        &:hover{
        background-color: #2196F3;
        }
      }
      ::before{
        position: absolute;
        height: 100%;
        font-size: 13px;
        line-height: 3.5;
        color: $primary-color;
        transition: all 0.3s;
        top: -2px;
        left: 130%;
        content: '\f061';
        font-family: FontAwesome;
      }
      ::after{
        content: '';
        position: absolute;
        z-index: -1;
        transition: all 0.3s;
      }
      &:hover ::before{
         left: 82%;
      }
    }
  }
}

%background-shared {
  padding: 30px;
}

.second-sec{
  .second-row{
    background: #fff;
    margin-top: 30px;
    z-index: 1;
     .second-body{
        ul{
          li{
            display: flex;
            align-items:center;
            font-size: 14px;
            color: #101010;
            margin-bottom: 20px;
            .body-one{
              font-family: "acumin-pro",sans-serif;
              font-size: 22px;
              padding-left: 15px;
              text-transform: capitalize;
            }
            .normal-btn{
                font-size: 13px;
                text-transform: uppercase;
                font-weight: 600;
                transition: all 0.6s ease;
            }
            &:last-child{
            margin-bottom: 0px;
            }
          }
        }
     }
    }

    .bg-body-zero{
    @extend %background-shared;  
    background: #FFD44C;
    border-top-left-radius: 10px;    
    }

    .bg-body-one{
    @extend %background-shared;
    background: #e9c051;
    }

    .bg-body-two{
    @extend %background-shared;
    background: #d6b353;
    border-top-right-radius: 10px; 
    }
}


.third-sec{
  padding: 70px 0px;
  .third-body{
    ul{
      li{
        h4{
          color: #101010;
          font-size: 57px;
          font-family: "acumin-pro",sans-serif;
          text-align:center;
          position: relative;
          padding-bottom: 20px;
          margin-bottom: 20px;
          &::before{
            position: absolute;
            content:'';
            background-color: #cf9a67;
            width: 100px;
            height: 2px;
            display: inline-block;
            left: 40%;
            bottom: 0px;
          }
        }

        h5{
            font-family: "acumin-pro",sans-serif;
            font-size: 24px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.28;
            letter-spacing: normal;
            text-align: left;
            color: #0c3653;
            margin-bottom: 20px;
        }

        p{
          font-size: 15px;
          color: #7f7d7d;
          margin-bottom: 20px;
          text-align: center;
        }

        .learn-more{
          padding: 10px 20px;
          line-height: 16px;
          background-color: #cf9a67;
          color: $primary-color;
          font-weight: 700;
          transition: 0.2s all ease-in-out;
          margin: 10px 0px;
          border-radius: 30px;
          position: relative;
          display: inline-block;
          overflow: hidden;

        &:hover{
          background-color: #e6882d;
        }
        }
        &:last-child{
          text-align: center;
        }
      }
    }
  }

  .image-sec{
    display: flex;
    img{
      border-radius: 12px;
      width: 85%;
    }

    .image-one {
      img{
        margin-top: 80px;
        margin-left: -15px;
        width: 100%;
      }
    }
  }
}


.fourth-sec{
  background: url('../img/bg-section.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  position: relative;
  padding: 70px 0px;
  .head-sec{
    text-align: center;
    margin-bottom: 60px;
    h4{
      font-size: 42px;
      font-family: "acumin-pro",sans-serif;
      color: $primary-color;
    }
  }

  .card-sec{
    .card{
      border: none;
      border-radius: 0px;
      padding:20px;
      background: transparent;
      position: relative;
      &:focus{
        outline: none;
      }

      .card-img-top{
        border-radius: 5px;
      }

      .card-body{
        padding: 15px 0px;
        position: relative;
        ul{
          li{
            color: $primary-color;
            font-size: 14px;
            &:first-child{
             font-size: 20px;
             font-weight: 700;
             text-transform: uppercase;
            }
            &:last-child{
              color: #ffd44c;
              margin: 5px 0px;
            }
          }
        }

        .price{
          position: absolute;
          right: 5px;
          top: 35px;
          span{
            color: #ffd44c; 
            font-family: "acumin-pro",sans-serif;
            font-size: 24px;
          }
        }

       .menu-info{
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
        letter-spacing: 1px;
        font-size: 10px;
        text-transform: uppercase;
        pointer-events: none;

        .menu-inner{
            display: inline-block;
            background: rgba(0,0,0,0.7);
            padding: 12px 0px;
            width: 100%;
            font-weight: 700;
            text-align: center;
            color: $primary-color;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            .fa{
              padding-right: 8px;
              color: #ffd44c;
              font-size: 16px;
            }
        }

      }

      }
    }
  }
}

.fifth-sec{
  background-color: #ffd44c;
  padding: 35px 0px;
  .promo-item{
     width: 100%;
     text-align: center;
     .promo-item-icon{
      .fa{
        font-size: 36px;
      }
     }

     .promo-item-content-wrapper{
      h2{
       font-size: 28px;
       font-family: "acumin-pro",sans-serif;
       margin: 10px 0px;
      }
      p{
      color: #222;
      font-size: 15px;
      }
     }
  }
}

.footer-detail{
      background-color: $primary-color;
      color: $dark-color;
      padding: 40px 0px 0px;

      background-image: url(../../assets/img/map.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      .text-head{
       font-size: 24px;
       text-transform: capitalize;
        font-family: "acumin-pro",sans-serif;
       margin-bottom: 20px;
       color: $dark-color;
      }

      .text-sub{
        color: $dark-color;
        font-size: 14px;
      }

      .list{
        li{
              margin-bottom: 12px;
              padding-left: 10px;
              line-height: 20px;
              cursor: pointer;
              transition: all 0.2s ease;
          &:hover{
            color:$hover-color;            
          }    
          &:before{
                content: "\f105";
                font-family: FontAwesome;
                text-align: center;
                position: absolute;
                left: 0px;
                display: block;
                height: 20px;
                width: 20px;
                margin-top: -1px;
          }
        }
      }
}

.footer-content{
  padding-bottom: 20px;

  .ftr-servlst li{

      padding-bottom: 12px;

      .coun-name{
        padding-bottom: 5px;
      }
    }
  }



  .footer-title{

    .navbar-brand{
      color: $dark-color;
      font-weight: 700;
      font-size: 26px;
    }
  }


.copyright {
    padding: 20px 0px;
    background-color: rgba(0, 0, 0, 0.9);
    p {
    color: #fff;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 12px;
   }
   .social-btn{

   }
}

// .loader-sec{
//  position: relative;
//  margin: 100px auto;
//  width: 20px;
//  height: 20px;
//  perspective: 160px;
//  transform-style:preserve-3d; 

//  .food-men{
//     width: 35px;
//     height: 45px;
//     border:4px solid red;
//     border-left:none;
//     position: absolute;
//     transform-origin: 0% 50%; 
//     &:nth-child(2){
//       transform: rotate(180deg);
//     }
//     &{
//       @for $i from 3 through 12{
//         &:nth-child(#{$i}){
//          animation: flip-style 2.5s infinite ease-in-out;
//          animation-delay: $i*0.5s;
//         }
//       }
//     }
//  }

// @keyframes flip-style{
//   0%{}
//   30%{
//     transform: rotateY(-180deg);
//   }
//   100%{
//     transform: rotateY(-180deg);
//   }
// }
// }



// Vishal topbar style

.home-bg.full-header{
  .header-class{
    .container{
      max-width: 100%;
    }
  }
}

.home-bg.light-header{
  .header-class{
    background:$light-bar-bg;
    .navbar-nav{
      .nav-item{        
        .nav-link{
           color:$secondary-color; 

        }     
      }

      .home-bg.light-header{

         .header-class.small{    
            position: fixed;
            width: 100%;
            font-size: 100%;  
            background:#232323;
          
          .navbar {

            .navbar-brand{
              color: $primary-color;
            }

            .nav-item{

              .nav-link
              {
                color: $primary-color; 
              }
            }
          }
        }
      }


    .dropdown-menu{
      background-color: $light-bar-bg;
      border:1px solid #eee;
      .dropdown-item{
        color: $light-dropdown-text-color;
        border-bottom: 0px;
        &::after{
          border: solid $light-dropdown-text-color;
          border-width: 0 2px 2px 0;
        }
        &:hover{
          color:$hover-color;
        }
        &:hover::after{
          border:solid $hover-color;
          border-width: 0 2px 2px 0;
        }
      }
    }
    }
    .navbar-brand{
     color:$secondary-color;
    }
  }
}


.home-bg.dark-header{
  .header-class{
    background:$dark-bg;
    .navbar-nav{
      .nav-item{
        .nav-link{
           color:$primary-color; 
        }     
      }
    .dropdown-menu{
      background-color: $dropdown-bg-color;
      border:1px solid $dropdown-bg-color;
      .dropdown-item{
        color: $dropdown-text-color;
        &::after{
          border: solid $dropdown-text-color;
          border-width: 0 2px 2px 0;
        }
        &:hover{
          color:$hover-color;
        }
        &:hover::after{
          border:solid $hover-color;
          border-width: 0 2px 2px 0;
        }
      }
    }
    }
    .navbar-brand{
     color:$primary-color;
    }
  }
}



.home-bg.color-header{
  .header-class{
    background: #000046; 
     background: -webkit-linear-gradient(to right, #1CB5E0, #000046); 
     background: linear-gradient(to right, #1CB5E0, #000046); 
    .navbar{
    .navbar-brand{
     color:$primary-color;
    }
    .navbar-nav{
      .nav-item{

        .nav-link{
           color:$primary-color; 
           &::before{
            background:$primary-color; 
           }
           &::after{
            background:$primary-color; 
           }
        }

         &.active{

          .nav-link{
            color: $hover-color;

            &::before{
              background:$hover-color;
             }
            &::after{
              background:$hover-color;
             }
          }
        }
      }
    .dropdown-menu{
      background-color: $light-bar-bg;
      border:1px solid #eee;
      .dropdown-item{
        color: $light-dropdown-text-color;
        border-bottom: 0px;
        &::after{
          border: solid $light-dropdown-text-color;
          border-width: 0 2px 2px 0;
        }
        &:hover{
          color: $hover-color;
        }
        &:hover::after{
          border:solid $hover-color;
          border-width: 0 2px 2px 0;
        }
      }
    }
    .btn-search {
      .fa{
        color:$primary-color;
      }
    }
  }
  }
}


}



.home-bg.transparent-header{
  .header-class{
    background:$transparent-bg;
    .navbar{
    .navbar-brand{
     color:$dark-color;
    }
    .navbar-nav{
      .nav-item{
        .nav-link{
           color:$dark-color; 
        }
        &:hover .nav-link , &.active .nav-link{
           color: $hover-color;
        }     
      }
    .dropdown-menu{
      background-color: $light-bar-bg;
      border:1px solid #eee;
      .dropdown-item{
        color: $light-dropdown-text-color;
        border-bottom: 0px;
        &::after{
          border: solid $light-dropdown-text-color;
          border-width: 0 2px 2px 0;
        }
        &:hover{
          color:$hover-color;
        }
        &:hover::after{
          border:solid $hover-color;
          border-width: 0 2px 2px 0;
        }
      }
    }
    .btn-search {
      .fa{
        color:$primary-color;
      }
    }
  }
  }
}
}


.down-arrow-item{

   &::after{
        content: '';
        position: absolute;
        right: -10px;
        top: 8px;
        border: solid #343745;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(45deg);
        transition: all 0.2s ease;        }
        &:hover::after,&.active::after{
          border-color: $hover-color;
        }
        &:hover,&.active{
          color: $hover-color;
          background: transparent;
        }
}

.dropdown-submenu {
  position: relative;  
    .arrow-item{
      &::after{
        content:'';
        position:absolute;
        right: 20px;
        top: 16px;
        border: solid $dropdown-text-color;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(-45deg);
        transition: all 0.2s ease;
        }
           &:hover::after,&.active::after{
              border-color: $hover-color;
        }
          &:hover,&.active{
            color: $hover-color;
            background: transparent;
        }
      }

}




.dropdown-submenu .dropdown-menu {
  top: -21px;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}


// vishal header menu

.home-bg.modern-menu-light{
  .header-class{
    background:$transparent-bg;
    .navbar{
      padding: 15px 30px;
      position: relative;
      top: 30px;
      background:$light-bar-bg;
      height: 80px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.2);
      .navbar-brand{
        color:$secondary-color;
      }
      .navbar-nav{
         .nav-item{
          .nav-link{
             color:$secondary-color; 
          }   
             &.active{
              .nav-link{
                color: $hover-color;

                &::before{
                  background:$hover-color;
                 }
                &::after{
                  background:$hover-color;
                 }
              }
            }
         }
        .dropdown-menu{
          background-color: $light-bar-bg;
          border:1px solid #eee;
          .dropdown-item{
            color: $light-dropdown-text-color;
            border-bottom: 0px;
              &::after{
                border: solid $light-dropdown-text-color;
                border-width: 0 2px 2px 0;
              }
              &:hover{
                color:$hover-color;
              }
              &:hover::after{
                border:solid $hover-color;
                border-width: 0 2px 2px 0;
              }
          }
        }
      }
    }
  }
}



.home-bg.modern-menu-dark{
  .header-class{
    background:$transparent-bg;
    .navbar{
      padding: 15px 30px;
      position: relative;
      top: 30px;
      background:$dark-bg;
      height: 80px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.2);
      .navbar-brand{
       color:$primary-color;
      }
    .navbar-nav{
      .nav-item{
        .nav-link{
           color:$primary-color; 
        }
        &.active{
        .nav-link{
          color: $hover-color;

          &::before{
            background:$hover-color;
           }
          &::after{
            background:$hover-color;
           }
        }
      } 
      }
    .dropdown-menu{
      background-color: $dropdown-bg-color;
      border:1px solid $dropdown-bg-color;
      .dropdown-item{
        color: $dropdown-text-color;
        &::after{
          border: solid $dropdown-text-color;
          border-width: 0 2px 2px 0;
        }
        &:hover{
          color:$hover-color;
        }
        &:hover::after{
          border:solid $hover-color;
          border-width: 0 2px 2px 0;
        }
      }
     }
    }
   }
  }
}


.home-bg.modern-menu-colored{
  .header-class{
     background: transparent;
    .navbar{
      padding: 15px 30px;
      position: relative;
      top: 30px;
      background: #000046; 
     background: -webkit-linear-gradient(to right, #1CB5E0, #000046); 
     background: linear-gradient(to right, #1CB5E0, #000046); 

      height: 80px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    .navbar-brand{
     color:$primary-color;
    }
    .navbar-nav{
      .nav-item{
        .nav-link{
           color:$primary-color; 
           &::before{
            background:$primary-color; 
           }
           &::after{
            background:$primary-color; 
           }
        }
        &.active{
        .nav-link{
          color: $hover-color;

          &::before{
            background:$hover-color;
           }
          &::after{
            background:$hover-color;
           }
        }
      } 
      }
    .dropdown-menu{
      background-color: $light-bar-bg;
      border:1px solid #eee;
      .dropdown-item{
        color: $light-dropdown-text-color;
        border-bottom: 0px;
        &::after{
          border: solid $light-dropdown-text-color;
          border-width: 0 2px 2px 0;
        }
        &:hover{
          color: $hover-color;
        }
        &:hover::after{
          border:solid $hover-color;
          border-width: 0 2px 2px 0;
        }
      }
    }
    .btn-search {
      .fa{
        color:$primary-color;
      }
    }
  }
  }
  

      &.small{

        .navbar{
          background:#232323;

          .navbar-brand {
            color:$primary-color;
          }

          .navbar-nav {

            .nav-item {

              &.active{              
                color: $hover-color;
              }      
            }  
          }
        }
      }
    }
}

.home-bg.modern-menu-transparent{
    .header-class{
      background:$transparent-bg;
      .navbar{
        padding: 15px 30px;
        position: relative;
        top: 30px;
        background:$transparent-bg;
        height: 80px;
      .navbar-brand{
       color:$dark-color;
      }
      .navbar-nav{
        .nav-item{
          .nav-link{
             color:$dark-color; 
          }
          &:hover .nav-link , &.active .nav-link{
             color: $hover-color;
          }
          &.active{
            .nav-link{
              color:$hover-color;

              &::before{
                background:$hover-color;
               }
              &::after{
                background:$hover-color;
               }
            }
          } 
        }
      .dropdown-menu{
        background-color: $light-bar-bg;
        border:1px solid #eee;
        .dropdown-item{
          color: $light-dropdown-text-color;
          border-bottom: 0px;
          &::after{
            border: solid $light-dropdown-text-color;
            border-width: 0 2px 2px 0;
          }
          &:hover{
            color:$hover-color;
          }
          &:hover::after{
            border:solid $hover-color;
            border-width: 0 2px 2px 0;
          }
        }
      }
      .btn-search {
        .fa{
          color:$primary-color;
        }
      }
    }
    }

      &.small{

        .navbar{
          background:#232323;

          .navbar-brand {
            color:$primary-color;
          }   

          .navbar-nav{
            .nav-item{
              .nav-link{
                 color:$primary-color; 
              }
              &:hover .nav-link , &.active .nav-link{
                 color: $hover-color;
              }
              &.active{
                .nav-link{
                  color: $hover-color;

                  &::before{
                    background:$hover-color;
                   }
                  &::after{
                    background:$hover-color;
                   }
                }
              } 
            }
          }
        }
      }
    }
  }


.home-bg.mini-menu{
  .header-class{
     height: 60px;
     background: $secondary-color;
    .navbar{
      padding: 5px 0px;
      .navbar-brand{
       color:$primary-color;
      }
    .navbar-nav{
      .nav-item{
        .nav-link{
           color:$primary-color; 
        }
        &.active{
          .nav-link{
            color: $hover-color;

            &::before{
              background:$hover-color;
             }
            &::after{
              background:$hover-color;
             }
          }
        } 
      }
    }
    .dropdown-menu{
      background-color: $dropdown-bg-color;
      border:1px solid $dropdown-bg-color;
      .dropdown-item{
        color: $dropdown-text-color;
        &::after{
          border: solid $dropdown-text-color;
          border-width: 0 2px 2px 0;
        }
        &:hover{
          color:$hover-color;
        }
        &:hover::after{
          border:solid $hover-color;
          border-width: 0 2px 2px 0;
        }
      }
     }
    }
   }
  }


.home-bg.fix-menu{
  .header-class{
    background:$light-bar-bg;
    box-shadow:0 2px 6px rgba(0,0,0,0.2); 
    .navbar{
      .navbar-brand{
        color:$secondary-color;
      }
      .navbar-nav{
         .nav-item{
          .nav-link{
             color:$secondary-color; 
          }
          &.active{
            .nav-link{
              color: $hover-color;

              &::before{
                background:$hover-color;
               }
              &::after{
                background:$hover-color;
               }
            }
          }   
         }
        .dropdown-menu{
          background-color: $light-bar-bg;
          border:1px solid #eee;
          .dropdown-item{
            color: $light-dropdown-text-color;
            border-bottom: 0px;
              &::after{
                border: solid $light-dropdown-text-color;
                border-width: 0 2px 2px 0;
              }
              &:hover{
                color:$hover-color;
              }
              &:hover::after{
                border:solid $hover-color;
                border-width: 0 2px 2px 0;
              }
          }
        }
      }
    }
  }
}

.home-bg.disable-menu{
 .header-class{
    background: #000046; 
     background: -webkit-linear-gradient(to right, #1CB5E0, #000046); 
     background: linear-gradient(to right, #1CB5E0, #000046); 
    &.small{
      position: relative;
    }
    .navbar{
    .navbar-brand{
     color:$primary-color;
    }
    .navbar-nav{
      .nav-item{
        .nav-link{
           color:$primary-color; 
           &::before{
            background:$primary-color; 
           }
           &::after{
            background:$primary-color; 
           }
        }
        &.active{
          .nav-link{
            color: $hover-color;

            &::before{
              background:$hover-color;
             }
            &::after{
              background:$hover-color;
             }
          }
        } 
      }
    .dropdown-menu{
      background-color: $light-bar-bg;
      border:1px solid #eee;
      .dropdown-item{
        color: $light-dropdown-text-color;
        border-bottom: 0px;
        &::after{
          border: solid $light-dropdown-text-color;
          border-width: 0 2px 2px 0;
        }
        &:hover{
          color: $hover-color;
        }
        &:hover::after{
          border:solid $hover-color;
          border-width: 0 2px 2px 0;
        }
      }
    }
    .btn-search {
      .fa{
        color:$dark-color;
      }
    }
  }
  }
}
}

.home-bg.right-logo-menu{
 .header-class{
    .navbar{
      flex-direction: row-reverse;
    .navbar-nav{
      margin-left: 0px !important;
    }
     .form-inline {
    left: 30%;
    right: 0px;
   }
  }
}
}

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      font-size: 13px!important;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 13px!important;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
       font-size: 13px!important;
    }



/* Madhavi css start */
.page-menu .home-bg{   
    height: 57vh;
    background: $top-bar-bg;
    .home-section{
          display: block;
          background: #f5f5f5;
          top: 20%;
          padding: 60px 0;
      h1{
        color: $dropdown-bg-color;
        span{
          display: none;
        } 
      }
        .head-one{
          span{
            display: none;
          }
          & .default{ 
            span.default{ display: inline-flex;}
          }
          & .rounded{ 
            span.rounded{ display: inline-flex;}
          }
          & .outline{ 
            span.outline{ display: inline-flex;}
          }
          & .lines{ 
            span.lines{ display: inline-flex;}
          }
          & .light{ 
            span.light{ display: inline-flex;}
          }
          & .solid{ 
            span.solid{ display: inline-flex;}
          }
          & .dark{ 
            span.dark{ display: inline-flex;}
          }
          & .creative{ 
            span.creative{ display: inline-flex;}
          }

        
      }
      .head-two{
        a{
          color: #5b5b5bc9;
            font-size: 11px;
            position: relative;
            opacity: .8;
            width: 80px;
            display: inline-block;
            text-align: center;
            cursor: pointer;
          span{
            display: none;
          }
          &.default{ 
            span.default{ display: inline-flex;}
          }
          &.rounded{ 
            span.rounded{ display: inline-flex;}
          }
          &.outline{ 
            span.outline{ display: inline-flex;}
          }
          &.lines{ 
            span.lines{ display: inline-flex;}
          }
          &.solid{ 
            span.solid{ display: inline-flex;}
          }
          &.light{ 
            span.light{ display: inline-flex;}
          }
          &.dark{ 
            span.dark{ display: inline-flex;}
          }
          &.creative{ 
            span.creative{ display: inline-flex;}
          }
          &:after{
               content: '';
              background-image: url('../img/down-arrow.svg');
              position: absolute;
              right: -26px;
              background-position: 39% 18%;
              background-size: 13%;
              background-repeat: no-repeat;
              top: 0;
              z-index: 99;
              width: 70%;
              transform: rotate(-90deg);
              height: 50%;
          }
          &:last-child:after{
            display: none;
          }
          &:hover{
            color: $menu-active;
          }
          &:last-child{
            color:$menu-color;
          }
        }
      }

      }
  .two-coloum-nav{
    display: none;
  }
    }
    .menu-types{
      &.dark{
        background-color: #000;
        ul{
        li{
          a{
            color: $primary-color;
            &:hover{
                  border-radius: 35px;
                  background: #8a8a8a6e;
                  color: $primary-color;
            }
          }
          &.pointer{
            a{
                  border-radius: 35px;
                  background: #8a8a8a6e;
                }
            }
          // &.pointer{
          //  a{
          //  border-radius: 35px;
        //      background: #8a8a8a6e;  
        //      color: $primary-color;
          //  }
          // }
          ul.menu-last li a{
            color: $menu-color;
          }
          svg path{
            fill: #fff!important;
          }
        }

      }
    }
    li:hover{
      .menu-last{
        li a{
        background: transparent;
        border: none;
        color: $menu-color!important;
         &:after{
            display: none;
         }
        }
      }
    }
  }
    .menu-types{
      border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
      ul{
        display: flex;
          align-items: center;
          justify-content: space-evenly;

          li{
            a{
              color: $menu-color;
              padding: 10px 30px;
              font-size: 13px;
              display: block;
              font-weight: 600;
              cursor: pointer;
              margin: 10px 0;
              border: 2px solid transparent;
            }
            ul.menu-last{
              display: block;
              padding: 15px 17px;
              display: none;
              transition: 0.3s;
              .bar{
                display: none;
              }
              li a{
                padding: 0 0 5px 0;
              margin: 0;
              font-weight: 300;
              &:hover{
                background-color: transparent;
                color: $menu-active!important;
              }

              }
            }
            &:hover{
              ul.menu-last{
                display: block;
              }
            }
            &.dropdown{
              a{
               svg{
                width: 10px;
                height: 10px;
                path{
                  fill: $menu-color;
                }
               }
              }
            }
          }

      }
      &.rounded, &.solid {
           li{
            &:hover a{
              background: #2250fc;    
                border-radius: 35px;
                color: $primary-color!important;
            }
            &.pointer{
              a{
                background: #2250fc;    
                border-radius: 35px;
                color: $primary-color;
              }
            }
              & .dropdown{
              a{
               svg{
                path{
                  fill: $primary-color;
                }
               }
              }
            }
          }
      }
          &.rounded{
          & .dropdown{
              a{
               svg{
                path{
                  fill: $primary-color;
                }
               }
              }
            }
          }
             &.outline li{
            a:hover{
                background: $primary-color;   
                border-radius: 35px;
                color: $menu-active!important;
                border: 2px solid $menu-active;
            }
            &.pointer{
              a{
                background: $primary-color;   
                border-radius: 35px;
                color: $menu-active!important;
                border: 2px solid $menu-active;
              }
            }
          }
           &.light li{
            a:hover{
                background: transparent;    
                border-radius: 35px;
                color: $menu-color!important;
                border: 2px solid $menu-border;
            }
            &.pointer{
              a{
                background: transparent;    
                border-radius: 35px;
                color: $menu-color!important;
                border: 2px solid $menu-border;
              }
            }
          }

          &.solid li{
            a:hover{
                border-radius: 5px;
                
            }
            &.pointer{
              a{
                  
                border-radius: 5px;
                
              }
            }
          }

           &.creative li{
            position: relative;

            a{
              &:hover{
                &:after{
                  background: $dropdown-bg-color;
                  bottom: 10px;
                }
              }
            &:after{
                content: '';
              width: 100%;
              height: 2px;
              background: transparent;
              position: absolute;
              left: 0;
              bottom: 0px;
              transition: 0.3s; 
            }
          }&.pointer{
            a:after{
              background: $dropdown-bg-color;
              bottom: 10px;
            }
          }

          }
          &.lines{
            li .bar{
              position: relative;
              display: block;
              width: 90px;
              margin: 0 auto;
              &:after,&:before{
                content: '';height: 1px;width: 0;bottom: -1px;position: absolute;background: #5264AE;transition: 0.2s ease all;-moz-transition: 0.2s ease all;-webkit-transition: 0.2s ease all;
              }
              &:before{
                left: 50%;
              }
              &:after{
                right: 50%;
              }
            }
            li:hover,li.pointer{
              a{color: $menu-active;}
              span.bar:after ,span.bar:before{
                width: 50%;
            }
            }
          }
    }


