$font-stack:'Open Sans', sans-serif;
$top-bar-bg:#fff;;
$primary-color: #fff;
$hover-color: #52bad5;
$font-bold: 700;
$dropdown-bg-color:#171717;
$dropdown-text-color:#bebebe;
$dark-color:#343745;
// light-theme

$light-bar-bg:#ffffff;
$secondary-color:#222;
$light-dropdown-text-color:#444;

//color-theme

$color-bar-bg:#c83539;

// transparent-theme

$transparent-bg:transparent;


//dark-header

$dark-bg:#000;


//madhavi variable
$menu-color: #565656;
$menu-active: #2250fc;
$menu-border: #ebebeb;
$page-bg: #f5f5f5;