.more a{
	background-color: #54afe8;
	color: #fff;
}
/*
====================================================
				Work
====================================================
*/
.work{
	background-color: #f9f9f9;
}
.portfolio-controllers .btn-default{
	color: #808080;
}

.portfolio-controllers .filter-btn{
	background-color: transparent;
	color: #222;
	border-color: #54afe8;
}
.portfolio-controllers .filter-btn.active-work{   
    color: #54afe8;
}
.portfolio-link li a i{
	background-color: transparent;
	/*border: 1px solid #00CCCC;*/
	color: #fff;
}
.portfolio-link li a:hover i{
	/*border-color: transparent;*/
}
.portfolio-image:hover .portfolio-link li i.fa-link{
	background-color: #00000075;
	color: #fff;
}
.portfolio-item-title{
	color: #00386b;
}
.portfolio-item-title:after{
	background-color: transparent;
}
.caption-content{
	background-color: rgba(225, 225, 225, .7);
}