/*
=====================================================
					Default Style
=====================================================
*/
*{
	box-sizing: border-box;
}
body {
  position: relative; 
}
ul,ol{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
a,a:hover,a:focus{
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p,figure{
	margin: 0px;
	padding: 0px;
}
p{
	line-height: 1.9em;
	font-weight: 400;
	font-size: 15px;
}
.overlay{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(35,35,40,0.8);
}
.shutter-lock{
	transform: translateZ(0);
	position: relative;
}
.shutter-lock:after{
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 100%;
	background: #00cccc;
	-webkit-transition : all 0.5s ease-in-out;
	transition : all 0.5s ease-in-out;
	z-index: -1;
}
.shutter-lock:hover:after{
	width: 100%;
}
.title{
	text-transform: uppercase;
}
.title strong{
	font-weight: 900;
}
.slider-btn{
	font-weight: 700;
}
.parallax{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -999;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.more{
	text-align: center;
}
.more a{
	display: inline-block;
	padding: 15px 25px;
	border-radius: 2px;
	font-weight: 700;
	text-transform: uppercase;
	-webkit-transition : all 0.3s ease;
	transition : all 0.3s ease;
}
.more a:hover{
	box-shadow: 0px 0px 5px #ff9999;
}
/*
====================================================
				6.Portfolio
====================================================
*/
.work{
	padding: 35px 0px;
}
.work-title{
	padding-bottom: 30px;
	text-align: center;
}
.portfolio-controllers-container{
	margin-bottom: 30px;
	text-align: center;
}
.portfolio-controllers{
    display: flex;
    padding: 0px;
    height: 100%;
    /* width: 50%; */
    overflow: auto;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

}
.portfolio-controllers .filter-btn{
    float: left;
    padding: 10px 15px;
    outline: 0px;
    margin: 0px 15px 15px 0px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 16px;
}
.more-container{
	margin-top: 40px;
}
.portfolio{
	padding: 14px 7px;
}
.portfolio-image{
	position: relative;
	overflow: hidden;
}
.portfolio-image img{
	width: 100%;
	height: 100%;
	transform : scale(1);
	-webkit-transition : all 0.5s ease;
	transition : all 0.5s ease;
	position: relative;
}
.portfolio-image:hover img{
	transform : scale(1.2);
	cursor: pointer;
}
figure.portfolio-image:hover .portfolio-link {
    transform: scale(1);
}
.portfolio-image::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(34,35,40,0.5);
}
.work .caption{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
	opacity: 0;
	transform : scale(1.2);
	-webkit-transition : all 0.5s ease;
	transition : all 0.5s ease;
	padding: 10px;
	z-index: 999;
}
figure.portfolio-image:hover .caption-content {
    position: absolute;
    width: 95%;
    height: 92%;
    left: 10px;
}
.caption-content{
	width: 100%;
	height: 100%;
	position: relative;
}
.portfolio-image:hover .caption{
	opacity: 1;
	transform : scale(1);
}
.caption-content{
	width: 100%;
	height: 100%;
	text-align: center;
	background-color : #ddddddad;
	position: relative;
}
.portfolio-link{
	display: inline-block;
	position: absolute;
	top: 50%;
    left: 42%;
	transform: scale(0);
}
.portfolio-link li{
	float: left;
	margin-right: 5px;
}
.portfolio-link li i{
	font-size: 25px;
	border-radius: 2px;
	-webkit-transition : all 0.3s linear;
	transition : all 0.3s linear;
}
.portfolio-link li  i.fa-link{
	padding: 10px 15px;
}
.portfolio-link li i.fa-plus{
	padding: 10px 17px;
}
.portfolio-item-title{
	width: 90%;
	height: 40px;
	overflow: hidden;
    font-size: 18px;
   	position: absolute;
	left: 50%;
	top: 25%;
	transform: translateX(-50%);
}
.portfolio-item-title:after{
	position: absolute;
    bottom: 0;
    left: 35%;
    content: '';
    width: 30%;
    height: 2px;
}

.footer-bottom p{
	text-align: center;
}

/*Xtra Large*/
@media (min-width: 1200px){}
/*Medium Device*/
@media(min-width:992px){}
/*Small Device*/
@media(min-width:768px){}
/*Xtra Small Device*/
@media(max-width:767px){

	.portfolio-controllers{
    width: 100%;
    justify-content: start;
	}
}