body{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 13px;
  margin: 0px;
  height: 100%;
}

button{
	background: transparent;
	border:transparent;
	padding: 0px;
}

button:focus{
	box-shadow: none;
	outline: none;
}

ul{
    padding:0px;
    margin: 0px;
}

body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 10px;
}

html {
  scroll-behavior: smooth;
}

.d-btn{
  cursor: pointer;
}
#header-scroll {
    position:fixed;
    z-index: 9999;
    width:100%;
    -ms-transition:     all 0.3s ease-out;
    -moz-transition:    all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition:      all 0.3s ease-out;
    transition:         all 0.3s ease-out;
    top:0;
}
.navbar-nav .nav-item{
  cursor: pointer;
}

.navbar-nav .nav-item .nav-link{
  position: relative;
  margin: 0px 10px;
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav .nav-item .nav-link::before{
    content: "";
    position: absolute;
    left: 0px;
    bottom: 2px;
    width: 0;
    height: 2px;
    background-color: #fff;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    opacity: 0;
}

.navbar-nav .nav-item .nav-link:hover::before,.navbar-nav .nav-item .nav-link.active::before{
  width: 100%;
  right: 0;
  opacity: 1;
}

.d-btn .nav-link::before{
  content: none !important;
}


#header-scroll.small {
        background-color: #fff !important;
    box-shadow: 0 8px 6px -6px #d0cbcb;
}
.sticky-logo, .default-logo{
  width: 35%;
}
#header-scroll .sticky-logo{
  display: none;
    opacity: 0;
    -webkit-transition: opacity .8s ease;
    transition: opacity .8s ease;
}
#header-scroll.small .default-logo{
    display: none;
    opacity: 0;
    -webkit-transition: opacity .8s ease;
    transition: opacity .8s ease;
}
#header-scroll.small .sticky-logo{
  display: block;
    opacity: 1;
    -webkit-transition: opacity .8s ease;
    transition: opacity .8s ease;
}
#header-scroll.small .nav-link {
    color: #00386b;
}

#header-scroll.small .navbar-nav .nav-item .nav-link:hover::before ,#header-scroll.small .navbar-nav .nav-item .nav-link.active::before{
  background: #00386b;
}

.navbar {
    padding:5px 0px;
}

.navbar-brand{
    padding-top:0px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
}

.nav-link{
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  margin: 0px 10px;
}
.nav-link:hover{
  color:#fff;
}

.header-class{
  color: #fff;
  display: block;
  position: relative;
  height: 80vh;
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index:1;
}

.header-class.temp-class{
background: #136a8a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.temp-class .image-class .image-one{
  display: none;
}

/*.header-path{
  background: url(../../images/service.png) no-repeat right;
  background-position:90%;
  background-size:30%;
}
.header-path1{
  background: url(../../images/1.png) no-repeat right;
  background-position:90%;  
  background-size:30%;
}*/

.header-path .row{
  align-items: center;
  height: 80vh;
}

.inner-img img{
  margin-left: 70px;
}


.d-btn{
    background: transparent;
    border-radius: 30px;
    padding: 0px 15px;
    border: 1px solid #ddd;
    margin-left: 10px;
  }

.d-btn .nav-link{
  color: #fff;
  transition: 0.5s;
}

.d-btn:hover {
    background: #fff;
    border: 1px solid #fff;
}
.d-btn:hover .nav-link{
  color:#00386b;
}

#header-scroll.small .d-btn:hover {
    background: #00386b;
    border: 1px solid #00386b;
}

#header-scroll.small .d-btn:hover .nav-link{
  color:#fff;
}

.head-class h1{
    color: #fff;
    font-weight: 700;
    padding: 20px 0px;
    margin-bottom: 0px;
    font-size: 62px;
    text-align: left;
    animation: mymove 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function:ease-in;
}

@keyframes mymove {
    from {
     margin-left: -2330px;
    }
    to {
    margin-left: 0px;
    }
}

.head-class h5{
     color: #fff;
    font-weight: 700;
    padding: 0px 10px;
    margin-bottom: 0px;
    font-size: 22px;
    text-align: left;
    animation: mymoveone 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}


@keyframes mymoveone {
    from {
     margin-right: -2330px;
    }
    to {
    margin-right:0px;
    }
}

.get-class{
    text-align: left;
    padding: 25px 5px;
    animation: mymovetwo 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}


.get-btn {
    background: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.get-btn:hover{
    background: #fdfdfd;
    color: #361297;
    transition: 0.2s color ease;
}

.get-btn:hover a {
    color: #fff;
    text-decoration: none;
}

.bg-img{
    bottom: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -2;
}


.image-class{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 0;
    z-index: 2;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    margin: auto;
}

.image-two,.image-one{
    bottom: 0%;
    height: 6.25rem;
    width: 100%;
    position: absolute;
}

.bg-two {
  background-image: url(../img/header-bg.svg);
  background-color: rgb(0, 40, 86, 0.7);
  background-blend-mode: multiply;
  background-position-y: 0px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.bg-two-two {
  background-image: url(../img/header-bg.svg);
  background-blend-mode: multiply;
  background-position-y: 0px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.temp-head h1{
  animation: none;
}

.content-data{
  padding: 50px 0px;
  margin: 0px 0px;
}

.work-row{
  margin: 0px;
}

.title-sec h3{
  color: #000;
  font-weight: 600;
  font-size: 34px;
  margin-bottom: 40px;
}

.icon-center{
  display: flex;
  justify-content: center;
  width: 100%;
}

.icon-class{
  position: relative;
  margin-bottom: 20px;
}

.sec-feature .icon-class .fas,.sec-feature .icon-class .far{
  font-size: 30px;
  color: #550a74;
}

.sec-feature .img-class {
    margin: 60px 0px;
}

.sec-feature .account-one p{
  font-size: 14px;
}

.feature-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
/*    padding: 50px 0px 0px 0px;*/
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
}

.feature-content .data-class{
  padding:0px;
}

.icon-class img{
  padding: 20px;
  position: relative;
  z-index: 1;
  width: 100px;
}

.account h3{
  font-size: 20px;
  color: #000;
  font-weight: 500;
  margin-bottom:10px;
}

.account-one p{
  color: #606060;
  font-size: 14px;
  font-weight: 400;
}

.bg-small{
    background-image: url(../img/download-1.svg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    margin: auto;
    visibility: visible;
}

.bg-small-1{
     background-image: url(../img/download-2.svg) !important;
}

.bg-small-2{
     background-image: url(../img/download.svg) !important;
}

.content-image{
  margin: 100px 0px;
}

.gallery-image .title-sec h3 {
    margin-bottom: 20px;
}

.gallery-image{
  margin-top: 50px;
}

.gallery{
  background-color: rgb(247, 247, 247);
  background-image: url(../img/bg-shapes.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: 50%;
  padding: 50px 0px;
}

.gallery:before {
    background-image: url(../img/mask-up.png);
    background-size: cover;
    content: "";
    left: 0;
    height: 3.75rem;
    position: absolute;
    top: 0px;
    width: 100%;
}

.your-class-two img{
 /* width: 580px;*/
  height: 415px;
  box-shadow: 0.125rem 0.1875rem 0.9375rem rgba(0, 0, 0,.15);
  border-radius: .25rem;
  cursor: pointer;
}

.slick-slide:focus{
  outline: none !important;
}

a:focus{
  outline: none;
}

.your-class-two .slick-slide{
  opacity: 1;
  transition: .3s ease;
  transform: scale(.95);
}


.your-class-two .slick-active.slick-center{
  opacity: 1;
  transform: scale(1);
  transition: .3s ease;
}

.ui-class{
  margin:50px 0px;
  background-image: url(../../images/circulos-copy-2.png) !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

.ui-class .title-sec h3{
  margin-bottom: 0px;
}

.data-class{
  padding: 150px 0px 0px;
}

.data-class p{
  color: #000;
  font-size: 14px;
  margin-bottom: 30px;
}

.download-btn {
    background: #00386b;
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}
.download-btn a{
  color: #fff;
}
.download-btn{
   transition: 0.2s ease;
}
.download-btn:hover{
  background: #00386b;
  color:#fff;
 
}

.download-btn:hover a {
    color: #fff;
    text-decoration: none;
}

.use-it{
  margin-bottom: 20px;
  color: #4a4a4a;
  font-size: 22px;
}

.wrapper-one{
  padding: 50px 0px;
}

.your-class div{
  padding: 0px 55px;
}

.your-class img{
  width: 100px;
  height: 100px;
}

.slick-slide{
  outline: none;
}


.footer {
  background-color: #480863;
  padding: 20px 0px;
}

.footer small{
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}

.back-to-top span{
    background:#520a70;
    padding: 15px 20px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    transition: ease-out 0.4s;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 99;
}

.back-to-top .fa{
  color: #fff;
  font-size: 22px;
}

.back-to-top span:hover{
    background: #ae61ce;
    transition: ease-out 0.4s;
}
.card {
  border-radius: 16px;
  width: 360px;
  height: 360px;
  background: url(https://picsum.photos/360/360?image=0);
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.85);
}
.card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.92);
}
.card .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.card .img span {
  width: 25%;
  height: 100%;
  background: url(https://picsum.photos/360/360?image=0);
  transition: 0.5s;
}
.card .img span:nth-child(1) {
  background-position: 0;
  transition-delay: 0;
}
.card .img span:nth-child(2) {
  background-position: 33.33333%;
  transition-delay: 0.1s;
}
.card .img span:nth-child(3) {
  background-position: 66.66666%;
  transition-delay: 0.2s;
}
.card .img span:nth-child(4) {
  background-position: 100%;
  transition-delay: 0.3s;
}

.card:hover .img > span {
  transform: translateY(-100%);
}
.card:hover .content {
  transform: translateY(0%);
  transition: 1s;
  transition-delay: 0.1s;
}

.content {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 20px 20px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.css-art{
  margin-left: 70px;
}

/*portfolio style start*/
.portfolio-image:hover .caption {
    opacity: 1;
    transform: scale(1);
}

/*
.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    color: #54afe8;
    margin-bottom: 30px;

}
.filter-button:hover,.filter-button:focus
{

    outline: none;
    box-shadow: none;
    outline: none;

}
.btn-default:active .filter-button:active,
button.btn.btn-default.filter-button.active
{
    color: #000000;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
  position: relative;
  transition: 0.3s;
    margin-bottom: 30px;
}
.gallery_product img {
    width: 100%;
    position: relative;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 3px;
}*/
/*.gallery_product:hover  img ~ .caption {
    display: block;
   
   }*/

/*   .gallery_product img ~ .caption:hover{
     box-shadow: 0px 0px 150px #000000;
     display: block;
   
   }
.gallery-image .gallery-image .title-sec h3{
  margin-bottom: 0;
}
.gallery_product:hover:after {
    position: absolute;
    width: 92%;
    background: #00000085;
    height: 100%;
    top: 0;
    content: '';
     transition: 0.3s;
}
.gallery_product img ~ .caption {
    position: absolute;
    bottom: 40%;
    left: 36%;
    z-index: 1;
    font-size: 18px;
    background: #26afe8;
    border-radius: 35px;
    color: #fff;
    transition: 0.3s;
    padding: 4px 20px;
    display: none;
   
}

.portfolio-controllers-container {
    margin-bottom: 30px;
    text-align: center;
    padding: 0;
    float: right;
    margin-right: -35px;
}*/
/*Portfolio style end*/


.template-class{
    margin: 50px 0px;      
    background-image: none !important;
}

.template-path{
  padding: 50px 0;
  background: -webkit-linear-gradient(to right, #bc00ff, #2b0dbf);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #bc00ff, #2b0dbf);
}

.template-class .title-sec h3{
  color: #fff;
}

.template-class .use-it{
color: #fff;
font-size: 36px;
}

.template-class .data-class p{
  color: #fff;
  font-weight: 500;
}

.template-class .download-btn{
    background: #00386b;
}

.template-class .download-btn:hover{
   background: #26afe8;
}

.slide.slick-slide:after {content: '';position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: #000;opacity: 0.5;transition: 0.3s;}

.slide.slick-slide.slick-current.slick-active.slick-center:after {
    z-index: -1;
    opacity: 0;
}

.slick-prev, .slick-next {
    background: #ddd;
}

.slick-next:hover, .slick-prev:hover {
    background-color: #dddddd9e;
}

@media only screen and (max-width: 768px){
  .head-class h1{
    font-size: 36px;
  }
  .head-class h5{
    padding: 0px;
  }
  .get-class{
    padding: 25px 0px;
  }
  .download-btn{
    font-size: 12px;
  }
  .inner-img img {
    margin-left: 0px;
  }

  .header-path .row .col-6{
    max-width: 100%;
    flex: 0 0 100%;
    padding-top: 70px;
    text-align: center;
  }
  .header-path .row .col-6:last-child{
    padding-top: 0px;
  }
  .navbar {
    padding: 5px 15px;
  }

  .css-art {
    margin-left: 0px;
    text-align: center;
   }
   .data-class {
    padding: 0px 0px 0px;
   }
   .sec-feature .img-class {
    margin: 20px 0px;
   }
   .gallery{
    padding: 0px 0px;
   }
   .gallery-image {
    margin-top: 0px;
   }
   .header-image .navbar .navbar-collapse{
    background: #f2f2f2;
   }
   .header-image .navbar .nav-link{
    color: #222;
   }
   .navbar-nav .nav-item .nav-link::before{
    background: #222;
   }
   .d-btn{
    margin-bottom: 10px;
   }
   .d-btn:hover {
    background: #222;
    border: 1px solid #222;
   }
   .header-image .navbar .d-btn:hover.nav-link{
    color: #fff;
   }

   .navbar-toggler{
    cursor: pointer !important; 
   }

   .navbar-toggler-icon .fa{
    color: #fff;
   }

   #header-scroll.small .navbar-toggler-icon .fa{
    color: #640f85 !important;
   }
}
