.home-bg.default {
  clear: both;
  background-color: #f8f9fa;
  background-image: none; }
  .home-bg.default .home-section .head-one h1 {
    color: rgba(0, 0, 0, 0.64); }

.home-bg.img-bg {
  background-image: url("../img/laptop.webp"); }
  .home-bg.img-bg:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(5, 4, 4, 0.28); }
  .home-bg.img-bg .header-class .navbar .navbar-brand {
    color: #fff; }
  .home-bg.img-bg .header-class .navbar .navbar-nav .nav-item .nav-link {
    color: #fff; }
  .home-bg.img-bg .navbar-nav .btn-search .fa {
    color: #fff; }
  .home-bg.img-bg .two-coloum-nav {
    display: none; }
  .home-bg.img-bg .home-section {
    display: block;
    z-index: 1;
    text-align: center;
    left: inherit; }
    .home-bg.img-bg .home-section .head-one h1 {
      color: #fff; }
    .home-bg.img-bg .home-section .head-two p {
      margin: 0 auto; }
  .home-bg.img-bg::after {
    width: 100%;
    height: 80vh;
    content: '';
    background-color: rgba(0, 0, 0, 0.48);
    position: absolute;
    top: 0px; }

.home-bg.pattern-bg {
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  background-size: auto; }
  .home-bg.pattern-bg .two-coloum-nav {
    display: none; }
  .home-bg.pattern-bg .home-section {
    display: block;
    z-index: 1; }
    .home-bg.pattern-bg .home-section .head-one h1 {
      color: rgba(0, 0, 0, 0.64); }
    .home-bg.pattern-bg .home-section .head-two p {
      color: rgba(0, 0, 0, 0.64); }

.home-bg.color-sec {
  clear: both;
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
  background: linear-gradient(to right, #1CB5E0, #000046); }
  .home-bg.color-sec .two-coloum-nav {
    display: none; }
  .home-bg.color-sec .home-section {
    display: block;
    z-index: 1; }
    .home-bg.color-sec .home-section .head-one h1 {
      color: #fff; }
  .home-bg.color-sec .header-class .navbar .navbar-brand {
    color: #fff; }
  .home-bg.color-sec .header-class .navbar .navbar-nav .nav-item .nav-link {
    color: #fff; }

.home-bg.paralx {
  background-image: url("../img/office.png");
  background-attachment: fixed; }
  .home-bg.paralx .two-coloum-nav {
    display: none; }
  .home-bg.paralx .home-section {
    display: block;
    z-index: 1; }
    .home-bg.paralx .home-section .head-one h1 {
      color: #fff; }
  .home-bg.paralx::after {
    width: 100%;
    height: 80vh;
    content: '';
    background-color: rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 0px; }

.home-bg.right-align {
  background-image: url("../img/office1.jpg"); }
  .home-bg.right-align .two-coloum-nav {
    display: none; }
  .home-bg.right-align .home-section {
    display: block;
    z-index: 1;
    text-align: right;
    float: right;
    left: inherit; }
    .home-bg.right-align .home-section .head-one h1 {
      color: #fff; }
    .home-bg.right-align .home-section .head-two p {
      margin-left: auto;
      margin-right: 0; }
  .home-bg.right-align::after {
    width: 100%;
    height: 80vh;
    content: '';
    background-color: rgba(0, 0, 0, 0.48);
    position: absolute;
    top: 0px; }
  .home-bg.right-align .header-class .navbar .navbar-brand {
    color: #fff; }
  .home-bg.right-align .header-class .navbar .navbar-nav .nav-item .nav-link {
    color: #fff; }

.home-bg.left-align {
  background-image: url("../img/Web-design-development.jpg"); }
  .home-bg.left-align .two-coloum-nav {
    display: none; }
  .home-bg.left-align .home-section {
    display: block;
    z-index: 1;
    text-align: left;
    float: right;
    right: inherit; }
    .home-bg.left-align .home-section .head-one h1 {
      color: #fff; }
    .home-bg.left-align .home-section .head-two p {
      margin-right: auto;
      margin-left: 0; }
  .home-bg.left-align::after {
    width: 100%;
    height: 80vh;
    content: '';
    background-color: rgba(0, 0, 0, 0.48);
    position: absolute;
    top: 0px; }
  .home-bg.left-align .header-class .navbar .navbar-brand {
    color: #fff; }
  .home-bg.left-align .header-class .navbar .navbar-nav .nav-item .nav-link {
    color: #fff; }

.video-sec {
  display: none; }

.home-bg.bg-video .two-coloum-nav {
  display: none; }
.home-bg.bg-video .home-section {
  display: block; }
.home-bg.bg-video .video-sec {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-image: none; }
.home-bg.bg-video .header-class .navbar .navbar-brand {
  color: #fff; }
.home-bg.bg-video .header-class .navbar .navbar-nav .nav-item .nav-link {
  color: #fff; }
.home-bg.bg-video .bg-video {
  display: block; }
.home-bg.bg-video:after {
  width: 100%;
  height: 80vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.64);
  position: absolute;
  top: 0px;
  z-index: -1; }

.subscribe {
  display: flex;
  align-items: center; }
  .subscribe .newsletter {
    height: 40px;
    padding: 10px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #fff;
    width: 240px; }
    .subscribe .newsletter:focus {
      outline: transparent; }
  .subscribe .newsletter-btn {
    background: #52bad5;
    height: 40px;
    border: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    color: #fff;
    border: none;
    font-size: 15px;
    border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    vertical-align: middle;
    padding: 0 10px;
    -webkit-font-smoothing: antialiased;
    margin-left: -15px;
    font-weight: 600; }
    .subscribe .newsletter-btn:hover {
      background: #52bad5; }

.footer-main.foot-dark .footer-detail {
  background-color: #000;
  color: #d3c9c9; }
  .footer-main.foot-dark .footer-detail .text-head {
    color: #d3c9c9; }
  .footer-main.foot-dark .footer-detail .footer-title .navbar-brand {
    color: #fff; }
  .footer-main.foot-dark .footer-detail .footer-content .text-sub {
    color: #d3c9c9; }
  .footer-main.foot-dark .footer-detail .list li:hover {
    color: #52bad5; }

.foot-copy {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.social-icons li {
  display: inline-block; }
  .social-icons li a {
    float: left;
    height: 35px;
    width: 35px;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    margin: 0 4px 4px 0;
    border-radius: 20px;
    border: 0;
    background: 0 0;
    color: #fff;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }

.footer-widget .social-icons a {
  background: #878383; }

.map-footer .footer-detail {
  padding-top: 80px; }
  .map-footer .footer-detail .foot-copy {
    justify-content: center; }
.map-footer .news-content {
  display: flex;
  padding-bottom: 15px; }
  .map-footer .news-content .new-pic img {
    width: 70px; }
  .map-footer .news-content .new-content {
    padding-left: 10px;
    color: #fff; }
    .map-footer .news-content .new-content h5 {
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      padding-bottom: 15px; }
      .map-footer .news-content .new-content h5 a {
        color: #fff; }
    .map-footer .news-content .new-content p {
      font-size: 12px; }

.footer-sec {
  position: relative; }

.contact-sec {
  background: #1a1b1c;
  position: absolute;
  top: -40px;
  width: 1140px;
  border-radius: 3px;
  left: 12%; }
  .contact-sec .contact {
    width: 100%;
    padding: 20px; }
    .contact-sec .contact li {
      display: inline-block;
      width: 33%; }
      .contact-sec .contact li .make-call {
        display: flex;
        align-items: center;
        justify-content: center; }
        .contact-sec .contact li .make-call .cont-img {
          background: #2e2e2e;
          border-radius: 30px;
          padding: 10px; }
        .contact-sec .contact li .make-call .cont-detail {
          color: #fff;
          padding-left: 10px;
          font-size: 14px;
          font-weight: 700; }
          .contact-sec .contact li .make-call .cont-detail a {
            color: #fff; }

.footer-main .map-footer {
  display: none; }
.footer-main .form-footer {
  display: none; }

.footer-main.footer1 .default-footer {
  display: block; }
.footer-main.footer1 .map-footer {
  display: none; }
.footer-main.footer1 .form-footer {
  display: none; }

.footer-main.footer2 .map-footer {
  display: block; }
.footer-main.footer2 .default-footer {
  display: none; }
.footer-main.footer2 .form-footer {
  display: none; }
.footer-main.footer2 .footer-detail {
  background-color: #000;
  color: #d3c9c9; }
  .footer-main.footer2 .footer-detail .text-head {
    color: #d3c9c9; }
  .footer-main.footer2 .footer-detail .footer-title .navbar-brand {
    color: #fff; }
  .footer-main.footer2 .footer-detail .footer-content .text-sub {
    color: #d3c9c9; }
  .footer-main.footer2 .footer-detail .list li:hover {
    color: #52bad5; }

.footer-main.footer3 .form-footer {
  display: block; }
.footer-main.footer3 .map-footer {
  display: none; }
.footer-main.footer3 .default-footer {
  display: none; }
.footer-main.footer3 .footer-detail {
  background-color: #000;
  color: #d3c9c9; }
  .footer-main.footer3 .footer-detail .text-head {
    color: #d3c9c9; }
  .footer-main.footer3 .footer-detail .footer-title .navbar-brand {
    color: #fff; }
  .footer-main.footer3 .footer-detail .footer-content .text-sub {
    color: #d3c9c9; }
  .footer-main.footer3 .footer-detail .list li:hover {
    color: #52bad5; }

.form-footer {
  background: #110f09; }
  .form-footer .form-detail {
    padding: 60px 0px; }
    .form-footer .form-detail .address .form-contact {
      padding-bottom: 30px; }
      .form-footer .form-detail .address .form-contact li {
        padding-bottom: 8px; }
        .form-footer .form-detail .address .form-contact li a {
          color: #cbc4c4; }
          .form-footer .form-detail .address .form-contact li a span {
            padding-right: 5px; }

.contact-form {
  color: #cbc4c4;
  font-size: 13px; }
  .contact-form h6 {
    color: #fff;
    font-size: 16px;
    font-weight: 500; }
  .contact-form hr {
    border-top: 1px solid #cbc4c4; }
  .contact-form li {
    padding-bottom: 15px; }
  .contact-form .name-mail {
    display: flex; }
    .contact-form .name-mail .name {
      width: 50%;
      margin-right: 20px; }
      .contact-form .name-mail .name p {
        padding-bottom: 5px; }
    .contact-form .name-mail .mail {
      width: 50%; }
      .contact-form .name-mail .mail p {
        padding-bottom: 5px; }
  .contact-form .subject p {
    padding-bottom: 5px; }
  .contact-form .message-box p {
    padding-bottom: 5px; }
  .contact-form .message-box .f-icon {
    align-items: start;
    padding: 15px 0px; }
  .contact-form .f-icon {
    display: flex;
    align-items: center;
    background: #736e6e;
    border-radius: 3px; }
    .contact-form .f-icon i {
      font-size: 14px;
      padding-left: 8px; }
  .contact-form input, .contact-form textarea {
    width: 100%;
    background: #736e6e;
    border: 1px solid #736e6e;
    border-radius: 3px;
    padding: 6px;
    color: #fff; }
    .contact-form input:focus, .contact-form textarea:focus {
      outline: none; }
  .contact-form .message-btn {
    width: 100%;
    background-color: #52bad5;
    border-color: #52bad5;
    color: #fff;
    margin-top: 30px; }
    .contact-form .message-btn:focus, .contact-form .message-btn:hover, .contact-form .message-btn:active {
      background: #52bad5;
      border-color: #52bad5;
      outline: none;
      color: #fff;
      box-shadow: none; }

.img-right img {
  width: 100%;
  margin: 0px auto;
  display: block; }

.two-coloum-nav {
  position: relative;
  height: 80vh; }
  .two-coloum-nav .navpage-head {
    color: #343745;
    padding-top: 80px; }
    .two-coloum-nav .navpage-head p.small-text {
      padding: 3px;
      font-size: 16px;
      font-weight: 700; }
    .two-coloum-nav .navpage-head h1 {
      font-size: 46px;
      font-weight: 600; }
    .two-coloum-nav .navpage-head p {
      font-size: 16px;
      padding: 20px 0px;
      line-height: 25px; }

.btn-sec {
  padding: 20px 0px; }
  .btn-sec .btn {
    padding: 10px 30px;
    background: #fff;
    margin-right: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none; }
    .btn-sec .btn:focus {
      outline: none;
      box-shadow: none; }
  .btn-sec .btn-outline-primary {
    border: 1px solid #52bad5;
    color: #52bad5; }
    .btn-sec .btn-outline-primary:hover, .btn-sec .btn-outline-primary:active {
      background: #52bad5;
      color: #fff; }
  .btn-sec .btn-primary {
    background: #52bad5;
    border: 1px solid #52bad5; }
  .btn-sec .btn-outline-danger:hover {
    background: #dc3545;
    color: #fff; }

.about-us {
  padding: 60px 0px;
  background: #fafafa;
  background-image: url(../../assets/img/circulos-copy-2.png), url(../../assets/img/circulos-copy-3.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: auto 300px, auto 313px;
  background-position-y: 8%, 100%;
  background-position-x: 6%, 95%; }
  .about-us header {
    text-align: center; }
    .about-us header h2 {
      margin-bottom: 60px;
      color: #289ff9 !important;
      font-size: 30px; }

.services-sec {
  width: 100%; }
  .services-sec .services {
    position: relative;
    text-align: center;
    margin-bottom: 60px;
    width: 50%;
    display: inline-block;
    padding-right: 10px; }
    .services-sec .services .services-inner {
      position: relative;
      padding: 3.5rem;
      -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.08);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.08);
      border-radius: .5rem;
      background-color: #fff;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: .2s;
      transition-duration: .2s;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
      -webkit-transition-delay: 0;
      transition-delay: 0; }
      .services-sec .services .services-inner .services-icon {
        display: inline-block;
        margin-bottom: 1rem; }
        .services-sec .services .services-inner .services-icon img {
          max-width: 100%;
          height: auto;
          user-drag: none;
          user-select: none;
          -moz-user-select: none;
          -webkit-user-drag: none;
          -webkit-user-select: none; }
      .services-sec .services .services-inner .service-content {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
        border: 0;
        font-family: inherit;
        font-size: 100%;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
        width: auto;
        line-height: 25px;
        color: #636375;
        text-align: center;
        font-size: 15px;
        max-height: 130px;
        text-overflow: ellipsis;
        overflow: hidden;
        word-wrap: break-word; }
        .services-sec .services .services-inner .service-content .services-title {
          font-size: 22.4px;
          margin-bottom: 25px; }

.slick-dots li button::before {
  color: #707972 !important;
  font-size: 46px !important; }

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: #6a6d6b !important; }

.slick-dots li {
  width: 35px !important;
  height: 35px !important; }

.slick-dots {
  bottom: 0px !important; }

.slick-slide:focus {
  outline: none !important; }

.bor-top {
  border-top: 1px solid #979797;
  width: 10%;
  margin-top: 2%;
  margin-bottom: 2%; }

.why-ours {
  position: relative;
  background: #fff url(../../assets/img/background-waves.svg) no-repeat;
  padding: 60px 0px; }
  .why-ours .background {
    position: absolute;
    margin-top: -50px; }
    .why-ours .background img {
      width: 92%; }
  .why-ours h2 {
    color: #289ff9 !important;
    font-size: 30px; }
  .why-ours .col-off {
    margin-left: 33.33333333%; }
  .why-ours .block-why-us {
    display: flex; }
    .why-ours .block-why-us .img-mark {
      padding: 0px;
      padding-top: 10px; }
    .why-ours .block-why-us .why-content {
      padding: 0px;
      margin-left: -15px; }
      .why-ours .block-why-us .why-content h4 {
        font-size: 26px; }
      .why-ours .block-why-us .why-content .p-why-us {
        line-height: 25px;
        margin: 20px 0px;
        font-size: 15px; }

.featured-sec {
  padding: 60px 0px;
  background: #fff; }
  .featured-sec header h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #289ff9 !important; }
  .featured-sec .image-one {
    width: 400px;
    margin-left: auto;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -20px 20px 30px rgba(6, 31, 60, 0.09);
    margin-right: 30px; }
    .featured-sec .image-one img {
      width: 100%;
      border-radius: 6px; }
  .featured-sec .f-content h4 {
    font-size: 24px;
    color: #454f5b;
    letter-spacing: normal;
    font-weight: bold;
    text-align: left;
    line-height: 40px;
    margin-top: 0px;
    width: 400px; }

.let-talk {
  padding: 60px 0px; }
  .let-talk h2 {
    color: #289ff9 !important;
    font-size: 30px; }
  .let-talk p {
    color: #454f5b;
    font-size: 15px;
    font-weight: 100;
    line-height: 28px; }

.form_contact input[type="text"], .form_contact textarea[type="text"], .form_contact input[type="email"] {
  background: #fff;
  width: 100%;
  margin-top: 2%;
  padding: 12px 15px;
  border-radius: 6px;
  border: 1px solid #dddddd;
  color: #454f5b !important;
  font-size: 14px;
  outline: none; }
.form_contact .email-text {
  display: flex; }
  .form_contact .email-text input:first-child {
    margin-right: 15px; }
.form_contact .btn-sec {
  float: right; }
  .form_contact .btn-sec button {
    margin-right: 0px; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #454f5b !important;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #454f5b !important; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #454f5b !important; }

.contact-block-inside {
  background: url(../../assets/img/pattern-light.jpg) repeat center center;
  background-size: cover;
  text-align: center;
  padding: 130px 0;
  clear: both; }
  .contact-block-inside .contact-block-subtitle {
    font-size: 16px;
    padding-top: 20px;
    line-height: 25px; }

.contact-block-text h2 {
  font-size: 30px; }

.proposal {
  background-color: #e6e8e9;
  text-align: center; }
  .proposal .proposal-talk {
    padding: 33px 0 60px;
    border-top: 4px solid #289ff9; }
  .proposal .project-discuss {
    width: 100%; }
    .proposal .project-discuss p {
      color: #7b7d83;
      padding: 5px 0;
      font-size: 30px;
      text-align: center;
      margin-bottom: 33px; }
    .proposal .project-discuss .contact-pro {
      padding: 28px 30px;
      border-top: 1px solid #c6c9cb;
      width: 92%;
      text-align: center;
      margin: 0 auto;
      font-size: 26px; }
      .proposal .project-discuss .contact-pro ul {
        display: flex;
        justify-content: center;
        color: #484b54;
        font-size: 22px; }
        .proposal .project-discuss .contact-pro ul li {
          padding: 0px 20px; }
          .proposal .project-discuss .contact-pro ul li a {
            color: #484b54;
            font-size: 20px; }
    .proposal .project-discuss .btn-sec {
      margin: 45px auto 20px;
      width: 100%;
      float: left;
      text-align: center;
      padding: 0px; }

.social-sec {
  background: url(../../assets/img/location-bg.gif) left top;
  padding: 60px 0 40px;
  color: #797f84;
  line-height: 23px; }
  .social-sec .social-fb a {
    width: 57px;
    height: 57px;
    float: left;
    zoom: 1; }

.ftr-servlst li:hover {
  color: #52bad5; }

.check-box {
  align-items: center;
  display: flex; }
  .check-box span {
    padding-left: 10px; }

.option-name {
  font-size: 13px; }

.check-container {
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  font-size: 18px;
  user-select: none; }

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.ix-checkmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #b7bdc1; }

.check-container input:checked ~ .ix-checkmark {
  background-color: #2196F3; }

.ix-checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.check-container input:checked ~ .ix-checkmark:after {
  display: block; }

.pad-check {
  padding: 20px; }

.check-container .ix-checkmark:after {
  left: 7px;
  top: 4px;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg); }

@media (min-width: 1440px) {
  .container {
    max-width: 1320px; } }
