body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0px; }

a {
  text-decoration: none;
  transition: all 0.3s ease; }

a:hover {
  text-decoration: none; }

a:focus {
  outline: none; }

button:focus {
  box-shadow: none;
  outline: none; }

button {
  background: transparent;
  border: transparent;
  padding: 0px; }

ul {
  padding: 0px;
  margin: 0px; }

ul li {
  list-style-type: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 30px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 30px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 30px; }

.form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: none; }

.home-bg.text-transform .header-class .navbar .navbar-nav .nav-item .nav-link {
  text-transform: capitalize !important; }

.pr-0 {
  padding-right: 0px; }

.home-bg.split-menu-toggle .header-class .container .default-navbar {
  display: none !important; }

.home-bg.split-menu-toggle .header-class .centerised-navbar-new {
  display: block !important; }

.home-bg.split-menu-toggle .header-class .centerised-navbar-new .navbar .navbar-nav {
  width: 100%;
  justify-content: center;
  margin-top: 0px; }

.home-bg.split-menu-toggle .header-class .centerised-navbar-new .navbar .navbar-nav .nav-item {
  margin: 0px 20px; }

.home-bg.split-menu-toggle .header-class .centerised-navbar-new .navbar .navbar-nav .nav-item .nav-link {
  margin-left: 0px;
  padding-bottom: 5px; }

.centerised-navbar-new {
  display: none; }

.home-bg.split-menu-toggle .header-class .centerised-navbar-new .navbar .navbar-nav .navbar-brand-centered {
  padding: 0px 45px; }

.home-bg.split-menu-toggle .header-class .centerised-navbar-new .navbar .navbar-nav .navbar-brand-centered a {
  color: #343745;
  font-weight: 700;
  font-size: 30px; }

.home-bg.split-menu-toggle .header-class.small .centerised-navbar-new .navbar .navbar-nav .navbar-brand-centered a {
  color: #fff; }

.home-bg.split-menu-toggle .header-class .navbar .navbar-nav .btn-search {
  padding-top: 5px; }

.home-bg .header-class .navbar .navbar-nav .nav-item .sub-title {
  display: none; }

.home-bg.subtitles-toggle .header-class .navbar .navbar-nav .nav-item .sub-title {
  font-size: 10px;
  color: #000;
  margin-left: 20px;
  display: block !important;
  padding: 5px 0px; }

.home-bg.subtitles-toggle .header-class.small .navbar .navbar-nav .nav-item .sub-title {
  color: #fff; }

/*slide menu starts*/
.home-bg.slide-menu-toggle .header-class .navbar .navbar-nav .slide-menu-li {
  display: block; }

.home-bg.slide-menu-toggle .header-class .navbar .navbar-nav .nav-item {
  display: none;
  transition-delay: 60ms;
  transition: 0.5s ease; }

.home-bg .header-class .navbar .navbar-nav .slide-menu-li .nav-link {
  padding-top: 0px !important;
  padding-right: 10px !important;
  padding-left: 10px !important; }

.home-bg.slide-menu-toggle .header-class .navbar .navbar-nav .slide-menu-li .nav-link .fa {
  color: #343745;
  font-size: 18; }

.home-bg.slide-menu-toggle .header-class.small .navbar .navbar-nav .slide-menu-li .nav-link .fa {
  color: #fff; }

.home-bg .header-class .navbar .navbar-nav .slide-menu-li:hover .nav-link:before {
  display: none; }

.home-bg .header-class .navbar .navbar-nav .slide-menu-li:hover .nav-link:after {
  display: none; }

.home-bg.nav-item-hide .header-class .navbar .navbar-nav .nav-item {
  display: none;
  transition-delay: 60ms; }

.home-bg .header-class .navbar .navbar-nav .slide-menu-li {
  display: none;
  padding-left: 15px; }

.home-bg.slide-menu-li-show .header-class .navbar .navbar-nav .slide-menu-li {
  display: block; }

.home-bg .header-class .navbar .navbar-nav .slide-menu-li .nav-link {
  padding-top: 0px !important;
  padding-right: 10px !important;
  padding-left: 10px !important; }

.home-bg .header-class .navbar .navbar-nav .slide-menu-li:hover .nav-link:before {
  display: none; }

.home-bg .header-class .navbar .navbar-nav .slide-menu-li:hover .nav-link:after {
  display: none; }

.home-bg.nav-item-hide .header-class .navbar .navbar-nav .nav-item {
  display: none;
  transition-delay: 60ms; }

/*slide menu ends*/
/*default outline starts*/
.home-bg.default-outline-toggle .header-class .navbar .navbar-nav .nav-item {
  margin: 0px 15px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 15px; }

.home-bg.default-outline-toggle .header-class .navbar .navbar-nav .nav-item:hover {
  border: 2px solid #52bad5; }

.home-bg.default-outline-toggle .header-class .navbar .navbar-nav .nav-item.active {
  border: 2px solid #52bad5;
  padding: 0px 30px;
  border-radius: 15px; }

.home-bg.default-outline-toggle .header-class .navbar .navbar-nav .nav-item.down-arrow-item:after,
.home-bg.dark-outline-toggle .header-class .navbar .navbar-nav .nav-item.down-arrow-item:after {
  right: 25px;
  top: 12px; }

.home-bg.default-outline-toggle .header-class .navbar .navbar-nav.no-marg {
  margin-top: 0px; }

.home-bg.default-outline-toggle .header-class .navbar .navbar-nav .nav-item .nav-link {
  margin-left: 0px;
  padding: 5px 10px; }

.home-bg.default-outline-toggle .small .navbar .navbar-brand {
  color: #000; }

.home-bg.default-outline-toggle .small .navbar .navbar-nav .nav-item {
  border: 2px solid rgba(0, 0, 0, 0); }

.home-bg.default-outline-toggle .small .navbar .navbar-nav .nav-item:hover {
  border: 2px solid #2250fc; }

.home-bg.default-outline-toggle .small .navbar .navbar-nav .nav-item.active {
  border: 2px solid #2250fc; }

.home-bg.default-outline-toggle .header-class .navbar .navbar-nav .nav-item.active .nav-link:before {
  display: none; }

.home-bg.default-outline-toggle .small {
  background: #fff; }

.home-bg.default-outline-toggle .small .navbar .navbar-nav .nav-item .nav-link {
  color: #000; }

.home-bg.default-outline-toggle .small .navbar .navbar-nav .nav-item.active .nav-link {
  color: #52bad5; }

.home-bg.default-outline-toggle .small .navbar .navbar-nav .nav-item {
  margin: 0px 15px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 15px; }

.home-bg.default-outline-toggle .small .navbar .navbar-nav .nav-item:hover {
  margin: 0px 15px;
  border: 2px solid #2250fc;
  border-radius: 15px; }

.home-bg.default-outline-toggle .small .navbar .navbar-nav .nav-item.active {
  margin: 0px 15px;
  border: 2px solid #52bad5;
  border-radius: 15px; }

.home-bg.default-outline-toggle .header-class .navbar .navbar-nav .nav-item.active .nav-link:before {
  display: none; }

.home-bg.default-outline-toggle .header-class .navbar .navbar-nav .nav-item.active .nav-link:after {
  display: none; }

.home-bg.default-outline-toggle .header-class .navbar .navbar-nav .nav-item:hover .nav-link:before {
  display: none; }

.home-bg.default-outline-toggle .header-class .navbar .navbar-nav .nav-item:hover .nav-link:after {
  display: none; }

.home-bg.default-outline-toggle .small .navbar .navbar-nav .nav-item.active .nav-link:before {
  display: none; }

.home-bg.default-outline-toggle .small .navbar .navbar-nav .nav-item.active .nav-link:after {
  display: none; }

.home-bg.default-outline-toggle .small .navbar .navbar-nav .nav-item:hover .nav-link:before {
  display: none; }

.home-bg.default-outline-toggle .small .navbar .navbar-nav .nav-item:hover .nav-link:after {
  display: none; }

/*default outline ends*/
/*dark outline*/
.home-bg.dark-outline-toggle .header-class .navbar .navbar-nav .nav-item {
  margin: 0px 15px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 15px; }

.home-bg.dark-outline-toggle .header-class .navbar .navbar-nav .nav-item:hover {
  border: 2px solid #fff;
  margin: 0px 15px;
  border-radius: 15px; }

.home-bg.dark-outline-toggle .header-class .navbar .navbar-nav .nav-item.active {
  border: 2px solid #52bad5;
  margin: 0px 15px;
  padding: 0px 30px;
  border-radius: 15px; }

.home-bg.dark-outline-toggle .header-class .navbar .navbar-nav.no-marg {
  margin-top: 0px; }

.home-bg.dark-outline-toggle .header-class .navbar .navbar-nav .nav-item .nav-link {
  margin-left: 0px;
  padding: 5px 10px; }

.home-bg.dark-outline-toggle .small .navbar .navbar-nav .nav-item {
  border: 2px solid rgba(0, 0, 0, 0); }

.home-bg.dark-outline-toggle .small .navbar .navbar-nav .nav-item:hover {
  border: 2px solid #2250fc; }

.home-bg.dark-outline-toggle .small .navbar .navbar-nav .nav-item.active {
  border: 2px solid #52bad5; }

.home-bg.dark-outline-toggle .header-class .navbar .navbar-nav .nav-item.active .nav-link:before {
  display: none; }

.home-bg.dark-outline-toggle .small {
  background-color: #1f1f1f; }

.home-bg.dark-outline-toggle .small .navbar .navbar-brand {
  color: #fff; }

.home-bg.dark-outline-toggle .small .navbar .navbar-nav .nav-item.active .nav-link {
  color: #52bad5; }

.home-bg.dark-outline-toggle .small .navbar .navbar-nav .nav-item {
  margin: 0px 15px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 15px; }

.home-bg.dark-outline-toggle .small .navbar .navbar-nav .nav-item:hover {
  margin: 0px 15px;
  border: 2px solid #2250fc;
  border-radius: 15px; }

.home-bg.dark-outline-toggle .small .navbar .navbar-nav .nav-item.active {
  margin: 0px 15px;
  border: 2px solid #52bad5;
  border-radius: 15px; }

.home-bg.dark-outline-toggle .header-class .navbar .navbar-nav .nav-item.active .nav-link:before {
  display: none; }

.home-bg.dark-outline-toggle .header-class .navbar .navbar-nav .nav-item.active .nav-link:after {
  display: none; }

.home-bg.dark-outline-toggle .header-class .navbar .navbar-nav .nav-item:hover .nav-link:before {
  display: none; }

.home-bg.dark-outline-toggle .header-class .navbar .navbar-nav .nav-item:hover .nav-link:after {
  display: none; }

.home-bg.dark-outline-toggle .small .navbar .navbar-nav .nav-item.active .nav-link:before {
  display: none; }

.home-bg.dark-outline-toggle .small .navbar .navbar-nav .nav-item.active .nav-link:after {
  display: none; }

.home-bg.dark-outline-toggle .small .navbar .navbar-nav .nav-item:hover .nav-link:before {
  display: none; }

.home-bg.dark-outline-toggle .small .navbar .navbar-nav .nav-item:hover .nav-link:after {
  display: none; }

/*dark outline ends*/
/*default rounded white bg*/
.home-bg.default-rounded-toggle .small .navbar .navbar-nav .search-li button i {
  color: #000; }

.home-bg.default-rounded-toggle .header-class .navbar .navbar-nav .nav-item {
  padding: 5px 15px;
  margin-left: 5px; }

.home-bg.default-rounded-toggle .header-class .navbar .navbar-nav .nav-item .nav-link {
  margin: 0px;
  padding-bottom: 0px; }

.home-bg.default-rounded-toggle .header-class .navbar .navbar-nav .nav-item:hover {
  background: #52bad5; }

.home-bg.default-rounded-toggle .header-class .navbar .navbar-nav .nav-item:hover .nav-link {
  color: #fff; }

.home-bg.default-rounded-toggle .header-class .navbar .navbar-nav .nav-item.active .nav-link {
  color: #fff; }

.home-bg.default-rounded-toggle .header-class .navbar .navbar-nav .nav-item.active {
  background: #52bad5;
  padding: 10px 30px;
  border-radius: 5px; }

.home-bg.default-rounded-toggle .header-class .navbar .navbar-nav .nav-item.down-arrow-item::after {
  right: 16px;
  top: 18px;
  border-color: #fff; }

.home-bg.default-rounded-toggle .header-class .navbar .navbar-nav .btn-search {
  padding-bottom: 0px; }

.home-bg.default-rounded-toggle .small {
  background: #fff; }

.home-bg.default-rounded-toggle .small .navbar .navbar-brand {
  color: #000; }

.home-bg.default-rounded-toggle .small .navbar .navbar-nav .nav-item .nav-link {
  color: #000; }

.home-bg.default-rounded-toggle .small .navbar .navbar-nav .nav-item {
  padding: 5px 15px; }

.home-bg.default-rounded-toggle .small .navbar .navbar-nav .nav-item:hover {
  background: #52bad5; }

.home-bg.default-rounded-toggle .small .navbar .navbar-nav .nav-item.active {
  background: #52bad5; }

.home-bg.default-rounded-toggle .small .navbar .navbar-nav .btn-search {
  padding-bottom: 0px; }

.home-bg.default-rounded-toggle .small .navbar .navbar-nav.no-marg {
  margin-top: 0px; }

.home-bg.default-rounded-toggle .small .navbar .navbar-nav .nav-item.active .nav-link:before {
  display: none; }

.home-bg.default-rounded-toggle .small .navbar .navbar-nav .nav-item.active .nav-link:after {
  display: none; }

.home-bg.default-rounded-toggle .small .navbar .navbar-nav .nav-item:hover .nav-link:before {
  display: none; }

.home-bg.default-rounded-toggle .small .navbar .navbar-nav .nav-item:hover .nav-link:after {
  display: none; }

.home-bg.default-rounded-toggle .header-class .navbar .navbar-nav.no-marg {
  margin-top: 0px; }

.home-bg.default-rounded-toggle .header-class .navbar .navbar-nav .nav-item.active .nav-link:before {
  display: none; }

.home-bg.default-rounded-toggle .header-class .navbar .navbar-nav .nav-item.active .nav-link:after {
  display: none; }

.home-bg.default-rounded-toggle .header-class .navbar .navbar-nav .nav-item:hover .nav-link:before {
  display: none; }

.home-bg.default-rounded-toggle .header-class .navbar .navbar-nav .nav-item:hover .nav-link:after {
  display: none; }

.home-bg.default-rounded-toggle .header-class .container {
  max-width: 100% !important; }

/*default rounded white bg ends*/
/*  default rounded dark bg*/
.home-bg.dark-rounded-toggle .header-class .navbar .navbar-nav .nav-item {
  padding: 10px 30px;
  margin-left: 5px; }

.home-bg.dark-rounded-toggle .header-class .navbar .navbar-nav .nav-item .nav-link {
  margin: 0px;
  padding-bottom: 0px; }

.home-bg.dark-rounded-toggle .header-class .navbar .navbar-nav .nav-item:hover {
  background: #52bad5;
  border-radius: 5px; }

.home-bg.dark-rounded-toggle .header-class .navbar .navbar-nav .nav-item:hover .nav-link {
  color: #fff; }

.home-bg.dark-rounded-toggle .header-class .navbar .navbar-nav .nav-item.active .nav-link {
  color: #fff; }

.home-bg.dark-rounded-toggle .header-class .navbar .navbar-nav .nav-item.active {
  background: #52bad5;
  border-radius: 5px; }

.home-bg.dark-rounded-toggle .header-class .navbar .navbar-nav.no-marg {
  margin-top: 0px; }

.home-bg.dark-rounded-toggle .header-class .navbar .navbar-nav .btn-search {
  padding-bottom: 0px; }

.home-bg.dark-rounded-toggle .small {
  background: #1f1f1f; }

.home-bg.dark-rounded-toggle .small .navbar .navbar-brand {
  color: #fff; }

.home-bg.dark-rounded-toggle .small .navbar .navbar-nav .nav-item .nav-link {
  color: #fff; }

.home-bg.dark-rounded-toggle .small .navbar .navbar-nav .nav-item {
  padding: 10px 30px; }

.home-bg.dark-rounded-toggle .small .navbar .navbar-nav .nav-item:hover {
  background: #52bad5; }

.home-bg.dark-rounded-toggle .navbar .navbar-nav .nav-item.down-arrow-item::after {
  right: 16px;
  top: 18px;
  border-color: #fff; }

.home-bg.dark-rounded-toggle .small .navbar .navbar-nav .nav-item.active {
  background: #52bad5; }

.home-bg.dark-rounded-toggle .small .navbar .navbar-nav .btn-search {
  padding-bottom: 0px; }

.home-bg.dark-rounded-toggle .header-class .navbar .navbar-nav .nav-item.active .nav-link:before {
  display: none; }

.home-bg.dark-rounded-toggle .header-class .navbar .navbar-nav .nav-item.active .nav-link:after {
  display: none; }

.home-bg.dark-rounded-toggle .header-class .navbar .navbar-nav .nav-item:hover .nav-link:before {
  display: none; }

.home-bg.dark-rounded-toggle .header-class .navbar .navbar-nav .nav-item:hover .nav-link:after {
  display: none; }

.home-bg.dark-rounded-toggle .small .navbar .navbar-nav .nav-item.active .nav-link:before {
  display: none; }

.home-bg.dark-rounded-toggle .small .navbar .navbar-nav .nav-item.active .nav-link:after {
  display: none; }

.home-bg.dark-rounded-toggle .small .navbar .navbar-nav .nav-item:hover .nav-link:before {
  display: none; }

.home-bg.dark-rounded-toggle .small .navbar .navbar-nav .nav-item:hover .nav-link:after {
  display: none; }

/*  default rounded dark bg ends*/
/*
aligned css*/
/*left align starts*/
.home-bg.left-align-toggle .header-class .container {
  max-width: 100% !important; }

.home-bg.left-align-toggle .header-class .navbar .navbar-nav {
  width: 100% !important; }

.home-bg.left-align-toggle .header-class .navbar .navbar-nav .search-li {
  margin-left: auto !important; }

/*left align ends*/
.home-bg.right-align-toggle .header-class .container {
  max-width: 100% !important; }

/*center align starts*/
.home-bg.center-align-toggle .header-class .navbar .navbar-nav {
  justify-content: flex-end !important;
  width: 100% !important; }

/*center align ends*/
/*nav bar right align*/
/*nav bar right ends*/
/*aligned css ends*/
.verti-hold {
  display: none; }

/*vertical-indicator*/
.home-bg.dots-menu-toggle .verti-hold {
  position: absolute;
  top: 50%;
  right: 5%;
  display: block !important;
  z-index: 9999; }

.home-bg.dots-menu-toggle .verti-hold .verti-indicator-ul {
  padding-left: 0px;
  position: fixed;
  background: #1f1f1f;
  padding: 0 10px;
  border-radius: 15px; }

.verti-indicator-li {
  list-style: none;
  color: #fff;
  padding: 10px 0px; }

.verti-indicator-li a.isactive .indi-dot:after {
  display: block; }

.verti-indicator-li a {
  text-decoration: none;
  color: #fff; }

.indi-dot {
  height: 4px;
  width: 4px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 9999; }

.indi-dot:after {
  position: absolute;
  content: '';
  background: #FFF;
  padding: 6px 6px;
  left: -4px;
  top: -4px;
  z-index: 0;
  border-radius: 50%;
  opacity: 0.5;
  display: none; }

/*vertical-indicator ends*/
/*menu background starts*/
.home-bg.menu-hover-bg-toggle .header-class .container {
  max-width: 100%; }

.home-bg.menu-hover-bg-toggle .header-class .navbar .navbar-nav .nav-item {
  padding: 25px;
  margin-left: 5px; }

.home-bg.menu-hover-bg-toggle .header-class.small {
  background: #000; }

.home-bg.menu-hover-bg-toggle .header-class .navbar .navbar-nav .nav-item.down-arrow-item::after {
  right: 14px;
  top: 30px;
  border-color: #fff; }

.home-bg.menu-hover-bg-toggle .header-class .navbar {
  line-height: 18px; }

.home-bg.menu-hover-bg-toggle .header-class .navbar .navbar-nav .nav-item .nav-link {
  margin: 0px;
  padding-bottom: 0px;
  color: #fff; }

.home-bg.menu-hover-bg-toggle .header-class .navbar .navbar-nav .nav-item:hover {
  background: #52bad5; }

.home-bg.menu-hover-bg-toggle .header-class .navbar .navbar-nav .nav-item:hover .nav-link {
  color: #fff; }

.home-bg.menu-hover-bg-toggle .header-class .navbar .navbar-nav .nav-item.active .nav-link {
  color: #fff; }

.home-bg.menu-hover-bg-toggle .header-class .navbar .navbar-nav .nav-item.active {
  background: #52bad5; }

.home-bg.menu-hover-bg-toggle .header-class .navbar .navbar-nav {
  margin-top: 0px; }

.home-bg.menu-hover-bg-toggle .header-class .navbar .navbar-nav .btn-search {
  padding-bottom: 0px; }

.home-bg.menu-hover-bg-toggle .header-class .navbar .navbar-nav .nav-item.active .nav-link:before {
  display: none; }

.home-bg.menu-hover-bg-toggle .header-class .navbar .navbar-nav .nav-item.active .nav-link:after {
  display: none; }

.home-bg.menu-hover-bg-toggle .header-class .navbar .navbar-nav .nav-item:hover .nav-link:before {
  display: none; }

.home-bg.menu-hover-bg-toggle .header-class .navbar .navbar-nav .nav-item:hover .nav-link:after {
  display: none; }

.home-bg.menu-hover-bg-toggle .small .navbar .navbar-nav .nav-item.active .nav-link:before {
  display: none; }

.home-bg.menu-hover-bg-toggle .small .navbar .navbar-nav .nav-item.active .nav-link:after {
  display: none; }

.home-bg.menu-hover-bg-toggle .small .navbar .navbar-nav .nav-item:hover .nav-link:before {
  display: none; }

.home-bg.menu-hover-bg-toggle .small .navbar .navbar-nav .nav-item:hover .nav-link:after {
  display: none; }

/*menu background ends*/
/*social icons bar hide/show*/
.home-bg.social-icon-toggle .header-class .container {
  max-width: 100%; }

.top-navbar {
  display: none; }

.home-bg.social-icon-toggle .top-navbar {
  display: block;
  background: #000;
  position: fixed;
  width: 100%;
  padding: 6px 0px; }

.home-bg.social-icon-toggle .header-class {
  padding-top: 30px; }
  .home-bg.social-icon-toggle .header-class.small {
    padding-top: 0px; }

.home-bg.social-icon-toggle .top-navbar-social-show {
  display: block !important;
  background: #00000080; }

.contacts-hold, .social-icons-hold {
  width: 50%; }

.contact-ul {
  width: 100%;
  display: inline-block; }

.contact-li {
  display: inline-block;
  color: #fff;
  padding-left: 10px; }

.social-icons-hold {
  text-align: right; }

.social-icons-ul {
  display: inline-block;
  width: 100%;
  text-align: right;
  padding-right: 10px; }

.social-icons-li {
  display: inline-block;
  padding-left: 20px; }

.social-icons-li a i {
  color: #fff; }
  .social-icons-li a i:hover {
    color: #52bad5; }

.item-type {
  font-weight: 700;
  padding-right: 5px; }

/*social icons bar hide/show*/
/*menu overlay*/
.home-bg.overlay-menu-toggle .header-class .container .default-navbar {
  display: block; }

.home-bg.overlay-menu-toggle .menu-overlay {
  display: none; }

.home-bg.overlay-menu-toggle .header-class .container .default-navbar .navbar .collapse .navbar-nav .nav-item {
  display: none; }

.home-bg.overlay-menu-toggle .header-class .container .default-navbar .navbar .collapse .navbar-nav .overlay-menu-li {
  display: block; }

.menu-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  background: #000000f7;
  position: fixed;
  z-index: 9999; }

.all-menu-overlay-show {
  display: block;
  z-index: 9999; }

.overlay-navbar-brand {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin: 20px; }
  .overlay-navbar-brand:hover {
    color: #52bad5; }

.overlay-close {
  text-align: right; }

.overlay-close i {
  text-align: right;
  align-items: center;
  justify-content: center;
  padding: 26px 0;
  cursor: pointer;
  font-size: 28px;
  color: #fff;
  padding: 20px; }
  .overlay-close i:hover {
    color: #52bad5; }

.overall-menu-col {
  display: flex;
  align-items: center;
  justify-content: center; }

.menu-overlay-li {
  padding: 15px 0px; }

.menu-overlay-li a h4 {
  color: #fff;
  font-weight: 700;
  font-size: 32px; }
  .menu-overlay-li a h4:hover {
    color: #52bad5; }

.home-bg .header-class .navbar .navbar-nav .overlay-menu-li {
  display: none; }

.home-bg.overlay-menu-li-show .header-class .navbar .navbar-nav .overlay-menu-li {
  display: block; }

.home-bg .header-class .navbar .navbar-nav .overlay-menu-li .nav-link {
  padding-top: 0px !important;
  padding-right: 10px !important;
  padding-left: 10px !important; }

.home-bg .header-class .navbar .navbar-nav .overlay-menu-li .nav-link .fa {
  color: #343745;
  font-size: 18px; }

.home-bg .header-class.small .navbar .navbar-nav .overlay-menu-li .nav-link .fa {
  color: #fff; }

.home-bg .header-class .navbar .navbar-nav .overlay-menu-li:hover .nav-link:before {
  display: none; }

.home-bg .header-class .navbar .navbar-nav .overlay-menu-li:hover .nav-link:after {
  display: none; }
