body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0px; }

a {
  text-decoration: none;
  transition: all 0.3s ease; }

a:hover {
  text-decoration: none; }

a:focus {
  outline: none; }

button:focus {
  box-shadow: none;
  outline: none; }

button {
  background: transparent;
  border: transparent;
  padding: 0px; }

ul {
  padding: 0px;
  margin: 0px; }

ul li {
  list-style-type: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 30px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 30px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 30px; }

.form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: none; }

.home-bg.default {
  clear: both;
  background-color: #f8f9fa;
  background-image: none; }
  .home-bg.default .home-section .head-one h1 {
    color: rgba(0, 0, 0, 0.64); }

.home-bg.img-bg {
  background-image: url("../img/laptop.webp"); }
  .home-bg.img-bg:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(5, 4, 4, 0.28); }
  .home-bg.img-bg .header-class .navbar .navbar-brand {
    color: #fff; }
  .home-bg.img-bg .header-class .navbar .navbar-nav .nav-item .nav-link {
    color: #fff; }
  .home-bg.img-bg .navbar-nav .btn-search .fa {
    color: #fff; }
  .home-bg.img-bg .two-coloum-nav {
    display: none; }
  .home-bg.img-bg .home-section {
    display: block;
    z-index: 1;
    text-align: center;
    left: inherit; }
    .home-bg.img-bg .home-section .head-one h1 {
      color: #fff; }
    .home-bg.img-bg .home-section .head-two p {
      margin: 0 auto; }
  .home-bg.img-bg::after {
    width: 100%;
    height: 80vh;
    content: '';
    background-color: rgba(0, 0, 0, 0.48);
    position: absolute;
    top: 0px; }

.home-bg.pattern-bg {
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  background-size: auto; }
  .home-bg.pattern-bg .two-coloum-nav {
    display: none; }
  .home-bg.pattern-bg .home-section {
    display: block;
    z-index: 1; }
    .home-bg.pattern-bg .home-section .head-one h1 {
      color: rgba(0, 0, 0, 0.64); }
    .home-bg.pattern-bg .home-section .head-two p {
      color: rgba(0, 0, 0, 0.64); }

.home-bg.color-sec {
  clear: both;
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
  background: linear-gradient(to right, #1CB5E0, #000046); }
  .home-bg.color-sec .two-coloum-nav {
    display: none; }
  .home-bg.color-sec .home-section {
    display: block;
    z-index: 1; }
    .home-bg.color-sec .home-section .head-one h1 {
      color: #fff; }
  .home-bg.color-sec .header-class .navbar .navbar-brand {
    color: #fff; }
  .home-bg.color-sec .header-class .navbar .navbar-nav .nav-item .nav-link {
    color: #fff; }

.home-bg.paralx {
  background-image: url("../img/office.png");
  background-attachment: fixed; }
  .home-bg.paralx .two-coloum-nav {
    display: none; }
  .home-bg.paralx .home-section {
    display: block;
    z-index: 1; }
    .home-bg.paralx .home-section .head-one h1 {
      color: #fff; }
  .home-bg.paralx::after {
    width: 100%;
    height: 80vh;
    content: '';
    background-color: rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 0px; }

.home-bg.right-align {
  background-image: url("../img/office1.jpg"); }
  .home-bg.right-align .two-coloum-nav {
    display: none; }
  .home-bg.right-align .home-section {
    display: block;
    z-index: 1;
    text-align: right;
    float: right;
    left: inherit; }
    .home-bg.right-align .home-section .head-one h1 {
      color: #fff; }
    .home-bg.right-align .home-section .head-two p {
      margin-left: auto;
      margin-right: 0; }
  .home-bg.right-align::after {
    width: 100%;
    height: 80vh;
    content: '';
    background-color: rgba(0, 0, 0, 0.48);
    position: absolute;
    top: 0px; }
  .home-bg.right-align .header-class .navbar .navbar-brand {
    color: #fff; }
  .home-bg.right-align .header-class .navbar .navbar-nav .nav-item .nav-link {
    color: #fff; }

.home-bg.left-align {
  background-image: url("../img/Web-design-development.jpg"); }
  .home-bg.left-align .two-coloum-nav {
    display: none; }
  .home-bg.left-align .home-section {
    display: block;
    z-index: 1;
    text-align: left;
    float: right;
    right: inherit; }
    .home-bg.left-align .home-section .head-one h1 {
      color: #fff; }
    .home-bg.left-align .home-section .head-two p {
      margin-right: auto;
      margin-left: 0; }
  .home-bg.left-align::after {
    width: 100%;
    height: 80vh;
    content: '';
    background-color: rgba(0, 0, 0, 0.48);
    position: absolute;
    top: 0px; }
  .home-bg.left-align .header-class .navbar .navbar-brand {
    color: #fff; }
  .home-bg.left-align .header-class .navbar .navbar-nav .nav-item .nav-link {
    color: #fff; }

.video-sec {
  display: none; }

.home-bg.bg-video .two-coloum-nav {
  display: none; }
.home-bg.bg-video .home-section {
  display: block; }
.home-bg.bg-video .video-sec {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-image: none; }
.home-bg.bg-video .header-class .navbar .navbar-brand {
  color: #fff; }
.home-bg.bg-video .header-class .navbar .navbar-nav .nav-item .nav-link {
  color: #fff; }
.home-bg.bg-video .bg-video {
  display: block; }
.home-bg.bg-video:after {
  width: 100%;
  height: 80vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.64);
  position: absolute;
  top: 0px;
  z-index: -1; }

.subscribe {
  display: flex;
  align-items: center; }
  .subscribe .newsletter {
    height: 40px;
    padding: 10px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #fff;
    width: 240px; }
    .subscribe .newsletter:focus {
      outline: transparent; }
  .subscribe .newsletter-btn {
    background: #52bad5;
    height: 40px;
    border: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    color: #fff;
    border: none;
    font-size: 15px;
    border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    vertical-align: middle;
    padding: 0 10px;
    -webkit-font-smoothing: antialiased;
    margin-left: -15px;
    font-weight: 600; }
    .subscribe .newsletter-btn:hover {
      background: #52bad5; }

.footer-main.foot-dark .footer-detail {
  background-color: #000;
  color: #d3c9c9; }
  .footer-main.foot-dark .footer-detail .text-head {
    color: #d3c9c9; }
  .footer-main.foot-dark .footer-detail .footer-title .navbar-brand {
    color: #fff; }
  .footer-main.foot-dark .footer-detail .footer-content .text-sub {
    color: #d3c9c9; }
  .footer-main.foot-dark .footer-detail .list li:hover {
    color: #52bad5; }

.foot-copy {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.social-icons li {
  display: inline-block; }
  .social-icons li a {
    float: left;
    height: 35px;
    width: 35px;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    margin: 0 4px 4px 0;
    border-radius: 20px;
    border: 0;
    background: 0 0;
    color: #fff;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }

.footer-widget .social-icons a {
  background: #878383; }

.map-footer .footer-detail {
  padding-top: 80px; }
  .map-footer .footer-detail .foot-copy {
    justify-content: center; }
.map-footer .news-content {
  display: flex;
  padding-bottom: 15px; }
  .map-footer .news-content .new-pic img {
    width: 70px; }
  .map-footer .news-content .new-content {
    padding-left: 10px;
    color: #fff; }
    .map-footer .news-content .new-content h5 {
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      padding-bottom: 15px; }
      .map-footer .news-content .new-content h5 a {
        color: #fff; }
    .map-footer .news-content .new-content p {
      font-size: 12px; }

.footer-sec {
  position: relative; }

.contact-sec {
  background: #1a1b1c;
  position: absolute;
  top: -40px;
  width: 1140px;
  border-radius: 3px;
  left: 12%; }
  .contact-sec .contact {
    width: 100%;
    padding: 20px; }
    .contact-sec .contact li {
      display: inline-block;
      width: 33%; }
      .contact-sec .contact li .make-call {
        display: flex;
        align-items: center;
        justify-content: center; }
        .contact-sec .contact li .make-call .cont-img {
          background: #2e2e2e;
          border-radius: 30px;
          padding: 10px; }
        .contact-sec .contact li .make-call .cont-detail {
          color: #fff;
          padding-left: 10px;
          font-size: 14px;
          font-weight: 700; }
          .contact-sec .contact li .make-call .cont-detail a {
            color: #fff; }

.footer-main .map-footer {
  display: none; }
.footer-main .form-footer {
  display: none; }

.footer-main.footer1 .default-footer {
  display: block; }
.footer-main.footer1 .map-footer {
  display: none; }
.footer-main.footer1 .form-footer {
  display: none; }

.footer-main.footer2 .map-footer {
  display: block; }
.footer-main.footer2 .default-footer {
  display: none; }
.footer-main.footer2 .form-footer {
  display: none; }
.footer-main.footer2 .footer-detail {
  background-color: #000;
  color: #d3c9c9; }
  .footer-main.footer2 .footer-detail .text-head {
    color: #d3c9c9; }
  .footer-main.footer2 .footer-detail .footer-title .navbar-brand {
    color: #fff; }
  .footer-main.footer2 .footer-detail .footer-content .text-sub {
    color: #d3c9c9; }
  .footer-main.footer2 .footer-detail .list li:hover {
    color: #52bad5; }

.footer-main.footer3 .form-footer {
  display: block; }
.footer-main.footer3 .map-footer {
  display: none; }
.footer-main.footer3 .default-footer {
  display: none; }
.footer-main.footer3 .footer-detail {
  background-color: #000;
  color: #d3c9c9; }
  .footer-main.footer3 .footer-detail .text-head {
    color: #d3c9c9; }
  .footer-main.footer3 .footer-detail .footer-title .navbar-brand {
    color: #fff; }
  .footer-main.footer3 .footer-detail .footer-content .text-sub {
    color: #d3c9c9; }
  .footer-main.footer3 .footer-detail .list li:hover {
    color: #52bad5; }

.form-footer {
  background: #110f09; }
  .form-footer .form-detail {
    padding: 60px 0px; }
    .form-footer .form-detail .address .form-contact {
      padding-bottom: 30px; }
      .form-footer .form-detail .address .form-contact li {
        padding-bottom: 8px; }
        .form-footer .form-detail .address .form-contact li a {
          color: #cbc4c4; }
          .form-footer .form-detail .address .form-contact li a span {
            padding-right: 5px; }

.contact-form {
  color: #cbc4c4;
  font-size: 13px; }
  .contact-form h6 {
    color: #fff;
    font-size: 16px;
    font-weight: 500; }
  .contact-form hr {
    border-top: 1px solid #cbc4c4; }
  .contact-form li {
    padding-bottom: 15px; }
  .contact-form .name-mail {
    display: flex; }
    .contact-form .name-mail .name {
      width: 50%;
      margin-right: 20px; }
      .contact-form .name-mail .name p {
        padding-bottom: 5px; }
    .contact-form .name-mail .mail {
      width: 50%; }
      .contact-form .name-mail .mail p {
        padding-bottom: 5px; }
  .contact-form .subject p {
    padding-bottom: 5px; }
  .contact-form .message-box p {
    padding-bottom: 5px; }
  .contact-form .message-box .f-icon {
    align-items: start;
    padding: 15px 0px; }
  .contact-form .f-icon {
    display: flex;
    align-items: center;
    background: #736e6e;
    border-radius: 3px; }
    .contact-form .f-icon i {
      font-size: 14px;
      padding-left: 8px; }
  .contact-form input, .contact-form textarea {
    width: 100%;
    background: #736e6e;
    border: 1px solid #736e6e;
    border-radius: 3px;
    padding: 6px;
    color: #fff; }
    .contact-form input:focus, .contact-form textarea:focus {
      outline: none; }
  .contact-form .message-btn {
    width: 100%;
    background-color: #52bad5;
    border-color: #52bad5;
    color: #fff;
    margin-top: 30px; }
    .contact-form .message-btn:focus, .contact-form .message-btn:hover, .contact-form .message-btn:active {
      background: #52bad5;
      border-color: #52bad5;
      outline: none;
      color: #fff;
      box-shadow: none; }

.img-right img {
  width: 100%;
  margin: 0px auto;
  display: block; }

.two-coloum-nav {
  position: relative;
  height: 80vh; }
  .two-coloum-nav .navpage-head {
    color: #343745;
    padding-top: 80px; }
    .two-coloum-nav .navpage-head p.small-text {
      padding: 3px;
      font-size: 16px;
      font-weight: 700; }
    .two-coloum-nav .navpage-head h1 {
      font-size: 46px;
      font-weight: 600; }
    .two-coloum-nav .navpage-head p {
      font-size: 16px;
      padding: 20px 0px;
      line-height: 25px; }

.btn-sec {
  padding: 20px 0px; }
  .btn-sec .btn {
    padding: 10px 30px;
    background: #fff;
    margin-right: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none; }
    .btn-sec .btn:focus {
      outline: none;
      box-shadow: none; }
  .btn-sec .btn-outline-primary {
    border: 1px solid #52bad5;
    color: #52bad5; }
    .btn-sec .btn-outline-primary:hover, .btn-sec .btn-outline-primary:active {
      background: #52bad5;
      color: #fff; }
  .btn-sec .btn-primary {
    background: #52bad5;
    border: 1px solid #52bad5; }
  .btn-sec .btn-outline-danger:hover {
    background: #dc3545;
    color: #fff; }

.about-us {
  padding: 60px 0px;
  background: #fafafa;
  background-image: url(../../assets/img/circulos-copy-2.png), url(../../assets/img/circulos-copy-3.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: auto 300px, auto 313px;
  background-position-y: 8%, 100%;
  background-position-x: 6%, 95%; }
  .about-us header {
    text-align: center; }
    .about-us header h2 {
      margin-bottom: 60px;
      color: #289ff9 !important;
      font-size: 30px; }

.services-sec {
  width: 100%; }
  .services-sec .services {
    position: relative;
    text-align: center;
    margin-bottom: 60px;
    width: 50%;
    display: inline-block;
    padding-right: 10px; }
    .services-sec .services .services-inner {
      position: relative;
      padding: 3.5rem;
      -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.08);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.08);
      border-radius: .5rem;
      background-color: #fff;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: .2s;
      transition-duration: .2s;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
      -webkit-transition-delay: 0;
      transition-delay: 0; }
      .services-sec .services .services-inner .services-icon {
        display: inline-block;
        margin-bottom: 1rem; }
        .services-sec .services .services-inner .services-icon img {
          max-width: 100%;
          height: auto;
          user-drag: none;
          user-select: none;
          -moz-user-select: none;
          -webkit-user-drag: none;
          -webkit-user-select: none; }
      .services-sec .services .services-inner .service-content {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
        border: 0;
        font-family: inherit;
        font-size: 100%;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
        width: auto;
        line-height: 25px;
        color: #636375;
        text-align: center;
        font-size: 15px;
        max-height: 130px;
        text-overflow: ellipsis;
        overflow: hidden;
        word-wrap: break-word; }
        .services-sec .services .services-inner .service-content .services-title {
          font-size: 22.4px;
          margin-bottom: 25px; }

.slick-dots li button::before {
  color: #707972 !important;
  font-size: 46px !important; }

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: #6a6d6b !important; }

.slick-dots li {
  width: 35px !important;
  height: 35px !important; }

.slick-dots {
  bottom: 0px !important; }

.slick-slide:focus {
  outline: none !important; }

.bor-top {
  border-top: 1px solid #979797;
  width: 10%;
  margin-top: 2%;
  margin-bottom: 2%; }

.why-ours {
  position: relative;
  background: #fff url(../../assets/img/background-waves.svg) no-repeat;
  padding: 60px 0px; }
  .why-ours .background {
    position: absolute;
    margin-top: -50px; }
    .why-ours .background img {
      width: 92%; }
  .why-ours h2 {
    color: #289ff9 !important;
    font-size: 30px; }
  .why-ours .col-off {
    margin-left: 33.33333333%; }
  .why-ours .block-why-us {
    display: flex; }
    .why-ours .block-why-us .img-mark {
      padding: 0px;
      padding-top: 10px; }
    .why-ours .block-why-us .why-content {
      padding: 0px;
      margin-left: -15px; }
      .why-ours .block-why-us .why-content h4 {
        font-size: 26px; }
      .why-ours .block-why-us .why-content .p-why-us {
        line-height: 25px;
        margin: 20px 0px;
        font-size: 15px; }

.featured-sec {
  padding: 60px 0px;
  background: #fff; }
  .featured-sec header h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #289ff9 !important; }
  .featured-sec .image-one {
    width: 400px;
    margin-left: auto;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -20px 20px 30px rgba(6, 31, 60, 0.09);
    margin-right: 30px; }
    .featured-sec .image-one img {
      width: 100%;
      border-radius: 6px; }
  .featured-sec .f-content h4 {
    font-size: 24px;
    color: #454f5b;
    letter-spacing: normal;
    font-weight: bold;
    text-align: left;
    line-height: 40px;
    margin-top: 0px;
    width: 400px; }

.let-talk {
  padding: 60px 0px; }
  .let-talk h2 {
    color: #289ff9 !important;
    font-size: 30px; }
  .let-talk p {
    color: #454f5b;
    font-size: 15px;
    font-weight: 100;
    line-height: 28px; }

.form_contact input[type="text"], .form_contact textarea[type="text"], .form_contact input[type="email"] {
  background: #fff;
  width: 100%;
  margin-top: 2%;
  padding: 12px 15px;
  border-radius: 6px;
  border: 1px solid #dddddd;
  color: #454f5b !important;
  font-size: 14px;
  outline: none; }
.form_contact .email-text {
  display: flex; }
  .form_contact .email-text input:first-child {
    margin-right: 15px; }
.form_contact .btn-sec {
  float: right; }
  .form_contact .btn-sec button {
    margin-right: 0px; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #454f5b !important;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #454f5b !important; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #454f5b !important; }

.contact-block-inside {
  background: url(../../assets/img/pattern-light.jpg) repeat center center;
  background-size: cover;
  text-align: center;
  padding: 130px 0;
  clear: both; }
  .contact-block-inside .contact-block-subtitle {
    font-size: 16px;
    padding-top: 20px;
    line-height: 25px; }

.contact-block-text h2 {
  font-size: 30px; }

.proposal {
  background-color: #e6e8e9;
  text-align: center; }
  .proposal .proposal-talk {
    padding: 33px 0 60px;
    border-top: 4px solid #289ff9; }
  .proposal .project-discuss {
    width: 100%; }
    .proposal .project-discuss p {
      color: #7b7d83;
      padding: 5px 0;
      font-size: 30px;
      text-align: center;
      margin-bottom: 33px; }
    .proposal .project-discuss .contact-pro {
      padding: 28px 30px;
      border-top: 1px solid #c6c9cb;
      width: 92%;
      text-align: center;
      margin: 0 auto;
      font-size: 26px; }
      .proposal .project-discuss .contact-pro ul {
        display: flex;
        justify-content: center;
        color: #484b54;
        font-size: 22px; }
        .proposal .project-discuss .contact-pro ul li {
          padding: 0px 20px; }
          .proposal .project-discuss .contact-pro ul li a {
            color: #484b54;
            font-size: 20px; }
    .proposal .project-discuss .btn-sec {
      margin: 45px auto 20px;
      width: 100%;
      float: left;
      text-align: center;
      padding: 0px; }

.social-sec {
  background: url(../../assets/img/location-bg.gif) left top;
  padding: 60px 0 40px;
  color: #797f84;
  line-height: 23px; }
  .social-sec .social-fb a {
    width: 57px;
    height: 57px;
    float: left;
    zoom: 1; }

.ftr-servlst li:hover {
  color: #52bad5; }

.check-box {
  align-items: center;
  display: flex; }
  .check-box span {
    padding-left: 10px; }

.option-name {
  font-size: 13px; }

.check-container {
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  font-size: 18px;
  user-select: none; }

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.ix-checkmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #b7bdc1; }

.check-container input:checked ~ .ix-checkmark {
  background-color: #2196F3; }

.ix-checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.check-container input:checked ~ .ix-checkmark:after {
  display: block; }

.pad-check {
  padding: 20px; }

.check-container .ix-checkmark:after {
  left: 7px;
  top: 4px;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg); }

@media (min-width: 1440px) {
  .container {
    max-width: 1320px; } }
.pointer {
  pointer-events: none; }

body {
  color: #636375;
  background: #f5f7fa !important;
  overflow-x: hidden;
  overflow-y: auto; }

h1, h2, h3, h4, h5 {
  font-family: "acumin-pro",sans-serif;
  color: #343745;
  font-weight: 800;
  clear: both;
  padding: .5rem 0 0 0;
  line-height: 1.2; }

.home-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  height: 80vh;
  z-index: 1;
  position: relative;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px; }
  .home-bg .header-class {
    height: auto;
    background: transparent;
    z-index: 9;
    transition: all .4s ease-in-out; }
    .home-bg .header-class .navbar .navbar-brand {
      color: #343745;
      font-weight: 700;
      font-size: 26px; }
    .home-bg .header-class .navbar .navbar-nav {
      align-items: center;
      margin-top: 10px; }
      .home-bg .header-class .navbar .navbar-nav .nav-item {
        position: relative;
        cursor: pointer;
        padding-left: 15px; }
        .home-bg .header-class .navbar .navbar-nav .nav-item .nav-link {
          color: #343745;
          text-transform: uppercase;
          font-weight: 600;
          position: relative;
          padding: 0px;
          margin-left: 20px;
          overflow: hidden;
          padding-bottom: 10px; }
          .home-bg .header-class .navbar .navbar-nav .nav-item .nav-link::before {
            content: "";
            position: absolute;
            left: 0px;
            bottom: 1px;
            width: 6px;
            height: 6px;
            background-color: #53bad5;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            display: none; }
          .home-bg .header-class .navbar .navbar-nav .nav-item .nav-link::after {
            content: "";
            position: absolute;
            left: 11px;
            bottom: 2px;
            width: 0;
            height: 2px;
            background-color: #53bad5;
            -moz-transition-property: all;
            -o-transition-property: all;
            -webkit-transition-property: all;
            transition-property: all;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            opacity: 0;
            border: 0px; }
        .home-bg .header-class .navbar .navbar-nav .nav-item:hover .nav-link::before, .home-bg .header-class .navbar .navbar-nav .nav-item.active .nav-link::before {
          display: block; }
        .home-bg .header-class .navbar .navbar-nav .nav-item:hover .nav-link::after, .home-bg .header-class .navbar .navbar-nav .nav-item.active .nav-link::after {
          width: 100%;
          right: 0;
          opacity: 1; }
        .home-bg .header-class .navbar .navbar-nav .nav-item:hover .nav-link, .home-bg .header-class .navbar .navbar-nav .nav-item.active .nav-link {
          color: #52bad5; }
        .home-bg .header-class .navbar .navbar-nav .nav-item.show .nav-link {
          color: #52bad5; }
        .home-bg .header-class .navbar .navbar-nav .nav-item.show .nav-link::before {
          display: block; }
        .home-bg .header-class .navbar .navbar-nav .nav-item.show .nav-link::after {
          width: 100%;
          right: 0;
          opacity: 1; }
        .home-bg .header-class .navbar .navbar-nav .nav-item:hover .sub-menu {
          display: block; }
      .home-bg .header-class .navbar .navbar-nav .btn-search {
        padding-left: 20px;
        padding-bottom: 12px; }
        .home-bg .header-class .navbar .navbar-nav .btn-search .fa {
          color: #343745; }
      .home-bg .header-class .navbar .navbar-nav .dropdown-menu {
        font-size: 12px;
        min-width: 190px;
        margin-top: 21px;
        background-color: #171717;
        padding: 0px;
        border-radius: 0px; }
        .home-bg .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item {
          padding: 10px 15px;
          color: #bebebe;
          font-size: 12px;
          font-weight: 600;
          background: transparent;
          border-bottom: 1px solid #313131;
          position: relative;
          cursor: pointer; }
          .home-bg .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
            color: #52bad5; }
    .home-bg .header-class .navbar .form-inline {
      position: absolute;
      right: 0px;
      top: 90px;
      display: none; }
      .home-bg .header-class .navbar .form-inline .form-control {
        border-radius: 30px;
        color: #222;
        border: transparent;
        box-shadow: 1px 1px 8px 1px #9c9c9c57;
        padding: 15px;
        font-size: 13px;
        font-weight: 500; }
  .home-bg .header-class.small {
    position: fixed;
    width: 100%;
    font-size: 100%;
    background: #232323;
    box-shadow: 1px 1px 1px 1px #b7b7b952; }
    .home-bg .header-class.small .navbar .navbar-brand {
      color: #fff; }
    .home-bg .header-class.small .navbar .nav-item .nav-link {
      color: #fff; }
    .home-bg .header-class.small .navbar-nav .btn-search .fa {
      color: #fff; }
    .home-bg .header-class.small .down-arrow-item::after {
      border-color: #fff; }
    .home-bg .header-class.small .down-arrow-item.active::after {
      border-color: #52bad5; }
  .home-bg .home-section {
    width: 100%;
    position: absolute;
    top: 30%;
    justify-content: center;
    margin: auto;
    text-align: center;
    display: none; }
    .home-bg .home-section .head-one {
      margin-bottom: 10px; }
      .home-bg .home-section .head-one h1 {
        color: #fff;
        font-weight: 500;
        font-size: 44px;
        width: 50%;
        letter-spacing: 2px;
        display: inline-block;
        font-family: "acumin-pro",sans-serif; }
    .home-bg .home-section .head-two {
      margin-bottom: 10px; }
      .home-bg .home-section .head-two p {
        color: #fff;
        font-size: 16px;
        padding: 15px 0px;
        width: 600px;
        margin: 0 auto; }
    .home-bg .home-section .order-btn {
      margin: 20px 0px; }
      .home-bg .home-section .order-btn button {
        padding: 12px 35px;
        line-height: 16px;
        border-radius: 30px;
        background-color: #03A9F4;
        display: inline-block;
        color: #fff;
        font-weight: 700;
        transition: all 0.3s ease;
        overflow: hidden;
        position: relative; }
        .home-bg .home-section .order-btn button:hover {
          background-color: #2196F3; }
      .home-bg .home-section .order-btn ::before {
        position: absolute;
        height: 100%;
        font-size: 13px;
        line-height: 3.5;
        color: #fff;
        transition: all 0.3s;
        top: -2px;
        left: 130%;
        content: '\f061';
        font-family: FontAwesome; }
      .home-bg .home-section .order-btn ::after {
        content: '';
        position: absolute;
        z-index: -1;
        transition: all 0.3s; }
      .home-bg .home-section .order-btn:hover ::before {
        left: 82%; }

.second-sec .bg-body-zero, .second-sec .bg-body-one, .second-sec .bg-body-two {
  padding: 30px; }

.second-sec .second-row {
  background: #fff;
  margin-top: 30px;
  z-index: 1; }
  .second-sec .second-row .second-body ul li {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #101010;
    margin-bottom: 20px; }
    .second-sec .second-row .second-body ul li .body-one {
      font-family: "acumin-pro",sans-serif;
      font-size: 22px;
      padding-left: 15px;
      text-transform: capitalize; }
    .second-sec .second-row .second-body ul li .normal-btn {
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 600;
      transition: all 0.6s ease; }
    .second-sec .second-row .second-body ul li:last-child {
      margin-bottom: 0px; }
.second-sec .bg-body-zero {
  background: #FFD44C;
  border-top-left-radius: 10px; }
.second-sec .bg-body-one {
  background: #e9c051; }
.second-sec .bg-body-two {
  background: #d6b353;
  border-top-right-radius: 10px; }

.third-sec {
  padding: 70px 0px; }
  .third-sec .third-body ul li h4 {
    color: #101010;
    font-size: 57px;
    font-family: "acumin-pro",sans-serif;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px; }
    .third-sec .third-body ul li h4::before {
      position: absolute;
      content: '';
      background-color: #cf9a67;
      width: 100px;
      height: 2px;
      display: inline-block;
      left: 40%;
      bottom: 0px; }
  .third-sec .third-body ul li h5 {
    font-family: "acumin-pro",sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: left;
    color: #0c3653;
    margin-bottom: 20px; }
  .third-sec .third-body ul li p {
    font-size: 15px;
    color: #7f7d7d;
    margin-bottom: 20px;
    text-align: center; }
  .third-sec .third-body ul li .learn-more {
    padding: 10px 20px;
    line-height: 16px;
    background-color: #cf9a67;
    color: #fff;
    font-weight: 700;
    transition: 0.2s all ease-in-out;
    margin: 10px 0px;
    border-radius: 30px;
    position: relative;
    display: inline-block;
    overflow: hidden; }
    .third-sec .third-body ul li .learn-more:hover {
      background-color: #e6882d; }
  .third-sec .third-body ul li:last-child {
    text-align: center; }
  .third-sec .image-sec {
    display: flex; }
    .third-sec .image-sec img {
      border-radius: 12px;
      width: 85%; }
    .third-sec .image-sec .image-one img {
      margin-top: 80px;
      margin-left: -15px;
      width: 100%; }

.fourth-sec {
  background: url("../img/bg-section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 70px 0px; }
  .fourth-sec .head-sec {
    text-align: center;
    margin-bottom: 60px; }
    .fourth-sec .head-sec h4 {
      font-size: 42px;
      font-family: "acumin-pro",sans-serif;
      color: #fff; }
  .fourth-sec .card-sec .card {
    border: none;
    border-radius: 0px;
    padding: 20px;
    background: transparent;
    position: relative; }
    .fourth-sec .card-sec .card:focus {
      outline: none; }
    .fourth-sec .card-sec .card .card-img-top {
      border-radius: 5px; }
    .fourth-sec .card-sec .card .card-body {
      padding: 15px 0px;
      position: relative; }
      .fourth-sec .card-sec .card .card-body ul li {
        color: #fff;
        font-size: 14px; }
        .fourth-sec .card-sec .card .card-body ul li:first-child {
          font-size: 20px;
          font-weight: 700;
          text-transform: uppercase; }
        .fourth-sec .card-sec .card .card-body ul li:last-child {
          color: #ffd44c;
          margin: 5px 0px; }
      .fourth-sec .card-sec .card .card-body .price {
        position: absolute;
        right: 5px;
        top: 35px; }
        .fourth-sec .card-sec .card .card-body .price span {
          color: #ffd44c;
          font-family: "acumin-pro",sans-serif;
          font-size: 24px; }
      .fourth-sec .card-sec .card .card-body .menu-info {
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
        letter-spacing: 1px;
        font-size: 10px;
        text-transform: uppercase;
        pointer-events: none; }
        .fourth-sec .card-sec .card .card-body .menu-info .menu-inner {
          display: inline-block;
          background: rgba(0, 0, 0, 0.7);
          padding: 12px 0px;
          width: 100%;
          font-weight: 700;
          text-align: center;
          color: #fff;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px; }
          .fourth-sec .card-sec .card .card-body .menu-info .menu-inner .fa {
            padding-right: 8px;
            color: #ffd44c;
            font-size: 16px; }

.fifth-sec {
  background-color: #ffd44c;
  padding: 35px 0px; }
  .fifth-sec .promo-item {
    width: 100%;
    text-align: center; }
    .fifth-sec .promo-item .promo-item-icon .fa {
      font-size: 36px; }
    .fifth-sec .promo-item .promo-item-content-wrapper h2 {
      font-size: 28px;
      font-family: "acumin-pro",sans-serif;
      margin: 10px 0px; }
    .fifth-sec .promo-item .promo-item-content-wrapper p {
      color: #222;
      font-size: 15px; }

.footer-detail {
  background-color: #fff;
  color: #343745;
  padding: 40px 0px 0px;
  background-image: url(../../assets/img/map.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .footer-detail .text-head {
    font-size: 24px;
    text-transform: capitalize;
    font-family: "acumin-pro",sans-serif;
    margin-bottom: 20px;
    color: #343745; }
  .footer-detail .text-sub {
    color: #343745;
    font-size: 14px; }
  .footer-detail .list li {
    margin-bottom: 12px;
    padding-left: 10px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.2s ease; }
    .footer-detail .list li:hover {
      color: #52bad5; }
    .footer-detail .list li:before {
      content: "\f105";
      font-family: FontAwesome;
      text-align: center;
      position: absolute;
      left: 0px;
      display: block;
      height: 20px;
      width: 20px;
      margin-top: -1px; }

.footer-content {
  padding-bottom: 20px; }
  .footer-content .ftr-servlst li {
    padding-bottom: 12px; }
    .footer-content .ftr-servlst li .coun-name {
      padding-bottom: 5px; }

.footer-title .navbar-brand {
  color: #343745;
  font-weight: 700;
  font-size: 26px; }

.copyright {
  padding: 20px 0px;
  background-color: rgba(0, 0, 0, 0.9); }
  .copyright p {
    color: #fff;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 12px; }

.home-bg.full-header .header-class .container {
  max-width: 100%; }

.home-bg.light-header .header-class {
  background: #ffffff; }
  .home-bg.light-header .header-class .navbar-nav .nav-item .nav-link {
    color: #222; }
  .home-bg.light-header .header-class .navbar-nav .home-bg.light-header .header-class.small {
    position: fixed;
    width: 100%;
    font-size: 100%;
    background: #232323; }
    .home-bg.light-header .header-class .navbar-nav .home-bg.light-header .header-class.small .navbar .navbar-brand {
      color: #fff; }
    .home-bg.light-header .header-class .navbar-nav .home-bg.light-header .header-class.small .navbar .nav-item .nav-link {
      color: #fff; }
  .home-bg.light-header .header-class .navbar-nav .dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #eee; }
    .home-bg.light-header .header-class .navbar-nav .dropdown-menu .dropdown-item {
      color: #444;
      border-bottom: 0px; }
      .home-bg.light-header .header-class .navbar-nav .dropdown-menu .dropdown-item::after {
        border: solid #444;
        border-width: 0 2px 2px 0; }
      .home-bg.light-header .header-class .navbar-nav .dropdown-menu .dropdown-item:hover {
        color: #52bad5; }
      .home-bg.light-header .header-class .navbar-nav .dropdown-menu .dropdown-item:hover::after {
        border: solid #52bad5;
        border-width: 0 2px 2px 0; }
  .home-bg.light-header .header-class .navbar-brand {
    color: #222; }

.home-bg.dark-header .header-class {
  background: #000; }
  .home-bg.dark-header .header-class .navbar-nav .nav-item .nav-link {
    color: #fff; }
  .home-bg.dark-header .header-class .navbar-nav .dropdown-menu {
    background-color: #171717;
    border: 1px solid #171717; }
    .home-bg.dark-header .header-class .navbar-nav .dropdown-menu .dropdown-item {
      color: #bebebe; }
      .home-bg.dark-header .header-class .navbar-nav .dropdown-menu .dropdown-item::after {
        border: solid #bebebe;
        border-width: 0 2px 2px 0; }
      .home-bg.dark-header .header-class .navbar-nav .dropdown-menu .dropdown-item:hover {
        color: #52bad5; }
      .home-bg.dark-header .header-class .navbar-nav .dropdown-menu .dropdown-item:hover::after {
        border: solid #52bad5;
        border-width: 0 2px 2px 0; }
  .home-bg.dark-header .header-class .navbar-brand {
    color: #fff; }

.home-bg.color-header .header-class {
  background: #000046;
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
  background: linear-gradient(to right, #1CB5E0, #000046); }
  .home-bg.color-header .header-class .navbar .navbar-brand {
    color: #fff; }
  .home-bg.color-header .header-class .navbar .navbar-nav .nav-item .nav-link {
    color: #fff; }
    .home-bg.color-header .header-class .navbar .navbar-nav .nav-item .nav-link::before {
      background: #fff; }
    .home-bg.color-header .header-class .navbar .navbar-nav .nav-item .nav-link::after {
      background: #fff; }
  .home-bg.color-header .header-class .navbar .navbar-nav .nav-item.active .nav-link {
    color: #52bad5; }
    .home-bg.color-header .header-class .navbar .navbar-nav .nav-item.active .nav-link::before {
      background: #52bad5; }
    .home-bg.color-header .header-class .navbar .navbar-nav .nav-item.active .nav-link::after {
      background: #52bad5; }
  .home-bg.color-header .header-class .navbar .navbar-nav .dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #eee; }
    .home-bg.color-header .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item {
      color: #444;
      border-bottom: 0px; }
      .home-bg.color-header .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item::after {
        border: solid #444;
        border-width: 0 2px 2px 0; }
      .home-bg.color-header .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
        color: #52bad5; }
      .home-bg.color-header .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item:hover::after {
        border: solid #52bad5;
        border-width: 0 2px 2px 0; }
  .home-bg.color-header .header-class .navbar .navbar-nav .btn-search .fa {
    color: #fff; }

.home-bg.transparent-header .header-class {
  background: transparent; }
  .home-bg.transparent-header .header-class .navbar .navbar-brand {
    color: #343745; }
  .home-bg.transparent-header .header-class .navbar .navbar-nav .nav-item .nav-link {
    color: #343745; }
  .home-bg.transparent-header .header-class .navbar .navbar-nav .nav-item:hover .nav-link, .home-bg.transparent-header .header-class .navbar .navbar-nav .nav-item.active .nav-link {
    color: #52bad5; }
  .home-bg.transparent-header .header-class .navbar .navbar-nav .dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #eee; }
    .home-bg.transparent-header .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item {
      color: #444;
      border-bottom: 0px; }
      .home-bg.transparent-header .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item::after {
        border: solid #444;
        border-width: 0 2px 2px 0; }
      .home-bg.transparent-header .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
        color: #52bad5; }
      .home-bg.transparent-header .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item:hover::after {
        border: solid #52bad5;
        border-width: 0 2px 2px 0; }
  .home-bg.transparent-header .header-class .navbar .navbar-nav .btn-search .fa {
    color: #fff; }

.down-arrow-item::after {
  content: '';
  position: absolute;
  right: -10px;
  top: 8px;
  border: solid #343745;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  transition: all 0.2s ease; }
.down-arrow-item:hover::after, .down-arrow-item.active::after {
  border-color: #52bad5; }
.down-arrow-item:hover, .down-arrow-item.active {
  color: #52bad5;
  background: transparent; }

.dropdown-submenu {
  position: relative; }
  .dropdown-submenu .arrow-item::after {
    content: '';
    position: absolute;
    right: 20px;
    top: 16px;
    border: solid #bebebe;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(-45deg);
    transition: all 0.2s ease; }
  .dropdown-submenu .arrow-item:hover::after, .dropdown-submenu .arrow-item.active::after {
    border-color: #52bad5; }
  .dropdown-submenu .arrow-item:hover, .dropdown-submenu .arrow-item.active {
    color: #52bad5;
    background: transparent; }

.dropdown-submenu .dropdown-menu {
  top: -21px;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem; }

.home-bg.modern-menu-light .header-class {
  background: transparent; }
  .home-bg.modern-menu-light .header-class .navbar {
    padding: 15px 30px;
    position: relative;
    top: 30px;
    background: #ffffff;
    height: 80px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); }
    .home-bg.modern-menu-light .header-class .navbar .navbar-brand {
      color: #222; }
    .home-bg.modern-menu-light .header-class .navbar .navbar-nav .nav-item .nav-link {
      color: #222; }
    .home-bg.modern-menu-light .header-class .navbar .navbar-nav .nav-item.active .nav-link {
      color: #52bad5; }
      .home-bg.modern-menu-light .header-class .navbar .navbar-nav .nav-item.active .nav-link::before {
        background: #52bad5; }
      .home-bg.modern-menu-light .header-class .navbar .navbar-nav .nav-item.active .nav-link::after {
        background: #52bad5; }
    .home-bg.modern-menu-light .header-class .navbar .navbar-nav .dropdown-menu {
      background-color: #ffffff;
      border: 1px solid #eee; }
      .home-bg.modern-menu-light .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item {
        color: #444;
        border-bottom: 0px; }
        .home-bg.modern-menu-light .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item::after {
          border: solid #444;
          border-width: 0 2px 2px 0; }
        .home-bg.modern-menu-light .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
          color: #52bad5; }
        .home-bg.modern-menu-light .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item:hover::after {
          border: solid #52bad5;
          border-width: 0 2px 2px 0; }

.home-bg.modern-menu-dark .header-class {
  background: transparent; }
  .home-bg.modern-menu-dark .header-class .navbar {
    padding: 15px 30px;
    position: relative;
    top: 30px;
    background: #000;
    height: 80px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); }
    .home-bg.modern-menu-dark .header-class .navbar .navbar-brand {
      color: #fff; }
    .home-bg.modern-menu-dark .header-class .navbar .navbar-nav .nav-item .nav-link {
      color: #fff; }
    .home-bg.modern-menu-dark .header-class .navbar .navbar-nav .nav-item.active .nav-link {
      color: #52bad5; }
      .home-bg.modern-menu-dark .header-class .navbar .navbar-nav .nav-item.active .nav-link::before {
        background: #52bad5; }
      .home-bg.modern-menu-dark .header-class .navbar .navbar-nav .nav-item.active .nav-link::after {
        background: #52bad5; }
    .home-bg.modern-menu-dark .header-class .navbar .navbar-nav .dropdown-menu {
      background-color: #171717;
      border: 1px solid #171717; }
      .home-bg.modern-menu-dark .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item {
        color: #bebebe; }
        .home-bg.modern-menu-dark .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item::after {
          border: solid #bebebe;
          border-width: 0 2px 2px 0; }
        .home-bg.modern-menu-dark .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
          color: #52bad5; }
        .home-bg.modern-menu-dark .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item:hover::after {
          border: solid #52bad5;
          border-width: 0 2px 2px 0; }

.home-bg.modern-menu-colored .header-class {
  background: transparent; }
  .home-bg.modern-menu-colored .header-class .navbar {
    padding: 15px 30px;
    position: relative;
    top: 30px;
    background: #000046;
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    background: linear-gradient(to right, #1CB5E0, #000046);
    height: 80px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); }
    .home-bg.modern-menu-colored .header-class .navbar .navbar-brand {
      color: #fff; }
    .home-bg.modern-menu-colored .header-class .navbar .navbar-nav .nav-item .nav-link {
      color: #fff; }
      .home-bg.modern-menu-colored .header-class .navbar .navbar-nav .nav-item .nav-link::before {
        background: #fff; }
      .home-bg.modern-menu-colored .header-class .navbar .navbar-nav .nav-item .nav-link::after {
        background: #fff; }
    .home-bg.modern-menu-colored .header-class .navbar .navbar-nav .nav-item.active .nav-link {
      color: #52bad5; }
      .home-bg.modern-menu-colored .header-class .navbar .navbar-nav .nav-item.active .nav-link::before {
        background: #52bad5; }
      .home-bg.modern-menu-colored .header-class .navbar .navbar-nav .nav-item.active .nav-link::after {
        background: #52bad5; }
    .home-bg.modern-menu-colored .header-class .navbar .navbar-nav .dropdown-menu {
      background-color: #ffffff;
      border: 1px solid #eee; }
      .home-bg.modern-menu-colored .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item {
        color: #444;
        border-bottom: 0px; }
        .home-bg.modern-menu-colored .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item::after {
          border: solid #444;
          border-width: 0 2px 2px 0; }
        .home-bg.modern-menu-colored .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
          color: #52bad5; }
        .home-bg.modern-menu-colored .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item:hover::after {
          border: solid #52bad5;
          border-width: 0 2px 2px 0; }
    .home-bg.modern-menu-colored .header-class .navbar .navbar-nav .btn-search .fa {
      color: #fff; }
  .home-bg.modern-menu-colored .header-class.small .navbar {
    background: #232323; }
    .home-bg.modern-menu-colored .header-class.small .navbar .navbar-brand {
      color: #fff; }
    .home-bg.modern-menu-colored .header-class.small .navbar .navbar-nav .nav-item.active {
      color: #52bad5; }

.home-bg.modern-menu-transparent .header-class {
  background: transparent; }
  .home-bg.modern-menu-transparent .header-class .navbar {
    padding: 15px 30px;
    position: relative;
    top: 30px;
    background: transparent;
    height: 80px; }
    .home-bg.modern-menu-transparent .header-class .navbar .navbar-brand {
      color: #343745; }
    .home-bg.modern-menu-transparent .header-class .navbar .navbar-nav .nav-item .nav-link {
      color: #343745; }
    .home-bg.modern-menu-transparent .header-class .navbar .navbar-nav .nav-item:hover .nav-link, .home-bg.modern-menu-transparent .header-class .navbar .navbar-nav .nav-item.active .nav-link {
      color: #52bad5; }
    .home-bg.modern-menu-transparent .header-class .navbar .navbar-nav .nav-item.active .nav-link {
      color: #52bad5; }
      .home-bg.modern-menu-transparent .header-class .navbar .navbar-nav .nav-item.active .nav-link::before {
        background: #52bad5; }
      .home-bg.modern-menu-transparent .header-class .navbar .navbar-nav .nav-item.active .nav-link::after {
        background: #52bad5; }
    .home-bg.modern-menu-transparent .header-class .navbar .navbar-nav .dropdown-menu {
      background-color: #ffffff;
      border: 1px solid #eee; }
      .home-bg.modern-menu-transparent .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item {
        color: #444;
        border-bottom: 0px; }
        .home-bg.modern-menu-transparent .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item::after {
          border: solid #444;
          border-width: 0 2px 2px 0; }
        .home-bg.modern-menu-transparent .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
          color: #52bad5; }
        .home-bg.modern-menu-transparent .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item:hover::after {
          border: solid #52bad5;
          border-width: 0 2px 2px 0; }
    .home-bg.modern-menu-transparent .header-class .navbar .navbar-nav .btn-search .fa {
      color: #fff; }
  .home-bg.modern-menu-transparent .header-class.small .navbar {
    background: #232323; }
    .home-bg.modern-menu-transparent .header-class.small .navbar .navbar-brand {
      color: #fff; }
    .home-bg.modern-menu-transparent .header-class.small .navbar .navbar-nav .nav-item .nav-link {
      color: #fff; }
    .home-bg.modern-menu-transparent .header-class.small .navbar .navbar-nav .nav-item:hover .nav-link, .home-bg.modern-menu-transparent .header-class.small .navbar .navbar-nav .nav-item.active .nav-link {
      color: #52bad5; }
    .home-bg.modern-menu-transparent .header-class.small .navbar .navbar-nav .nav-item.active .nav-link {
      color: #52bad5; }
      .home-bg.modern-menu-transparent .header-class.small .navbar .navbar-nav .nav-item.active .nav-link::before {
        background: #52bad5; }
      .home-bg.modern-menu-transparent .header-class.small .navbar .navbar-nav .nav-item.active .nav-link::after {
        background: #52bad5; }

.home-bg.mini-menu .header-class {
  height: 60px;
  background: #222; }
  .home-bg.mini-menu .header-class .navbar {
    padding: 5px 0px; }
    .home-bg.mini-menu .header-class .navbar .navbar-brand {
      color: #fff; }
    .home-bg.mini-menu .header-class .navbar .navbar-nav .nav-item .nav-link {
      color: #fff; }
    .home-bg.mini-menu .header-class .navbar .navbar-nav .nav-item.active .nav-link {
      color: #52bad5; }
      .home-bg.mini-menu .header-class .navbar .navbar-nav .nav-item.active .nav-link::before {
        background: #52bad5; }
      .home-bg.mini-menu .header-class .navbar .navbar-nav .nav-item.active .nav-link::after {
        background: #52bad5; }
    .home-bg.mini-menu .header-class .navbar .dropdown-menu {
      background-color: #171717;
      border: 1px solid #171717; }
      .home-bg.mini-menu .header-class .navbar .dropdown-menu .dropdown-item {
        color: #bebebe; }
        .home-bg.mini-menu .header-class .navbar .dropdown-menu .dropdown-item::after {
          border: solid #bebebe;
          border-width: 0 2px 2px 0; }
        .home-bg.mini-menu .header-class .navbar .dropdown-menu .dropdown-item:hover {
          color: #52bad5; }
        .home-bg.mini-menu .header-class .navbar .dropdown-menu .dropdown-item:hover::after {
          border: solid #52bad5;
          border-width: 0 2px 2px 0; }

.home-bg.fix-menu .header-class {
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); }
  .home-bg.fix-menu .header-class .navbar .navbar-brand {
    color: #222; }
  .home-bg.fix-menu .header-class .navbar .navbar-nav .nav-item .nav-link {
    color: #222; }
  .home-bg.fix-menu .header-class .navbar .navbar-nav .nav-item.active .nav-link {
    color: #52bad5; }
    .home-bg.fix-menu .header-class .navbar .navbar-nav .nav-item.active .nav-link::before {
      background: #52bad5; }
    .home-bg.fix-menu .header-class .navbar .navbar-nav .nav-item.active .nav-link::after {
      background: #52bad5; }
  .home-bg.fix-menu .header-class .navbar .navbar-nav .dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #eee; }
    .home-bg.fix-menu .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item {
      color: #444;
      border-bottom: 0px; }
      .home-bg.fix-menu .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item::after {
        border: solid #444;
        border-width: 0 2px 2px 0; }
      .home-bg.fix-menu .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
        color: #52bad5; }
      .home-bg.fix-menu .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item:hover::after {
        border: solid #52bad5;
        border-width: 0 2px 2px 0; }

.home-bg.disable-menu .header-class {
  background: #000046;
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
  background: linear-gradient(to right, #1CB5E0, #000046); }
  .home-bg.disable-menu .header-class.small {
    position: relative; }
  .home-bg.disable-menu .header-class .navbar .navbar-brand {
    color: #fff; }
  .home-bg.disable-menu .header-class .navbar .navbar-nav .nav-item .nav-link {
    color: #fff; }
    .home-bg.disable-menu .header-class .navbar .navbar-nav .nav-item .nav-link::before {
      background: #fff; }
    .home-bg.disable-menu .header-class .navbar .navbar-nav .nav-item .nav-link::after {
      background: #fff; }
  .home-bg.disable-menu .header-class .navbar .navbar-nav .nav-item.active .nav-link {
    color: #52bad5; }
    .home-bg.disable-menu .header-class .navbar .navbar-nav .nav-item.active .nav-link::before {
      background: #52bad5; }
    .home-bg.disable-menu .header-class .navbar .navbar-nav .nav-item.active .nav-link::after {
      background: #52bad5; }
  .home-bg.disable-menu .header-class .navbar .navbar-nav .dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #eee; }
    .home-bg.disable-menu .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item {
      color: #444;
      border-bottom: 0px; }
      .home-bg.disable-menu .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item::after {
        border: solid #444;
        border-width: 0 2px 2px 0; }
      .home-bg.disable-menu .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
        color: #52bad5; }
      .home-bg.disable-menu .header-class .navbar .navbar-nav .dropdown-menu .dropdown-item:hover::after {
        border: solid #52bad5;
        border-width: 0 2px 2px 0; }
  .home-bg.disable-menu .header-class .navbar .navbar-nav .btn-search .fa {
    color: #343745; }

.home-bg.right-logo-menu .header-class .navbar {
  flex-direction: row-reverse; }
  .home-bg.right-logo-menu .header-class .navbar .navbar-nav {
    margin-left: 0px !important; }
  .home-bg.right-logo-menu .header-class .navbar .form-inline {
    left: 30%;
    right: 0px; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 13px !important; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 13px !important; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 13px !important; }

/* Madhavi css start */
.page-menu .home-bg {
  height: 57vh;
  background: #fff; }
  .page-menu .home-bg .home-section {
    display: block;
    background: #f5f5f5;
    top: 20%;
    padding: 60px 0; }
    .page-menu .home-bg .home-section h1 {
      color: #171717; }
      .page-menu .home-bg .home-section h1 span {
        display: none; }
    .page-menu .home-bg .home-section .head-one span {
      display: none; }
    .page-menu .home-bg .home-section .head-one .default span.default {
      display: inline-flex; }
    .page-menu .home-bg .home-section .head-one .rounded span.rounded {
      display: inline-flex; }
    .page-menu .home-bg .home-section .head-one .outline span.outline {
      display: inline-flex; }
    .page-menu .home-bg .home-section .head-one .lines span.lines {
      display: inline-flex; }
    .page-menu .home-bg .home-section .head-one .light span.light {
      display: inline-flex; }
    .page-menu .home-bg .home-section .head-one .solid span.solid {
      display: inline-flex; }
    .page-menu .home-bg .home-section .head-one .dark span.dark {
      display: inline-flex; }
    .page-menu .home-bg .home-section .head-one .creative span.creative {
      display: inline-flex; }
    .page-menu .home-bg .home-section .head-two a {
      color: #5b5b5bc9;
      font-size: 11px;
      position: relative;
      opacity: .8;
      width: 80px;
      display: inline-block;
      text-align: center;
      cursor: pointer; }
      .page-menu .home-bg .home-section .head-two a span {
        display: none; }
      .page-menu .home-bg .home-section .head-two a.default span.default {
        display: inline-flex; }
      .page-menu .home-bg .home-section .head-two a.rounded span.rounded {
        display: inline-flex; }
      .page-menu .home-bg .home-section .head-two a.outline span.outline {
        display: inline-flex; }
      .page-menu .home-bg .home-section .head-two a.lines span.lines {
        display: inline-flex; }
      .page-menu .home-bg .home-section .head-two a.solid span.solid {
        display: inline-flex; }
      .page-menu .home-bg .home-section .head-two a.light span.light {
        display: inline-flex; }
      .page-menu .home-bg .home-section .head-two a.dark span.dark {
        display: inline-flex; }
      .page-menu .home-bg .home-section .head-two a.creative span.creative {
        display: inline-flex; }
      .page-menu .home-bg .home-section .head-two a:after {
        content: '';
        background-image: url("../img/down-arrow.svg");
        position: absolute;
        right: -26px;
        background-position: 39% 18%;
        background-size: 13%;
        background-repeat: no-repeat;
        top: 0;
        z-index: 99;
        width: 70%;
        transform: rotate(-90deg);
        height: 50%; }
      .page-menu .home-bg .home-section .head-two a:last-child:after {
        display: none; }
      .page-menu .home-bg .home-section .head-two a:hover {
        color: #2250fc; }
      .page-menu .home-bg .home-section .head-two a:last-child {
        color: #565656; }
  .page-menu .home-bg .two-coloum-nav {
    display: none; }

.menu-types.dark {
  background-color: #000; }
  .menu-types.dark ul li a {
    color: #fff; }
    .menu-types.dark ul li a:hover {
      border-radius: 35px;
      background: #8a8a8a6e;
      color: #fff; }
  .menu-types.dark ul li.pointer a {
    border-radius: 35px;
    background: #8a8a8a6e; }
  .menu-types.dark ul li ul.menu-last li a {
    color: #565656; }
  .menu-types.dark ul li svg path {
    fill: #fff !important; }
.menu-types li:hover .menu-last li a {
  background: transparent;
  border: none;
  color: #565656 !important; }
  .menu-types li:hover .menu-last li a:after {
    display: none; }

.menu-types {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }
  .menu-types ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .menu-types ul li a {
      color: #565656;
      padding: 10px 30px;
      font-size: 13px;
      display: block;
      font-weight: 600;
      cursor: pointer;
      margin: 10px 0;
      border: 2px solid transparent; }
    .menu-types ul li ul.menu-last {
      display: block;
      padding: 15px 17px;
      display: none;
      transition: 0.3s; }
      .menu-types ul li ul.menu-last .bar {
        display: none; }
      .menu-types ul li ul.menu-last li a {
        padding: 0 0 5px 0;
        margin: 0;
        font-weight: 300; }
        .menu-types ul li ul.menu-last li a:hover {
          background-color: transparent;
          color: #2250fc !important; }
    .menu-types ul li:hover ul.menu-last {
      display: block; }
    .menu-types ul li.dropdown a svg {
      width: 10px;
      height: 10px; }
      .menu-types ul li.dropdown a svg path {
        fill: #565656; }
  .menu-types.rounded li:hover a, .menu-types.solid li:hover a {
    background: #2250fc;
    border-radius: 35px;
    color: #fff !important; }
  .menu-types.rounded li.pointer a, .menu-types.solid li.pointer a {
    background: #2250fc;
    border-radius: 35px;
    color: #fff; }
  .menu-types.rounded li .dropdown a svg path, .menu-types.solid li .dropdown a svg path {
    fill: #fff; }
  .menu-types.rounded .dropdown a svg path {
    fill: #fff; }
  .menu-types.outline li a:hover {
    background: #fff;
    border-radius: 35px;
    color: #2250fc !important;
    border: 2px solid #2250fc; }
  .menu-types.outline li.pointer a {
    background: #fff;
    border-radius: 35px;
    color: #2250fc !important;
    border: 2px solid #2250fc; }
  .menu-types.light li a:hover {
    background: transparent;
    border-radius: 35px;
    color: #565656 !important;
    border: 2px solid #ebebeb; }
  .menu-types.light li.pointer a {
    background: transparent;
    border-radius: 35px;
    color: #565656 !important;
    border: 2px solid #ebebeb; }
  .menu-types.solid li a:hover {
    border-radius: 5px; }
  .menu-types.solid li.pointer a {
    border-radius: 5px; }
  .menu-types.creative li {
    position: relative; }
    .menu-types.creative li a:hover:after {
      background: #171717;
      bottom: 10px; }
    .menu-types.creative li a:after {
      content: '';
      width: 100%;
      height: 2px;
      background: transparent;
      position: absolute;
      left: 0;
      bottom: 0px;
      transition: 0.3s; }
    .menu-types.creative li.pointer a:after {
      background: #171717;
      bottom: 10px; }
  .menu-types.lines li .bar {
    position: relative;
    display: block;
    width: 90px;
    margin: 0 auto; }
    .menu-types.lines li .bar:after, .menu-types.lines li .bar:before {
      content: '';
      height: 1px;
      width: 0;
      bottom: -1px;
      position: absolute;
      background: #5264AE;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all; }
    .menu-types.lines li .bar:before {
      left: 50%; }
    .menu-types.lines li .bar:after {
      right: 50%; }
  .menu-types.lines li:hover a, .menu-types.lines li.pointer a {
    color: #2250fc; }
  .menu-types.lines li:hover span.bar:after, .menu-types.lines li:hover span.bar:before, .menu-types.lines li.pointer span.bar:after, .menu-types.lines li.pointer span.bar:before {
    width: 50%; }
